---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/2167-8359?filter=from-pub-date:2014-03-03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: UTF-8
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"parameter-not-allowed","value":"filter","message":"This
        route does not support filter"}]}'
  recorded_at: Sun, 08 Jun 2025 20:52:53 GMT
recorded_with: VCR 6.3.1
