---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":18169799,"items":[{"DOI":"10.1016\/j.anplas.2018.09.003","title":["Les
        indications des reconstructions mammaires apr\u00e8s mastectomie selon la
        situation carcinologique"]},{"DOI":"10.1016\/j.laa.2017.06.043","title":["A
        bound on the Carath\u00e9odory number"]},{"DOI":"10.1016\/s0034-5288(18)31216-5","title":["Sensitisation
        of preruminant calves and piglets to antigenic protein in early weaning diets:
        control of the systemic antibody responses"]},{"DOI":"10.1016\/s1872-0978(06)01001-5","title":["Chapter
        1 Enterp[...]
