---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":96004801,"items":[{"indexed":{"date-parts":[[2017,10,26]],"date-time":"2017-10-26T06:43:59Z","timestamp":1509000239984},"reference-count":0,"publisher":"Japanese
        Society of Periodontology","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J
        Jpn Soc Periodontol"],"published-print":{"date-parts":[[2001]]},"DOI":"10.2329\/perio.43.260","type":"journal-article","created":{"date-parts":[[2011,11,16]],"date-time":"2011-11-16T18:06:52Z","timestamp":1321466812000},"page":"260-272","source":"Crossref","is-referenced-by-count":0,"title":["Effects
        of Lipopolysaccharide on Phagocytic Function in Polymorphonuclear Leukocytes
        Using Flow Cytometry and Confocal Laser Scanning Microscopy."],"prefix":"10.2329","volume":"43","author":[{"given":"Yasuko","family":"Saitoh","affiliation":[]},{"given":"Youichi","family":"Saitoh","affiliation":[]},{"given":"Yukihiro","family":"Numabe","affiliation":[]},{"given":"Kyuichi","family":"Kamoi","affiliation":[]}],"member":"1156","container-title":["Nihon
        Shishubyo Gakkai Kaishi (Journal of the Japanese Society of Periodontology)"],"original-title":["\u591a\u5f62\u6838\u767d\u8840\u7403\u306e\u8ca7\u98df\u6a5f\u80fd\u306b\u5bfe\u3059\u308b\uff2c\uff49\uff50\uff4f\uff50\uff4f\uff4c\uff59\uff53\uff41\uff43\uff43\uff48\uff41\uff52\uff49\uff44\uff45\u306e\u5f71\u97ff\u306b\u3064\u3044\u3066\u3000\u3000\u30d5\u30ed\u30fc\u30b5\u30a4\u30c8\u30e1\u30fc\u30bf\u30fc\u3068\u5171\u7126\u70b9\u30ec\u30fc\u30b6\u30fc\u8d70\u67fb\u9855\u5fae\u93e1\u306b\u3088\u308b\u89b3\u5bdf"],"deposited":{"date-parts":[[2011,11,16]],"date-time":"2011-11-16T18:12:01Z","timestamp":1321467121000},"score":1.0,"issued":{"date-parts":[[2001]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2329\/perio.43.260","ISSN":["0385-0110","1880-408X"],"issn-type":[{"value":"0385-0110","type":"print"},{"value":"1880-408X","type":"electronic"}]},{"indexed":{"date-parts":[[2018,1,3]],"date-time":"2018-01-03T20:41:27Z","timestamp":1515012087553},"reference-count":0,"publisher":"National
        Research University, Higher School of Economics (HSE)","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["JSPS"],"abstract":"<jats:p>\u0410\u043b\u0435\u043a\u0441\u0430\u043d\u0434\u0440\u0430
        \u041d\u0438\u043a\u043e\u043b\u0430\u0435\u0432\u043d\u0430 \u041b\u0430\u0442\u044b\u0448\u0435\u0432\u0430
        \u2013 a\u0441\u043f\u0438\u0440\u0430\u043d\u0442, \u0418\u043d\u0441\u0442\u0438\u0442\u0443\u0442
        \u043e\u0431\u0449\u0435\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0445 \u043d\u0430\u0443\u043a,
        \u0420\u043e\u0441\u0441\u0438\u0439\u0441\u043a\u0430\u044f \u0430\u043a\u0430\u0434\u0435\u043c[...]
