---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1803-2427
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1631927186991,"counts":{"current-dois":51,"backfile-dois":172,"total-dois":223},"breakdowns":{"dois-by-issued-year":[[2017,35],[2018,23],[2020,22],[2019,20],[2015,20],[2016,15],[2013,15],[2011,15],[2014,11],[2010,10],[2008,10],[2021,9],[2012,9],[2009,9]]},"publisher":"De
        Gruyter Poland Sp. z o.o.","coverage":{"affiliations-current":0.9803921568627451,"similarity-checking-current":1.0,"funders-backfile":0.0,"licenses-backfile":0.6395348837209301,"funders-current":0.0,"affiliations-backfile":0.6395348837209301,"resource-links-backfile":0.8197674418604651,"orcids-backfile":0.0,"update-policies-current":0.0,"open-references-backfile":1.0,"orcids-current":0.05882352941176471,"similarity-checking-backfile":0.9767441860465116,"references-backfile":0.6453488372093023,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":1.0,"award-numbers-current":0.0,"abstracts-backfile":0.8197674418604651,"resource-links-current":0.823529411764706,"abstracts-current":0.9803921568627451,"open-references-current":1.0,"references-current":0.9803921568627451},"title":"Journal
        of Landscape Ecology","subjects":[{"ASJC":2308,"name":"Management, Monitoring,
        Policy and Law"},{"ASJC":2309,"name":"Nature and Landscape Conservation"},{"ASJC":2303,"name":"Ecology"}],"coverage-type":{"all":{"last-status-check-time":1631927186991,"affiliations":0.7174887892376682,"abstracts":0.8565022421524664,"orcids":0.01345291479820628,"licenses":0.7219730941704036,"references":0.7219730941704036,"funders":0.0,"similarity-checking":0.9820627802690584,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.820627802690583,"open-references":1.0},"backfile":{"last-status-check-time":1631927186991,"affiliations":0.6395348837209301,"abstracts":0.8197674418604651,"orcids":0.0,"licenses":0.6395348837209301,"references":0.6453488372093023,"funders":0.0,"similarity-checking":0.9767441860465116,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.8197674418604651,"open-references":1.0},"current":{"last-status-check-time":1631927186991,"affiliations":0.9803921568627451,"abstracts":0.9803921568627451,"orcids":0.05882352941176471,"licenses":1.0,"references":0.9803921568627451,"funders":0.0,"similarity-checking":1.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.823529411764706,"open-references":1.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":false,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":false,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1803-2427","1805-4196"],"issn-type":[{"type":"print","value":"1803-2427"},{"type":"electronic","value":"1805-4196"}]}}'
  recorded_at: Sat, 18 Sep 2021 16:11:16 GMT
[...]
