---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":340033,"items":[{"DOI":"10.1155\/2020\/6525098","title":["Clinicopathological
        Features of Advanced Gastric Cancers which Were Misjudged and Subjected to
        Endoscopic Submucosal Dissection"]},{"DOI":"10.1155\/2020\/3401067","title":["Ginsenoside
        Rh1 Alleviates HK-2 Apoptosis by Inhibiting ROS and the JNK\/p53 Pathways"]},{"DOI":"10.1100\/tsw.2009.51","title":["The
        Management of Ureteropelvic Junction Obstruction Presenting with Prenatal
        Hydronephrosis"]},{"DOI":"10.1155\/2013\/516357","title":["Rapid Biosynthesis
[...]
