---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"https:\/\/id.crossref.org\/member\/78","name":"Elsevier
        BV","prefix":"https:\/\/id.crossref.org\/prefix\/10.1016"}}'
  recorded_at: Sun, 08 Jun 2025 20:53:16 GMT
recorded_with: VCR 6.3.1
