---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/journal/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":43197,"items":[{"DOI":"10.7711\/feemre3.2014.03.001","title":["Review
        of Environment, Energy and Economics"]},{"DOI":"10.15388\/omee","title":["Organizations
        and Markets in Emerging Economies"]},{"DOI":"10.5555\/test20140318abc","title":["Journal
        of Test deposits"]},{"DOI":"10.9734\/ajahr","title":["Asian Journal of Agricultural
        and Horticultural Research"]},{"DOI":"10.5555\/test20140318","title":["Journal
        of Test deposits"]},{"DOI":"10.11137\/aig","title":["Anu\u00e1rio do Instituto
        de Geoci\u00eancias - UF[...]
