---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2021,12,22]],"date-time":"2021-12-22T00:45:21Z","timestamp":1640133921906},"reference-count":0,"publisher":"PeerJ","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.7717\/peerj.3134\/fig-4","type":"component","created":{"date-parts":[[2017,4,6]],"date-time":"2017-04-06T07:48:41Z","timestamp":1491464921000},"source":"Crossref","is-referenced-by-count":0,"title":["Figure
        4: Analysis of genome alignment between \u201cCa. Desulfopertinax cowenii,\u201d
        \u201cCa. Desulforudis audaxviator\u201d and five closely related single-cell
        genomes."],"prefix":"10.7717","member":"4443","deposited":{"date-parts":[[2017,4,6]],"date-time":"2017-04-06T07:48:48Z","timestamp":1491464928000},"score":0.0,"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.7717\/peerj.3134\/fig-4"},{"indexed":{"date-parts":[[2021,12,19]],"date-time":"2021-12-19T16:27:40Z","timestamp":1639931260899},"reference-count":0,"publisher":"SAGE
        Publications","issue":"4","license":[{"start":{"date-parts":[[1997,12,1]],"date-time":"1997-12-01T00:00:00Z","timestamp":880934400000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/journals.sagepub.com\/page\/policies\/text-and-data-mining-license"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Progress
        in Physical Geography: Earth and Environment"],"published-print":{"date-parts":[[1997,12]]},"DOI":"10.1177\/030913339702100410","type":"journal-article","created":{"date-parts":[[2007,11,27]],"date-time":"2007-11-27T01:11:10Z","timestamp":1196125870000},"page":"611-612","source":"Crossref","is-referenced-by-count":0,"title":["Book
        reviews : Anderson, M.G. and Brooks, S.M., editors, 1996: Advances in hillslope
        processes, Volumes 1 and 2. Chichester: Wiley. xviii + 1308 pp. \u00a3150.00
        cloth. ISBN: 0 471 96774 2"],"prefix":"10.1177","volume":"21","author":[{"given":"M.J.","family":"Crozier","sequence":"first","affiliation":[{"name":"Victoria
        University of Wellington"}]}],"member":"179","published-online":{"date-parts":[[2016,8,18]]},"container-title":["Progress
        in Physical Geography: Earth and Environment"],"language":"en","link":[{"URL":"http:\/\/journals.sagepub.com\/doi\/pdf\/10.1177\/030913339702100410","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/journals.sagepub.com\/doi\/pdf\/10.1177\/030913339702100410","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,2,4]],"date-time":"2021-02-04T02:59:53Z","timestamp":1612407593000},"score":0.0,"issued":{"date-parts":[[1997,12]]},"references-count":0,"journal-issue":{"issue":"4","published-print":{"date-parts":[[1997,12]]}},"alternative-id":["10.1177\/030913339702100410"],"URL":"http:\/\/dx.doi.org\/10.1177\/030913339702100410","ISSN":["0309-1333","1477-0296"],"issn-type":[{"value":"0309-1333","type":"print"},{"value":"1477-0296","type":"electronic"}],"subject":["General
        Earth and Planetary Sciences","Earth and Planetary Sciences (miscellaneous)","Geography,
        Planning and Development"],"published":{"date-parts":[[1997,12]]}},{"indexed":{"date-parts":[[2021,12,17]],"date-time":"2021-12-17T22:18:25Z","timestamp":1639779505281},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2007,12,1]]},"DOI":"10.1093\/ww\/9780199540884.013.36079","type":"reference-entry","created":{"date-parts":[[2018,3,6]],"date-time":"2018-03-06T10:50:58Z","timestamp":1520333458000},"source":"Crossref","is-referenced-by-count":0,"title":["Steele,
        Tommy, (Thomas Hicks), (born 17 Dec. 1936), actor"],"prefix":"10.1093","member":"286","container-title":["Who''s
        Who"],"original-title":["Steele, Tommy, (Thomas Hicks), (born 17 Dec. 1936),
        actor"],"deposited":{"date-parts":[[2018,3,6]],"date-time":"2018-03-06T10:50:58Z","timestamp":1520333458000},"score":0.0,"issued":{"date-parts":[[2007,12,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1093\/ww\/9780199540884.013.36079","published":{"date-parts":[[2007,12,1]]}}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 26 Mar 2022 04:18:18 GMT
recorded_with: VCR 6.1.0
