---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":18169799,"items":[{"indexed":{"date-parts":[[2020,3,30]],"date-time":"2020-03-30T19:03:18Z","timestamp":1585594998277},"reference-count":11,"publisher":"Elsevier
        BV","issue":"5-6","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2018,11,1]],"date-time":"2018-11-01T00:00:00Z","timestamp":1541030400000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":["clinicalkey.fr","em-consulte.com","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Annales
        de Chirurgie Plastique Esth\u00e9tique"],"published-print":{"date-parts":[[2018,11]]},"DOI":"10.1016\/j.anplas.2018.09.003","type":"journal-article","created":{"date-parts":[[2018,9,20]],"date-time":"2018-09-20T18:15:16Z","timestamp":1537467316000},"page":"580-584","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":2,"title":["Les
        indications des reconstructions mammaires apr\u00e8s mastectomie selon la
        situation carcinologique"],"prefix":"10.1016","volume":"63","author":[{"given":"C.","family":"Mathelin","sequence":"first","affiliation":[]},{"given":"C.","family":"Bruant-Rodier","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.anplas.2018.09.003_bib0080","first-page":"423520","article-title":"Is
        there a role for postmastectomy radiation therapy in ductal carcinoma in situ?","volume":"2012","author":"Chadha","year":"2012","journal-title":"Int
        J Surg Oncol"},{"issue":"2","key":"10.1016\/j.anplas.2018.09.003_bib0085","doi-asserted-by":"crossref","first-page":"459","DOI":"10.1245\/s10434-010-1335-2","article-title":"Analyzing
        the risk of recurrence after mastectomy for DCIS: a new use for the USC\/Van
        Nuys Prognostic Index","volume":"18","author":"Kelley","year":"2011","journal-title":"Ann
        Surg Oncol"},{"issue":"6","key":"10.1016\/j.anplas.2018.09.003_bib0090","doi-asserted-by":"crossref","first-page":"2154","DOI":"10.1097\/PRS.0b013e3182131b8e","article-title":"A
        multidisciplinary protocol for [...]
