---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":405943,"items":[{"indexed":{"date-parts":[[2020,7,28]],"date-time":"2020-07-28T08:00:16Z","timestamp":1595923216690},"reference-count":0,"publisher":"Oxford
        University Press","isbn-type":[{"value":"9780199830060","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Abiotic
        natural disturbance agents include wildfire, wind, landslides, snow avalanches,
        volcanoes, flooding, and other weather-related phenomena. Fire is of particular
        interest because of its antiquity, its natural role in many terrestrial ecosystems,
        its long-term use by humans to modify vegetation, and its potentially serious
        threat to life and property. Fire ecology is the art and science of understanding
        natural and human fire history and f[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=deposited
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":405943,"items":[{"indexed":{"date-parts":[[2021,7,23]],"date-time":"2021-07-23T15:44:07Z","timestamp":1627055047479},"reference-count":71,"publisher":"MDPI
        AG","issue":"8","license":[{"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/","start":{"date-parts":[[2021,7,22]],"date-time":"2021-07-22T00:00:00Z","timestamp":1626912000000},"delay-in-days":0,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"publisher","award":["31420103911,
        31672339"]},{"name":"Biodiversity Survey and Assessment of the Ministry of
        Ecology and Environment, China","award":["2005DKA21402","2019HJ2096001006"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Insects"],"abstract":"<jats:p>More
        studies are using mitochondrial genomes of insects to explore the sequence
        variability, evolutionary traits, monophyly of groups and phylogenetic relationships.
        Controversies remain on the classification of the Mileewinae and the phylogenetic
        relationships between Mileewinae and other subfamilies remain ambiguous. In
        this study, we present two newly completed mitogenomes of Mileewinae (Mileewa
        rufivena Cai and Kuoh 1997 and Ujna puerana Yang a[...]
