---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?facet=license:*&filter=has-full-text:true&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"license":{"value-count":1000,"values":{"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/":21921966,"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor":8319793,"http:\/\/www.springer.com\/tdm":8318061,"https:\/\/doi.org\/10.15223\/policy-037":4267876,"https:\/\/doi.org\/10.15223\/policy-029":4267876,"https:\/\/creativecommons.org\/licenses\/by\/4.0\/":3416200,"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining":2604699,"https:\/\/journals.sagepub.com\/page\/policies\/text-and-data-mining-license":253298[...]
