---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"http:\/\/id.crossref.org\/member\/78","name":"Elsevier
        BV","prefix":"http:\/\/id.crossref.org\/prefix\/10.1016"}}'
  recorded_at: Tue, 18 Feb 2020 18:41:35 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1093
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"http:\/\/id.crossref.org\/member\/286","name":"Oxford
        University Press (OUP)","prefix":"http:\/\/id.crossref.org\/prefix\/10.1093"}}'
  recorded_at: Tue, 18 Feb 2020 18:41:37 GMT
recorded_with: VCR 5.1.0
