---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039%2F100000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"100014074":"Integrative
        and Collaborative Education and Research","100010608":"Office of Inspector
        General","100000179":"Office of the Director","100014411":"Center for Unmanned
        Aircraft Systems","100005716":"National Science Board","100000081":"Directorate
        for Education and Human Resources","100000083":"Directorate for Computer and
        Information Science and Engineering","100015815":"Power Systems Engineering
        Research Center","100005441":"Office of Budget, Finance and Award Management","100000001":"National
        Science Foundation","100000076":"Directorate for Biological Sciences","100000084":"Directorate
        for Engineering","100014073":"National Nanotechnology Coordinating Office","more":null,"100014591":"BioXFEL
        Science and Technology Center","100000088":"Directorate for Social, Behavioral
        and Economic Sciences","100005447":"Office of Information and Resource Management","100014071":"Large
        Facilities Office","100000086":"Directorate for Mathematical and Physical
        Sciences","100000085":"Directorate for Geosciences","100014072":"National
        Coordination Office"},"replaced-by":[],"work-count":244130,"name":"National
        Science Foundation","descendants":["100005716","100005447","100010608","100014411","100000081","100000084","100000083","100000076","100000179","100000086","100000085","100014073","100000088","100014072","100014074","100015815","100005441","100014071","100014591","100005449","100005450","100005448","100005553","100005554","100000082","100000171","100000173","100000172","100000150","100000147","100000146","100000149","100000148","100000151","100000105","100000143","100000145","100007523","100000144","100000153","100000152","100000155","100000154","100000156","100007522","100000177","100000176","100006603","100000089","100000178","100000106","100005714","100006091","100000165","100000164","100000121","100000078","100000166","100000159","100007352","100000160","100000087","100000141","100000175","100000163","100000162","100007521","100000174","100005717","100000077","100000170","100000169","100005446","100005445","100005442","100005444","100005443"],"descendant-work-count":306353,"id":"100000001","tokens":["national","science","foundation","usa","nsf","nsf","us","nsf"],"replaces":[],"uri":"http:\/\/dx.doi.org\/10.13039\/100000001","hierarchy":{"100000001":{"100014074":{},"100010608":{},"100000179":{"more":true},"100014411":{},"100005716":{},"100000081":{"more":true},"100000083":{"more":true},"100015815":{},"100005441":{"more":true},"100000076":{"more":true},"100000084":{"more":true},"100014073":{},"100014591":{},"100000088":{"more":true},"100005447":{"more":true},"100014071":{},"100000086":{"more":true},"100000085":{"more":true},"100014072":{}}},"alt-names":["USA
        NSF","NSF","US NSF"],"location":null}}'
  recorded_at: Fri, 23 Jul 2021 15:43:33 GMT
[...]
