---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members?filter=has-funder:true,has-full-text:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: UTF-8
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"filter-not-available","value":"has-full-text","message":"Filter
        has-full-text specified but there is no such filter for this route. Valid
        filters for this route are: prefix, backfile-doi-count, current-doi-count"},{"type":"filter-not-available","value":"has-funder","message":"Filter
        has-funder specified but there is no such filter for this route. Valid filters
        for this route are: prefix, backfile-doi-count, current-doi-count"}]}'
  recorded_at: Sun, 08 Jun 2025 20:53:13 GMT
recorded_with: VCR 6.3.1
