---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126358034,"items":[{"indexed":{"date-parts":[[2021,6,11]],"date-time":"2021-06-11T14:46:59Z","timestamp":1623422819467},"reference-count":0,"publisher":"Springer
        Science and Business Media LLC","issue":"4","license":[{"URL":"https:\/\/www.springer.com\/tdm","start":{"date-parts":[[2000,4,1]],"date-time":"2000-04-01T00:00:00Z","timestamp":954547200000},"delay-in-days":0,"content-version":"tdm"},{"URL":"https:\/\/www.springer.com\/tdm","start":{"date-parts":[[2000,4,1]],"date-time":"2000-04-01T00:00:00Z","timestamp":954547200000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Call
        Cent Prof"],"published-print":{"date-parts":[[2000,4]]},"DOI":"10.1007\/bf03253729","type":"journal-article","created":{"date-parts":[[2021,6,11]],"date-time":"2021-06-11T14:02:59Z","timestamp":1623420179000},"page":"10-10","source":"Crossref","is-referenced-by-count":0,"title":["Branchengefl\u00fcster"],"prefix":"10.1007","volume":"3","author":[{"given":"Jan
        Peter","family":"Kruse","sequence":"first","affiliation":[]}],"member":"297","container-title":["Call
        Center Profi"],"language":"de","link":[{"URL":"https:\/\/link.springer.com\/content\/pdf\/10.1007\/BF03253729.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/link.springer.com\/article\/10.1007\/BF03253729\/fulltext.html","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/link.springer.com\/content\/pdf\/10.1007\/BF03253729.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,6,11]],"date-time":"2021-06-11T14:25:38Z","timestamp":1623421538000},"score":1.0,"issued":{"date-parts":[[2000,4]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2000,4]]},"issue":"4"},"alternative-id":["BF03253729"],"URL":"http:\/\/dx.doi.org\/10.1007\/bf03253729","ISSN":["1433-0199","2192-8673"],"issn-type":[{"value":"1433-0199","type":"print"},{"value":"2192-8673","type":"electronic"}]},{"indexed":{"date-parts":[[2020,2,24]],"date-time":"2020-02-24T22:43:21Z","timestamp":1582584201108},"reference-count":0,"publisher":"Wiley","issue":"2","license":[{"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor","start":{"date-parts":[[1983,3,1]],"date-time":"1983-03-01T00:00:00Z","timestamp":415324800000},"delay-in-days":0,"content-version":"vor"},{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[1983,3,1]],"date-time":"1983-03-01T00:00:00Z","timestamp":415324800000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Crop
        Sci."],"published-print":{"date-parts":[[1983,3]]},"DOI":"10.2135\/cropsci1983.0011183x002300020005x","type":"journal-article","created":{"date-parts":[[2010,7,29]],"date-time":"2010-07-29T16:00:34Z","timestamp":1280419234000},"page":"213-216","source":"Crossref","is-referenced-by-count":19,"title":["Rate
        and Extent of Cell Wall Digestion of Total Forage and Morphological Components
        of Oats and Barley\n            1"],"prefix":"10.1002","volume":"23","author":[{"given":"J.
        H.","family":"Cherney","sequence":"first","affiliation":[]},{"given":"G. C.","family":"Marten","sequence":"additional","affiliation":[]},{"given":"R.
        D.","family":"Goodrich","sequence":"additional","affiliation":[]}],"member":"311","published-online":{"date-parts":[[1983,3]]},"container-title":["Crop
        Science"],"language":"en","link":[{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/pdf\/10.2135\/cropsci1983.0011183X002300020005x","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/pdf\/10.2135\/cropsci1983.0011183X002300020005x","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,1,2]],"date-time":"2020-01-02T19:38:58Z","timestamp":1577993938000},"score":1.0,"issued":{"date-parts":[[1983,3]]},"references-count":0,"journal-issue":{"published-online":{"date-parts":[[1983,3]]},"published-print":{"date-parts":[[1983,3]]},"issue":"2"},"alternative-id":["10.2135\/cropsci1983.0011183X002300020005x"],"URL":"http:\/\/dx.doi.org\/10.2135\/cropsci1983.0011183x002300020005x","archive":["Portico"],"ISSN":["0011-183X","1435-0653"],"issn-type":[{"value":"0011-183X","type":"print"},{"value":"1435-0653","type":"electronic"}],"subject":["Agronomy
        and Crop Science"]},{"indexed":{"date-parts":[[2020,4,11]],"date-time":"2020-04-11T01:37:39Z","timestamp":1586569059076},"reference-count":62,"publisher":"Elsevier
        BV","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2015,8,1]],"date-time":"2015-08-01T00:00:00Z","timestamp":1438387200000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"publisher","award":["61305001","91120303","91220301"]},{"DOI":"10.13039\/501100005046","name":"Natural
        Science Foundation of Heilongjiang Province","doi-asserted-by":"publisher","award":["F200936"]},{"name":"Scientific
        Research Fund of Heilongjiang Provincial Education Department","award":["12511096"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Digital
        Signal Processing"],"published-print":{"date-parts":[[2015,8]]},"DOI":"10.1016\/j.dsp.2015.04.014","type":"journal-article","created":{"date-parts":[[2015,5,8]],"date-time":"2015-05-08T16:02:48Z","timestamp":1431100968000},"page":"59-70","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":7,"title":["Spectrum
        enhancement with sparse coding for robust speech recognition"],"prefix":"10.1016","volume":"43","author":[{"ORCID":"http:\/\/orcid.org\/0000-0001-7540-9773","authenticated-orcid":false,"given":"Yongjun","family":"He","sequence":"first","affiliation":[]},{"given":"Guanglu","family":"Sun","sequence":"additional","affiliation":[]},{"given":"Jiqing","family":"Han","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"issue":"6","key":"10.1016\/j.dsp.2015.04.014_br0010","doi-asserted-by":"crossref","first-page":"1304","DOI":"10.1121\/1.1914702","article-title":"Effectiveness
        of linear prediction characteristics of the speech wave for automatic speaker
        identification and verification","volume":"55","author":"Atal","year":"1974","journal-title":"J.
        Acoust. Soc. Am."},{"key":"10.1016\/j.dsp.2015.04.014_br0020","author":"Viikki","first-page":"733","year":"1998","article-title":"A
        recursive feature vector normalization approach for robust speech recognition
        in noise","series-title":"Proc. ICASSP"},{"issue":"3","key":"10.1016\/j.dsp.2015.04.014_br0030","doi-asserted-by":"crossref","first-page":"355","DOI":"10.1109\/TSA.2005.845805","article-title":"Histogram
        equalization of speech representation for robust speech recognition","volume":"13","author":"de
        la Torre","year":"2005","journal-title":"IEEE Trans. Speech Audio Process."},{"issue":"1","key":"10.1016\/j.dsp.2015.04.014_br0040","doi-asserted-by":"crossref","first-page":"257","DOI":"10.1109\/TASL.2006.876[...]
