---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":286067,"items":[{"indexed":{"date-parts":[[2020,3,30]],"date-time":"2020-03-30T19:43:23Z","timestamp":1585597403731},"reference-count":54,"publisher":"Hindawi
        Limited","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2015,1,1]],"date-time":"2015-01-01T00:00:00Z","timestamp":1420070400000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Mathematical
        Problems in Engineering"],"published-print":{"date-parts":[[2015]]},"abstract":"<jats:p>A
        meshfree modeling technique of material flow in the three-dimensional multiphysics
        thermomechanical friction stir welding process is presented. In this numerical
        model, the discretization in space is derived by the Element-Free Galerkin
        method using a Lagrangian meshfree convex approximation. The discrete thermal
        and mechanical equations are weakly coupled as the time advances using a forward
        difference scheme. A mortar contact algorithm is employed to model the stirring
        effect and heat generation due to frictional contact. Heat conductance between
        contacting bodies is considered as a function of contact pressure. A two-way
        adaptive procedure is introduced to the coupled thermomechanical system to
        surpass potential numerical problems associated with the extensive material
        deformation and spatial discretization. In each adaptive phase, a consistent
        projection operation utilizing the first-order meshfree convex approximation
        is performed to remap the solution variables. Finally, a three-dimensional
        multiphysics thermomechanical coupled friction stir welding problem is analyzed
        to demonstrate the effectiveness of the present meshfree numerical procedure.<\/jats:p>","DOI":"10.1155\/2015\/486346","type":"journal-article","created":{"date-parts":[[2015,7,16]],"date-time":"2015-07-16T21:16:47Z","timestamp":1437081407000},"page":"1-16","source":"Crossref","is-referenced-by-count":3,"title":["A
        Robust Numerical Procedure for the Thermomechanical Flow Simulation of Friction
        Stir Welding Process Using an Adaptive Element-Free Galerkin Method"],"prefix":"10.1155","volume":"2015","author":[{"given":"C.
        T.","family":"Wu","sequence":"first","affiliation":[{"name":"Livermore Software
        Technology Corporation, 7374 Las Positas Road, Livermore, CA 94551, USA"}]},{"given":"Wei","family":"Hu","sequence":"additional","affiliation":[{"name":"Livermore
        Software Technology Corporation, 7374 Las Positas Road, Livermore, CA 94551,
        USA"}]},{"given":"Hui-Ping","family":"Wang","sequence":"additional","affiliation":[{"name":"General
        Motors, 30500 Mound Road, Warren, MI 48090, USA"}]},{"given":"Hongsheng","family":"Lu","sequence":"additional","affiliation":[{"name":"Hengstar
        Technology Corporation, Shanghai 201203, China"}]}],"member":"98","reference":[{"key":"1","volume":"75","issue":"3","first-page":"41","year":"1996","journal-title":"Welding
        Journal"},{"key":"2","DOI":"10.2140\/jomms.2009.4.351","doi-asserted-by":"publisher"},{"key":"3","DOI":"10.1007\/s00170-012-4154-8","doi-asserted-by":"publisher"},{"key":"4","volume":"3","issue":"1","first-page":"328","year":"2013","journal-title":"International
        Journal of Automotive Engineering"},{"key":"5","DOI":"10.1016\/S0890-6955(02)00114-1","doi-asserted-by":"publisher"},{"key":"6","DOI":"10.1016\/j.jmatprotec.2005.03.015","doi-asserted-by":"publisher"},{"key":"7","DOI":"10.1016\/j.jmatprotec.2010.08.016","doi-asserted-by":"publisher"},{"key":"8","DOI":[...]
