---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":363363,"items":[{"indexed":{"date-parts":[[2019,12,4]],"date-time":"2019-12-04T19:41:08Z","timestamp":1575488468704},"reference-count":0,"publisher":"Oxford
        University Press","isbn-type":[{"value":"9780199830060","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Humans
        have become an urban species, but this is a rather recent phenomena. The first
        cities appeared around six thousand years ago and while their number increased,
        their population remained relatively small. This changed in the industrial
        revolution and today cities are home to more than 50 percent of the world\u2019s
        human population. Considering that most people live in cities and that ecology
        has been around for more than one hundred years[...]
