---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?query=NSF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"NSF"},"total-results":89,"items":[{"id":"100014071","location":"United
        States","name":"Large Facilities Office","alt-names":["Large Facilities Office
        at NSF","NSF''s Large Facilities Office","National Science Foundation''s Large
        Facilities Office","BFA\/LFO","LFO","NSF Large Facilities Office"],"uri":"https:\/\/doi.org\/10.13039\/100014071","replaces":[],"replaced-by":[],"tokens":["large","facilities","office","large","facilities","office","at","nsf","nsfs","large","facilities","office","national","science","foundations","large","facilities","office","bfa\/lfo","lfo","nsf","large","facilities","office"]},{"id":"100000106","location":"United
        States","name":"Office of Integrative Activities","alt-names":["OIA","NSF
        Office of Integrative Activities","National Science Foundation''s Office of
        Integrative Activities","NSF OIA","Office of Integrative Act[...]
