---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/journal/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":73620,"items":[{"DOI":"10.53555\/\/kuey.v29i4.7348","title":["Educational
        Administration: Theory and Practice"]},{"DOI":"10.51257\/o-42286210","title":["Micro\u00e9lectronique
        : dispositifs, technologies et circuits"]},{"DOI":"10.1007\/778.0949-877x","title":["The
        VLDB Journal"]},{"DOI":"10.36709\/rgap","title":["Jurnal Riset Golden Age
        PAUD UHO"]},{"DOI":"10.25248\/reao","title":["Revista Eletr\u00f4nica Acervo
        Odontol\u00f3gico"]},{"DOI":"10.1007\/122.1432-2242","title":["Theoretical
        and Applied Genetics"]},{"DOI":"10.1080\/21506590.gxp","ti[...]
