---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":111303013,"items":[{"DOI":"10.1016\/0197-2456(96)84672-1","title":["P52
        Can the forest plot be simplified without loosing relevant information in
        meta-analyses?"]},{"DOI":"10.1016\/s0261-2194(97)00018-5","title":["Influence
        of cropping system on sharp eyespot in winter wheat"]},{"DOI":"10.1016\/0011-2275(96)80768-5","title":["Magnetization
        in a generalized critical-state model for type-II superconductors"]},{"DOI":"10.1016\/0011-2275(96)80770-3","title":["Acoustic
        quality factor of vanadium"]},{"DOI":"10.1016\/s0261-2194[...]
