---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":127472782,"items":[{"indexed":{"date-parts":[[2021,5,12]],"date-time":"2021-05-12T08:17:43Z","timestamp":1620807463692},"reference-count":0,"publisher":"Oxford
        University Press (OUP)","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1990]]},"DOI":"10.1093\/oxfordjournals.bmb.a072401","type":"journal-article","created":{"date-parts":[[2017,2,2]],"date-time":"2017-02-02T11:37:01Z","timestamp":1486035421000},"page":"319-328","source":"Crossref","is-referenced-by-count":8,"title":["Design
        of hepatitis A vaccines"],"prefix":"10.1093","volume":"46","author":[{"given":"I
        D","family":"Gust","sequence":"first","affiliation":[]}],"member":"286","published-online":{"date-parts":[[1990]]},"container-title":["British
        Medical Bulletin"],"language":"en","link":[{"URL":"http:\/\/academic.oup.com\/bmb\/article-pdf\/46\/2\/319\/6702713\/46-2-319.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,8,22]],"date-time":"2017-08-22T17:33:22Z","timestamp":1503423202000},"score":0.99999994,"issued":{"date-parts":[[1990]]},"references-count":0,"journal-issue":{"issue":"2","published-online":{"date-parts":[[1990]]},"published-print":{"date-parts":[[1990]]}},"URL":"http:\/\/dx.doi.org\/10.1093\/oxfordjournals.bmb.a072401","ISSN":["1471-8391","0007-1420"],"issn-type":[{"value":"1471-8391","type":"electronic"},{"value":"0007-1420","type":"print"}],"subject":["General
        Medicine"],"published":{"date-parts":[[1990]]}},{"indexed":{"date-parts":[[2021,5,11]],"date-time":"2021-05-11T19:40:23Z","timestamp":1620762023743},"reference-count":0,"publisher":"American
        Association of Petroleum Geologists AAPG\/Datapages","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Bulletin"],"published-print":{"date-parts":[[1999]]},"DOI":"10.1306\/e4fd3649-1732-11d7-8645000102c1865d","type":"journal-article","created":{"date-parts":[[2003,1,1]],"date-time":"2003-01-01T00:41:09Z","timestamp":1041381669000},"source":"Crossref","is-referenced-by-count":1,"title":["Abstract:
        Stratigraphic Architecture Of The Triassic Series In The Saharan Province,
        Algeria"],"prefix":"10.1306","volume":"83","author":[{"family":"ESCHARD, REMI,
        GUY DESAUBLIAUX, RUE","sequence":"first","affiliation":[]}],"member":"2","container-title":["AAPG
        Bulletin"],"language":"en","link":[{"URL":"http:\/\/archives.datapages.com\/data\/bulletns\/1999\/08aug\/1296\/1298w.htm","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,9,21]],"date-time":"2016-09-21T19:05:17Z","timestamp":1474484717000},"score":0.99999994,"issued":{"date-parts":[[1999]]},"references-count":0,"alternative-id":["E4FD3649-1732-11D7-8645000102C1865D"],"URL":"http:\/\/dx.doi.org\/10.1306\/e4fd3649-1732-11d7-8645000102c1865d","ISSN":["0149-1423"],"issn-type":[{"value":"0149-1423","type":"print"}],"subject":["Earth
        and Planetary Sciences (miscellaneous)","Geochemistry and Petrology","Geology","Energy
        Engineering and Power Technology","Fuel Technology"],"published":{"date-parts":[[1999]]}},{"indexed":{"date-parts":[[2021,5,10]],"date-time":"2021-05-10T22:53:22Z","timestamp":1620687202462},"reference-count":0,"publisher":"Eotvos
        Lorand University (ELTE)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["TEL-hun"],"DOI":"10.37205\/tel-hun.2015.ksz","type":"journal-issue","created":{"date-parts":[[2021,2,8]],"date-time":"2021-02-08T09:49:21Z","timestamp":1612777761000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.37205","volume":"14","member":"9324","published-online":{"date-parts":[[2015,10,26]]},"container-title":["Pedag\u00f3gusk\u00e9pz\u00e9s"],"deposited":{"date-parts":[[2021,2,8]],"date-time":"2021-02-08T09:49:21Z","timestamp":1612777761000},"score":0.99999994,"issued":{"date-parts":[[2015,10,26]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.37205\/tel-hun.2015.ksz","ISSN":["0133-2570"],"issn-type":[{"value":"0133-2570","type":"print"}],"published":{"date-parts":[[2015,10,26]]}},{"indexed":{"date-parts":[[2021,5,8]],"date-time":"2021-05-08T14:37:32Z","timestamp":1620484652669},"edition-number":"1","reference-count":0,"publisher":"Imprensa
        da Universidade de Coimbra","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.14195\/978-989-26-1278-2_5","type":"book-chapter","created":{"date-parts":[[2016,12,30]],"date-time":"2016-12-30T12:29:37Z","timestamp":1483100977000},"page":"77-88","source":"Crossref","is-referenced-by-count":0,"title":["O
        livro do tempo na Alceste de Eur\u00edpides: narrativa passada e suas reescritas"],"prefix":"10.14195","author":[{"given":"Delfim
        F.","family":"Le\u00e3o","sequence":"first","affiliation":[]}],"member":"5739","container-title":["O
        livro do tempo: escritas e reescritas: teatro greco-latino e sua recep\u00e7\u00e3o
        I"],"deposited":{"date-parts":[[2016,12,30]],"date-time":"2016-12-30T12:29:40Z","timestamp":1483100980000},"score":0.99999994,"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.14195\/978-989-26-1278-2_5"},{"indexed":{"date-parts":[[2021,5,8]],"date-time":"2021-05-08T08:39:42Z","timestamp":1620463182368},"publisher-location":"New
        York, NY","reference-count":7,"publisher":"Springer New York","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014]]},"DOI":"10.1007\/978-1-4614-3872-4_310","type":"book-chapter","created":{"date-parts":[[2013,5,2]],"date-time":"2013-05-02T07:20:43Z","timestamp":1367479243000},"page":"2431-2438","source":"Crossref","is-referenced-by-count":0,"title":["Construction
        of Personalized Network Learning Resource Service System Based on Semantic
        Web Services"],"prefix":"10.1007","author":[{"given":"Zhujuan","family":"Li","sequence":"first","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2013,4,4]]},"reference":[{"key":"310_CR03101","first-page":"767","volume":"12","author":"Liang
        Bangyong Li Juan child, Kehong","year":"2004","unstructured":"Liang Bangyong
        Li Juan child, Kehong (2004) Recommendation model based on semantic web page
        Chinese Journal of Computers. 12:767\u2013772","journal-title":"Chinese Journal
        of Computers."},{"key":"310_CR03102","unstructured":"Wikipedia \n                    http:\/\/zh.wikipedia.org\/zh\/Web%E6%9C%8D%E5%8A%A1"},{"key":"310_CR03103","first-page":"387","volume":"33","author":"Lin
        Zhiyang","year":"2008","unstructured":"Lin Zhiyang (2008) Research of OWL
        semantic ontology-based reasoning and storage, Journals of network 33: 387\u2013392","journal-title":"Journals
        of network"},{"key":"310_CR03104","first-page":"37","volum[...]
