---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":132952311,"items":[{"DOI":"10.3126\/nmj.v1i1.20391","title":["Demographic
        Profile and Risk Factors for Dry Eye"]},{"DOI":"10.1109\/gsis.2009.5408150","title":["Study
        on hybrid AHP method with its application"]},{"DOI":"10.7287\/peerj.preprints.26709v1","title":["Multiscale
        spatial distribution of macrofauna response to fishery pressure"]},{"DOI":"10.1080\/10599230802453638","title":["Gender
        Discrimination in Chinese Recruitment Advertisements: A Content Analysis"]},{"DOI":"10.1016\/j.ijcard.2015.10.237","title":["Disappear[...]
