---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?query=NSF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"NSF"},"total-results":36,"items":[{"id":"100003187","location":null,"name":"National
        Sleep Foundation","alt-names":["The National Sleep Foundation","NSF"],"uri":"http:\/\/dx.doi.org\/10.13039\/100003187","replaces":[],"replaced-by":[],"tokens":["national","sleep","foundation","the","national","sleep","foundation","nsf"]},{"id":"100000154","location":null,"name":"Division
        of Integrative Organismal Systems","alt-names":["IOS","NSF Division of Integrative
        Organismal Systems","NSF IOS","BIO\/IOS"],"uri":"http:\/\/dx.doi.org\/10.13039\/100000154","replaces":[],"replaced-by":[],"tokens":["division","of","integrative","organismal","systems","ios","nsf","division","of","integrative","organismal","systems","nsf","ios","bio\/ios[...]
