---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039%2F100000001/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":314000,"items":[{"DOI":"10.1103\/physrevlett.122.035501","title":["Critical
        Analysis of an FeP Empirical Potential Employed to Study the Fracture of Metallic
        Glasses"]},{"DOI":"10.1371\/journal.pone.0210494","title":["Initiation of
        feeding by four sympatric Neotropical primates (Ateles belzebuth, Lagothrix
        lagotricha poeppigii, Plecturocebus (Callicebus) discolor, and Pithecia aequatorialis)
        in Amazonian Ecuador: Relationships to photic and ecological factors"]},{"DOI":"10.1364\/boe.10.000747","title":["Comparison
        of time- and angular-domain scatter rejection in mesoscopic optical projection
        tomography: a simulation study"]},{"DOI":"10.1186\/s12859-019-2595-x","title":["Statistical
        significance approximation for local similarity analysis of dependent time
        series data"]},{"DOI":"10.1090\/tran\/7482","title":["Models for spaces of
        dendritic polynomials"]},{"DOI":"10.1007\/s10750-019-3882-2","title":["Drought
        impacts to trout and salamanders in cool, forested headwater ecosystems in
        the western Cascade Mountains, OR"]},{"DOI":"10.1103\/physreva.99.013827","title":["Fast
        amplification and rephasing of entangled cat states in a qubit-oscillator
        system"]},{"DOI":"10.1364\/ome.9.000516","title":["3D imaging of gems and
        minerals by multiphoton microscopy"]},{"DOI":"10.1145\/3292040.3219670","title":["Designing
        Low-Complexity Heavy-Traffic Delay-Optimal Load Balancing Schemes"]},{"DOI":"10.1103\/physrevc.99.014313","title":["Inelastic
        neutron scattering studies of \nSe76"]},{"DOI":"10.1063\/1.5064740","title":["Control
        of transverse wakefields via phase-matched laser modes in parabolic plasma
        channels"]},{"DOI":"10.1039\/c8py01550c","title":["Thermally driven directional
        free-radical polymerization in confined channels"]},{"DOI":"10.1145\/3292040.3219665","title":["Degree
        of Queue Imbalance"]},{"DOI":"10.1007\/s40306-018-0295-7","title":["Relative
        Functoriality and Functional Equations via Trace Formulas"]},{"DOI":"10.1007\/s10530-019-01914-0","title":["Invader
        invaded: population dynamics of zebra mussels (Dreissena polymorpha) and quagga
        mussels (Dreissena rostriformis bugensis) in polymictic Oneida Lake, NY, USA
        (1992\u20132013)"]},{"DOI":"10.1145\/3292040.3219620","title":["Dandelion++"]},{"DOI":"10.1016\/j.actamat.2019.01.017","title":["Interfacial
        free energies, nucleation, and precipitate morphologies in Ni-Al-Cr alloys:
        Calculations and atom-probe tomographic experiments"]},{"DOI":"10.1103\/physrevd.99.025010","title":["Positive
        curvature and scalar field tunneling in the landscape"]},{"DOI":"10.1088\/1361-6587\/ab019a","title":["Petascale
        particle-in-cell simulations of kinetic effects in inertial fusion energy
        plasmas"]},{"DOI":"10.1109\/jsen.2019.2893241","title":["An Integrated Circuit
        Solution to Johnson Noise Thermometry Using Low-Cost and Fast CMOS Technology"]}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 18 Sep 2021 16:11:15 GMT
recorded_with: VCR 6.0.0
