---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":286067,"items":[{"DOI":"10.1155\/2015\/486346","title":["A
        Robust Numerical Procedure for the Thermomechanical Flow Simulation of Friction
        Stir Welding Process Using an Adaptive Element-Free Galerkin Method"]},{"DOI":"10.1155\/2014\/276475","title":["Insulin
        Resistance, Type 1 and Type 2 Diabetes, and Related Complications: Current
        Status and Future Perspective"]},{"DOI":"10.1155\/2014\/246714","title":["Glia
        and the Synapse: Plasticity and Disease"]},{"DOI":"10.1155\/2014\/354132","title":["Refinements
      [...]
