---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":87666386,"items":[{"indexed":{"date-parts":[[2017,4,3]],"date-time":"2017-04-03T19:40:11Z","timestamp":1491248411829},"reference-count":0,"publisher":"University
        of Chicago Press","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Ethics"],"cited-count":0,"published-print":{"date-parts":[[1950,10]]},"DOI":"10.1086\/290754","type":"journal-article","created":{"date-parts":[[2002,7,26]],"date-time":"2002-07-26T17:27:23Z","timestamp":1027704443000},"page":"75-76","source":"CrossRef","title":["TVA
        and the Grass Roots: A Study in the Sociology of Formal Organization. Philip
        Selznick"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1086","volume":"61","author":[{"given":"Charles
        W.","family":"Wegener","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/200","container-title":["Ethics"],"original-title":[],"deposited":{"date-parts":[[2017,4,3]],"date-time":"2017-04-03T19:04:36Z","timestamp":1491246276000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[1950,10]]},"alternative-id":["10.1086\/290754"],"URL":"http:\/\/dx.doi.org\/10.1086\/290754","ISSN":["0014-1704","1539-297X"],"issn-type":[{"value":"0014-1704","type":"print"},{"value":"1539-297X","type":"electronic"}],"citing-count":0,"subject":["Philosophy"]},{"indexed":{"date-parts":[[2016,10,31]],"date-time":"2016-10-31T08:53:53Z","timestamp":1477904033899},"reference-count":43,"publisher":"Elsevier
        BV","issue":"4","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1985,12,1]],"date-time":"1985-12-01T00:00:00Z","timestamp":502243200000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Medical
        Hypotheses"],"cited-count":0,"published-print":{"date-parts":[[1985,12]]},"DOI":"10.1016\/0306-9877(85)90110-0","type":"journal-article","created":{"date-parts":[[2004,4,19]],"date-time":"2004-04-19T15:41:23Z","timestamp":1082389283000},"page":"417-423","source":"CrossRef","title":["Mechanisms
        of tissue damage resulting from the use of oral water irrigation devices"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"18","author":[{"given":"N.P.","family":"Reddy","affiliation":[]},{"given":"S.K.","family":"Kesavan","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["Medical
        Hypotheses"],"original-title":[],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:0306987785901100?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:0306987785901100?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2015,10,9]],"date-time":"2015-10-09T09:50:13Z","timestamp":1444384213000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[1985,12]]},"alternative-id":["0306987785901100"],"URL":"http:\/\/dx.doi.org\/10.1016\/0306-9877(85)90110-0","ISSN":["0306-9877"],"citing-count":43,"subject":["Medicine(all)"]},{"indexed":{"date-parts":[[2017,1,11]],"date-time":"2017-01-11T10:43:08Z","timestamp":1484131388650},"reference-count":37,"publisher":"SAGE
        Publications","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Economic
        and Industrial Democracy"],"cited-count":0,"DOI":"10.1177\/0143831x15578157","type":"journal-article","created":{"date-parts":[[2015,4,3]],"date-time":"2015-04-03T16:19:29Z","timestamp":1428077969000},"page":"0143831X1557815","source":"CrossRef","title":["Negotiating
        agency and structure: Trade union organizing strategies in a hostile environment"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1177","author":[{"given":"Drago\u0219","family":"Ad\u0103sc\u0103li\u021bei","affiliation":[]},{"given":"\u0218tefan","family":"Guga","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/179","published-online":{"date-parts":[[2015,4,2]]},"container-title":["Economic
        and Industrial Democracy"],"original-title":[],"deposited":{"date-parts":[[2017,1,11]],"date-time":"2017-01-11T09:09:12Z","timestamp":1484125752000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2015,4,2]]},"alternative-id":["10.1177\/0143831X15578157"],"URL":"http:\/\/dx.doi.org\/10.1177\/0143831x15578157","ISSN":["0143-831X","1461-7099"],"issn-type":[{"value":"0143-831X","type":"print"},{"value":"1461-7099",[...]
