---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/licenses?query=creative
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":123,"items":[{"URL":"http:\/\/academic.oup.com\/journals\/pages\/about_us\/legal\/notices","work-count":1},{"URL":"http:\/\/aspb.org\/publications\/aspb-journals\/open-articles","work-count":2},{"URL":"http:\/\/creativecommons.org\/licenses\/BY\/4.0","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0","work-count":72},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/","work-count":191},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/us\/","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0","work-count":711},{"URL":"[...]
