---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/2167-8359/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":19409,"items":[{"DOI":"10.7717\/peerj.1681","title":["Testing
        the effects of perimeter fencing and elephant exclosures on lion predation
        patterns in a Kenyan wildlife conservancy"]},{"DOI":"10.7717\/peerj.16541","title":["A
        vertebra of a small species of <i>Pachycetus<\/i> from the North Sea and its
        inner structure and vascularity compared with other basilosaurid vertebrae
        from the same site"]},{"DOI":"10.7717\/peerj.4638","title":["Lighten up the
        dark: metazoan parasites as indicators for the ecology of Antarctic crocodile
        icefish (Channichthyidae) from the north-west Antarctic Peninsula"]},{"DOI":"10.7717\/peerj.16168","title":["Genome-wide
        identification of <i>DUF506<\/i> gene family in <i>Oryza<\/i> <i>sativa<\/i>
        and expression profiling under abiotic stresses"]},{"DOI":"10.7717\/peerj.15241","title":["Identification
        of key immune-related genes associated with LPS\/D-GalN-induced acute liver
        failure[...]
