---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":236469,"items":[{"DOI":"10.1155\/s1085337503305032","title":["L2(\u03a3)-regularity
        of the boundary to boundary operator B\u2217L for hyperbolic and Petrowski
        PDEs"]},{"DOI":"10.1155\/s1085337503304014","title":["Nonsmooth optimal regulation
        and discontinuous stabilization"]},{"DOI":"10.1155\/s1110757x03305030","title":["On
        the weak solutions of the forward problem in EEG"]},{"DOI":"10.1155\/s1110757x03206033","title":["Multiscale
        deformation analysis by Cauchy-Navier wavelets"]},{"DOI":"10.1155\/s1085337503309042"[...]
