---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,has-full-text:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4592685,"items":[{"indexed":{"date-parts":[[2019,11,18]],"date-time":"2019-11-18T17:17:45Z","timestamp":1574097465577},"reference-count":58,"publisher":"Elsevier
        BV","issue":"1-4","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2000,2,1]],"date-time":"2000-02-01T00:00:00Z","timestamp":949363200000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"name":"B.
        Cornelisen","award":["sample A764"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Chemical
        Geology"],"published-print":{"date-parts":[[2000,2]]},"DOI":"10.1016\/s0009-2541(99)00099-6","type":"journal-article","created":{"date-parts":[[2002,7,25]],"date-time":"2002-07-25T14:51:59Z","timestamp":1027608719000},"page":"269-285","source":"Crossref","is-referenced-by-count":47,"title":["Improved
        U\u2013Th\u2013total Pb dating of zircons by electron microprobe using a simple
        new background modeling procedure and Ca as a chemical criterion of fluid-induced
        U-Th-Pb discordance in zircon"],"prefix":"10.1016","volume":"163","author":[{"given":"Thorsten","family":"Geisler","sequence":"first","affiliation":[]},{"given":"Helmut","family":"Schleicher","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Chemical
        Geology"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0009254199000996?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0009254199000996?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,4,27]],"date-time":"2019-04-27T21:52:41Z","timestamp":1556401961000},"score":1.0,"issued":{"date-parts":[[2000,2]]},"references-count":58,"journal-issue":{"published-print":{"date-parts":[[2000,2]]},"issue":"1-4"},"alternative-id":["S0009254199000996"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0009-2541(99)00099-6","ISSN":["0009-2541"],"issn-type":[{"value":"0009-2541","type":"print"}]},{"indexed":{"date-parts":[[2019,11,18]],"date-time":"2019-11-18T17:11:43Z","timestamp":1574097103434},"reference-count":76,"publisher":"Wiley","issue":"6","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2001,9,3]],"date-time":"2001-09-03T00:00:00Z","timestamp":999475200000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor","start":{"date-parts":[[2001,9,3]],"date-time":"2001-09-03T00:00:00Z","timestamp":999475200000},"delay-in-days":0,"content-version":"vor"}],"funder":[{"name":"University
        of Minnesota\u2019s Juran Center","award":[]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Operations Management"],"published-print":{"date-parts":[[2001,11]]},"DOI":"10.1016\/s0272-6963(01)00070-5","type":"journal-article","created":{"date-parts":[[2002,7,25]],"date-time":"2002-07-25T14:28:16Z","timestamp":1027607296000},"page":"653-673","source":"Crossref","is-referenced-by-count":34,"title":["Beyond
        improved quality: the motivational effects of statistical process control"],"prefix":"10.1002","volume":"19","author":[{"given":"Manus","family":"Rungtusanatham","sequence":"first","affiliation":[]}],"member":"311","published-online":{"date-parts":[[2001,9,3]]},"reference":[{"issue":"(5)","key":"10.1016\/S0272-6963(01)00070-5-BIB1|cit1","doi-asserted-by":"crossref","first-page":"637","DOI":"10.1111\/j.1540-5915.1995.tb01444.x","article-title":"A
        path analytic model of a theory of quality management underlying the Deming
        Management Method: preliminary empirical findings","volume":"26","author":"Anderson","year":"1995","journal-title":"Decision
        Sciences"},{"issue":"(3)","key":"10.1016\/S0272-6963(01)00070-5-BIB2|cit2","doi-asserted-by":"crossref","first-page":"6","DOI":"10.1287\/inte.25.3.6","article-title":"Quality
        management at Kentucky Fried Chicken","volume":"25","author":"Apte","year":"1995","journal-title":"Interfaces"},{"issue":"(6)","key":"10.1016\/S0272-6963(01)00070-5-BIB3|cit3","doi-asserted-by":"crossref","first-page":"1173","DOI":"10.1037\/0022-3514.51.6.1173","article-title":"The
        moderator-mediator variable distinction in social psychological research:
        conceptual, strategic, and statistical considerations","volume":"51","author":"Baron","year":"1986","journal-title":"Journal
        of Personality and Social Psychology"},{"issue":"(1)","key":"10.1016\/S0272-6963(01)00070-5-BIB4|cit4","first-page":"35","article-title":"SPC,
        process improvement, and the Deming PDCA circle in freight administration","volume":"34","author":"Benneyan","year":"1993","journal-title":"Production
        and Inventory Management Journal"},{"issue":"(6)","key":"10.1016\/S0272-6963(01)00070-5-BIB5|cit5","doi-asserted-by":"crossref","first-page":"677","DOI":"10.1037\/0021-9010.63.6.677","article-title":"Use
        of path analysis in industrial\/organizational psychology: criticisms and
        suggestions","volume":"63","author":"Billings","year":"1978","journal-title":"Journal
        of Applied Psychology"},{"key":"10.1016\/S0272-6963(01)00070-5-BIB6|cit6","unstructured":""},{"issue":"(2)","key":"10.1016\/S0272-6963(01)00070-5-BIB7|cit7","doi-asserted-by":"crossref","first-page":"109","DOI":"10.1111\/j.2044-8325.1983.tb00118.x","article-title":"Advanced
        technology and the quality of working life: the effects of computerized controls
        on biscuit-making operators","volume":"56","author":"Buchanan","year":"1983","journal-title":"Journal
        of Occupational Psychology"},{"issue":"(1)","key":"10.1016\/S0272-6963(01)00070-5-BIB8|cit8","doi-asserted-[...]
