---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,has-full-text:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":7294190,"items":[{"indexed":{"date-parts":[[2021,12,11]],"date-time":"2021-12-11T21:49:19Z","timestamp":1639259359938},"reference-count":9,"publisher":"American
        Dairy Science Association","issue":"2","license":[{"start":{"date-parts":[[2014,2,1]],"date-time":"2014-02-01T00:00:00Z","timestamp":1391212800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2019,1,10]],"date-time":"2019-01-10T00:00:00Z","timestamp":1547078400000},"content-version":"vor","delay-in-days":1804,"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/"}],"funder":[{"name":"Boerderijmelk,
        Qlip NV"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Dairy Science"],"published-print":{"date-parts":[[2014,2]]},"DOI":"10.3168\/jds.2013-6604","type":"journal-article","created":{"date-parts":[[2013,12,2]],"date-time":"2013-12-02T05:00:46Z","timestamp":1385960446000},"page":"592-597","source":"Crossref","is-referenced-by-count":4,"title":["Risk-based
        audit selection of dairy farms"],"prefix":"10.3168","volume":"97","author":[{"given":"M.A.P.M.","family":"van
        Asseldonk","sequence":"first","affiliation":[]},{"given":"A.G.J.","family":"Velthuis","sequence":"additional","affiliation":[]}],"member":"1747","reference":[{"key":"10.3168\/jds.2013-6604_bib0005","doi-asserted-by":"crossref","first-page":"927","DOI":"10.1016\/j.foodcont.2009.01.010","article-title":"The
        reliability of third-party certification in the food chain: From checklists
        to risk-oriented auditing","volume":"20","author":"Albersmeier","year":"2009","journal-title":"Food
        Contr"},{"key":"10.3168\/jds.2013-6604_bib0010","first-page":"69","article-title":"System
        dynamics in food quality certifications: Development of an audit integrity
        system","volume":"1","author":"Albersmeier","year":"2010","journal-title":"Int.
        J. Food System Dynamics"},{"key":"10.3168\/jds.2013-6604_bib0015","doi-asserted-by":"crossref","first-page":"615","DOI":"10.1016\/j.foodcont.2003.09.007","article-title":"A
        theoretical framework for examining [...]
