---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":298548,"items":[{"indexed":{"date-parts":[[2016,11,8]],"date-time":"2016-11-08T07:35:32Z","timestamp":1478590532253},"reference-count":17,"publisher":"Wiley-Blackwell","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"cited-count":0,"DOI":"10.1002\/9780470979365.ch7","type":"book-chapter","created":{"date-parts":[[2012,10,8]],"date-time":"2012-10-08T10:32:21Z","timestamp":1349692341000},"page":"271-318","source":"CrossRef","title":["Behavioural
        Ecology"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","member":"http:\/\/id.crossref.org\/member\/311","published-online":{"date-parts":[[2012,10,8]]},"container-title":["Molecular
        Ecology"],"original-title":[],"deposited":{"date-parts":[[2012,10,8]],"date-time":"2012-10-08T10:43:02Z","timestamp":1349692982000},"score":10.390709,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2012,10,8]]},"ISBN":["http:\/\/id.crossref.org\/isbn\/9780470979365","http:\/\/id.crossref.org\/isbn\/9780470748343"],"URL":"http:\/\/dx.doi.org\/10.1002\/9780470979365.ch7","citing-count":17},{"indexed":{"date-parts":[[2016,11,27]],"date-time":"2016-11-27T18:55:05Z","timestamp":1480272905356},"reference-count":0,"publisher":"Hindawi
        Publishing Corporation","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"cited-count":0,"DOI":"10.1155\/8641","type":"journal","created":{"date-parts":[[2016,9,8]],"date-time":"2016-09-08T14:57:44Z","timestamp":1473346664000},"source":"CrossRef","title":["ISRN
        Ecology"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1155","member":"http:\/\/id.crossref.org\/member\/98","container-title":[],"original-title":[],"deposited":{"date-parts":[[2016,9,8]],"date-time":"2016-09-08T14:57:44Z","timestamp":1473346664000},"score":10.322118,"subtitle":[],"short-title":["ISRN
        Ecology"],"issued":{"date-parts":[[null]]},"URL":"http:\/\/dx.doi.org\/10.1155\/8641","ISSN":["2090-4622"],"citing-count":0},{"indexed":{"date-parts":[[2016,10,26]],"date-time":"2016-10-26T02:43:45Z","timestamp":1477449825648},"reference-count":0,"publisher":"Hindawi
        Publishing Corporation","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"cited-count":0,"DOI":"10.5402\/ecology","type":"journal","created":{"date-parts":[[2012,10,25]],"date-time":"2012-10-25T12:32:45Z","timestamp":1351168365000},"source":"CrossRef","title":["ISRN
        Eco[...]
