---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/journal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"type","message-version":"1.0.0","message":{"id":"journal","label":"Journal"}}'
  recorded_at: Sun, 08 Jun 2025 20:53:24 GMT
- request:
    method: get
    uri: https://api.crossref.org/types/dissertation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"type","message-version":"1.0.0","message":{"id":"dissertation","label":"Dissertation"}}'
  recorded_at: Sun, 08 Jun 2025 20:53:24 GMT
recorded_with: VCR 6.3.1
