---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":21995634,"items":[{"DOI":"10.1016\/j.trsl.2015.01.007","title":["Evidence
        for metabolic aberrations in asymptomatic persons with type 2 diabetes after
        initiation of simvastatin therapy"]},{"DOI":"10.1016\/j.perped.2022.01.002","title":["Les
        assistances extracorporelles respiratoires et circulatoires de l\u2019enfant
        et du nouveau-n\u00e9"]},{"DOI":"10.1016\/s1063-5777(05)70027-x","title":["Percutaneous
        Nephrostomy Under Ultrasound\/CT Guidance and Various Nephrostomy Tubes"]},{"DOI":"10.1016\/j.physleta.2004.09.025","[...]
