---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"items-per-page":20,"query":{"start-index":0,"search-terms":null},"total-results":14741282,"items":[{"indexed":{"date-parts":[[2016,11,2]],"date-time":"2016-11-02T02:12:56Z","timestamp":1478052776395},"reference-count":0,"publisher":"Elsevier
        BV","issue":"9","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2016,11,1]],"date-time":"2016-11-01T00:00:00Z","timestamp":1477958400000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":["clinicalkey.es","elsevier.es","elsevier.com","sciencedirect.com"],"crossmark-restriction":false},"short-container-title":["Actas
        Dermo-Sifiliogr\u00e1ficas"],"cited-count":0,"published-print":{"date-parts":[[2016,11]]},"DOI":"10.1016\/j.ad.2015.06.020","type":"journal-article","created":{"date-parts":[[2016,4,10]],"date-time":"2016-04-10T00:54:46Z","timestamp":1460249686000},"page":"779","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"CrossRef","title":["Ecograf\u00eda
        dermatol\u00f3gica de la necrosis grasa encapsulada"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"107","author":[{"given":"B.","family":"Echeverr\u00eda-Garc\u00eda","affiliation":[]},{"given":"A.","family":"Hern\u00e1ndez-Nu\u00f1ez","affiliation":[]},{"given":"J.","family":"Borbujo","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["Actas
        Dermo-Sifiliogr\u00e1ficas"],"original-title":[],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0001731016000879?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0001731016000879?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2016,11,1]],"date-time":"2016-11-01T19:02:17Z","timestamp":1478026937000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2016,11]]},"alternative-id":["S0001731016000879"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.ad.2015.06.020","ISSN":["0001-7310"],"citing-count":0,"subject":["Pathology
        and Forensic Medicine","Histology","Dermatology"],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"Ecograf\u00eda dermatol\u00f3gica de
        la necrosis grasa encapsulada","name":"articletitle","label":"Article Title"},{"value":"Actas
        Dermo-Sifiliogr\u00e1ficas","name":"journaltitle","label":"Journal Title"},{"value":"http:\/\/dx.doi.org\/10.1016\/j.ad.2015.06.020","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Content
        Type"},{"valu[...]
