---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/2167-8359/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4559,"items":[{"DOI":"10.7717\/peerj.598","title":["Multi-decade
        biomass dynamics in an old-growth hemlock-northern hardwood forest, Michigan,
        USA"]},{"DOI":"10.7717\/peerj.1463","title":["Parental encouragement is positively
        associated with outdoor active play outside of school hours among 7\u201312
        year olds"]},{"DOI":"10.7717\/peerj.816","title":["The use of neuralgia medications
        to treat sensory neuropathic cough: our experience in a retrospective cohort
        of thirty-two patients"]},{"DOI":"10.77[...]
