---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/2167-8359/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":12066,"items":[{"DOI":"10.7717\/peerj.6186","title":["Optimization
        of a pretreatment and hydrolysis process for the efficient recovery of recycled
        sugars and unknown compounds from agricultural sweet sorghum bagasse stem
        pith solid waste"]},{"DOI":"10.7717\/peerj.6211","title":["Outcomes of hospitalizations
        with atrial fibrillation-flutter on a weekday versus weekend: an analysis
        from a 2014 nationwide inpatient sample"]},{"DOI":"10.7717\/peerj.6099","title":["Shifting
        faunal baselines through the Quaternary revealed by cave fossils of eastern
        Australia"]},{"DOI":"10.7717\/peerj.5920","title":["Aetiology of livestock
        fetal mortality in Mazandaran province, Iran"]},{"DOI":"10.7717\/peerj.6195","title":["Hardly
        habitual: chimpanzees and gorillas show flexibility in their motor responses
        when presented with a causally-clear task"]},{"DOI":"10.7717\/peerj.6159","title":["Relationship
        between physical and cognitive performance in community dwelling, ethnically
        diverse older adults: a cross-sectional study"]},{"DOI":"10.7717\/peerj.6192","title":["Climatic
        niche evolution in the viviparousSceloporus torquatusgroup (Squamata: Phrynosomatidae)"]},{"DOI":"10.7717\/peerj.6274","title":["[...]
