---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371%2Fjournal.pone.0033693/agency
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.0 Serrano/v0.5.3 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.1371\/journal.pone.0033693","agency":{"id":"crossref","label":"Crossref"}}}'
  recorded_at: Wed, 27 Nov 2019 00:25:07 GMT
recorded_with: VCR 5.0.0
