---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":16708620,"items":[{"indexed":{"date-parts":[[2019,11,18]],"date-time":"2019-11-18T17:59:29Z","timestamp":1574099969323},"reference-count":0,"publisher":"Elsevier
        BV","issue":"2","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1996,4,1]],"date-time":"1996-04-01T00:00:00Z","timestamp":828316800000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Controlled
        Clinical Trials"],"published-print":{"date-parts":[[1996,4]]},"DOI":"10.1016\/0197-2456(96)84672-1","type":"journal-article","created":{"date-parts":[[2002,7,25]],"date-time":"2002-07-25T17:26:43Z","timestamp":1027618003000},"page":"S124","source":"Crossref","is-referenced-by-count":1,"title":["P52
        Can the forest plot be simplified without loosing relevant information in
        meta-analyses?"],"prefix":"10.1016","volume":"17","author":[{"given":"Luc","family":"Bijnens","sequence":"first","affiliation":[]},{"given":"Albert","family":"Ivanov","sequence":"additional","affiliation":[]},{"given":"Guido
        Hoctin","family":"Boes","sequence":"additional","affiliation":[]},{"given":"Laurence","family":"Collette","sequence":"additional","affiliation":[]},{"given":"Richard","family":"Sylvester","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Controlled
        Clinical Trials"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:0197245696846721?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:0197245696846721?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,4,24]],"date-time":"2019-04-24T22:57:34Z","timestamp":1556146654000},"score":1.0,"issued":{"date-parts":[[1996,4]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[1996,4]]},"issue":"2"},"alternative-id":["0197245696846721"],"URL":"http:\/\/dx.doi.org\/10.1016\/0197-2456(96)84672-1","ISSN":["0197-2456"],"issn-type":[{"value":"0197-2456","type":"print"}]},{"indexed":{"date-parts":[[2019,11,18]],"date-time":"2019-11-18T17:59:29Z","timestamp":1574099969441},"reference-count":46,"publisher":"Elsevier
        BV","issue":"5","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1997,8,1]],"date-time":"1997-08-01T00:00:00Z","timestamp":870393600000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Cr[...]
