---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals?query=ecology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"ecology"},"total-results":192,"items":[{"last-status-check-time":null,"counts":null,"breakdowns":null,"publisher":"\"Clausius
        Scientific Press, Inc.\"","coverage":null,"title":"Environment Resource and
        Ecology Journal","subjects":[],"flags":null,"ISSN":[],"issn-type":[]},{"last-status-check-time":null,"counts":null,"breakdowns":null,"publisher":"New
        Zealand Ecological Society","coverage":null,"title":"New Zealand Journal of
        Ecology","subjects":[],"flags":null,"ISSN":[],"issn-type":[]},{"last-status-check-time":null,"counts":null,"breakdowns":null,"publisher":"Peertechz
        Publications Private Limited ","coverage":null,"title":"Global Journal of
        Ecology","subjects":[],"flags":null,"ISSN":[],"issn-type":[]},{"last-status-check-time":1523066648567,"counts":{"total-dois":22585,"current-dois":893,"backfile-dois":21692},"breakdowns":{"dois-by-issued-year":[[2002,772],[2000,724],[2001,698],[1998,596],[1997,589],[1999,577],[2010,535],[2015,479],[2017,462],[2008,460],[2004,435],[2005,433],[2006,432],[2009,417],[2007,414],[2003,411],[2016,407],[2014,401],[2013,363],[2012,341],[1995,317],[1993,315],[2011,311],[1987,304],[1990,298],[1996,295],[1994,288],[1988,286],[1982,276],[1991,275],[1992,271],[1989,271],[1981,257],[1985,256],[1984,248],[1983,246],[1986,238],[1968,233],[1974,230],[1980,218],[1973,218],[1969,218],[1975,215],[1967,214],[1966,212],[1972,207],[1971,207],[1977,197],[1976,196],[1970,196],[1978,188],[1959,188],[1965,183],[1960,181],[1979,180],[1961,180],[1964,178],[1956,171],[1963,167],[1958,166],[1962,161],[1957,156],[1955,148],[2018,135],[1953,125],[1954,118],[1952,110],[1951,102],[1940,99],[1950,98],[1936,97],[1941,89],[1935,89],[1939,85],[1938,85],[1949,83],[1948,81],[1942,81],[1930,80],[1947,79],[1943,78],[1937,78],[1924,78],[1945,77],[1931,72],[1928,72],[1927,72],[1944,70],[1929,69],[1934,68],[1932,66],[1946,65],[1926,62],[1923,61],[1921,60],[1925,59],[1922,59],[1933,52],[1920,39]]},"publisher":"Wiley
        (John Wiley & Sons)","coverage":{"affiliations-current":0.8812990188598633,"funders-backfile":0.002489397069439292,"licenses-backfile":0.9797621369361877,"funders-current":0.6349384188652039,"affiliations-backfile":0.0059468927793204784,"resource-links-backfile":0.9797621369361877,"orcids-backfile":0.0,"update-policies-current":0.0,"orcids-current":0.11086226254701614,"references-backfile":0.2739719748497009,"award-numbers-backfile":0.0018439977429807186,"update-policies-backfile":0.0,"licenses-current":0.9731243252754211,"award-numbers-current":0.4759238660335541,"abstracts-backfile":0.0,"resource-links-current":0.9731243252754211,"abstracts-current":0.0,"references-current":0.7178051471710205},"title":"Ecology","subjects":[{"name":"Ecology,
        Evolution, Behavior and Systematics","ASJC":1105}],"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":false,"deposits-funders-backfile":true,"deposits-update-policies-current":false,"deposits-licenses-current":true},"ISSN":["0012-9658"],"issn-type":[{"value":"0012-9658","type":"print"}]},{"last-status-check-time":1523066724089,"counts":{"total-dois":7392,"current-dois":331,"backfile-dois":7061},"breakdowns":{"dois-by-issued-year":[[2008,210],[2010,201],[2017,181],[2014,159],[2016,152],[2013,152],[2006,152],[2011,151],[2009,149],[2015,146],[2007,140],[2004,136],[2012,132],[1995,125],[1994,120],[1974,117],[1998,114],[2001,113],[1996,111],[1999,110],[1975,110],[2005,108],[1969,108],[1997,107],[1973,107],[2003,106],[1992,106],[1985,106],[1972,106],[2002,104],[1990,104],[1[...]
