---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":363363,"items":[{"indexed":{"date-parts":[[2019,12,4]],"date-time":"2019-12-04T19:41:08Z","timestamp":1575488468704},"reference-count":0,"publisher":"Oxford
        University Press","isbn-type":[{"value":"9780199830060","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Humans
        have become an urban species, but this is a rather recent phenomena. The first
        cities appeared around six thousand years ago and while their number increased,
        their population remained relatively small. This changed in the industrial
        revolution and today cities are home to more than 50 percent of the world\u2019s
        human population. Considering that most people live in cities and that ecology
        has been around for more than one hundred years[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=deposited
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":363363,"items":[{"indexed":{"date-parts":[[2020,2,18]],"date-time":"2020-02-18T18:43:24Z","timestamp":1582051404370},"reference-count":0,"publisher":"Wiley","license":[{"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor","start":{"date-parts":[[2020,2,18]],"date-time":"2020-02-18T00:00:00Z","timestamp":1581984000000},"delay-in-days":0,"content-version":"vor"},{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2020,2,18]],"date-time":"2020-02-18T00:00:00Z","timestamp":1581984000000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":["onlinelibrary.wiley.com"],"crossmark-restriction":true},"short-container-title":["Ecology"],"DOI":"10.1002\/ecy.3014","type":"journal-article","created":{"date-parts":[[2020,2,18]],"date-time":"2020-02-18T13:12:24Z","timestamp":1582031544000},"update-policy":"http:\/\/dx.doi.org\/10.1002\/crossmark_policy","source":"Crossref","is-referenced-by-count":0,"title":["Community
        size can affect the signals of ecological drift and niche selection on biodiversity"],"prefix":"10.1002","author":[{"ORCID":"http:\/\/orcid.org\/0000-0001-5069-2904","authenticated-orcid":false,"given":"Tadeu","family":"Siqueira","sequence":"first","affiliation":[{"name":"Institute
        of Biosciences S\u00e3o Paulo State University (UNESP) Av. 24 A 1515Rio Claro
        SP 13506\u2010900Brazil"}]},{"given":"Victor S.","family":"Saito","sequence":"additional","affiliation":[{"name":"Universidade
        Federal de S\u00e3o Carlos (UFSCar) Departamento de Ci\u00eancias Ambientais
        S\u00e3o Carlos Brazil"}]},{"given":"Luis M.","family":"Bini","sequence":"additional","affiliation":[{"name":"Departamento
        de Ecologia, ICB Universidade Federal de Goi[...]
