---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?facet=license:*&filter=has-full-text:true&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"license":{"value-count":1801,"values":{"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/":16341100,"http:\/\/www.springer.com\/tdm":8471627,"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1":7858721,"http:\/\/journals.sagepub.com\/page\/policies\/text-and-data-mining-license":2225860,"https:\/\/www.cambridge.org\/core\/terms":1713081,"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor":1165614,"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1":761949,"https:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/":757714,"http:\[...]
