---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039%2F100000001/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":338530,"items":[{"DOI":"10.1002\/2016ja022605","title":["Zakharov
        simulations of beam\u2010induced turbulence in the auroral ionosphere"]},{"DOI":"10.1016\/s0927-7757(96)03875-7","title":["Effects
        of surfactants on particle adhesion Part 1. Interactions of monodispersed
        colloidal hematite particles with glass beads in the presence of sodium 4-octylbenzenesulfonate"]},{"DOI":"10.1016\/j.peptides.2014.10.015","title":["Development
        of a CCK1R-membrane nanoparticle as a fish-out tool for bioactive peptides"]},{"DOI":"10.1[...]
