---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"items-per-page":20,"query":{"start-index":0,"search-terms":null},"total-results":181854,"items":[{"indexed":{"date-parts":[[2016,11,1]],"date-time":"2016-11-01T18:01:20Z","timestamp":1478023280535},"reference-count":29,"publisher":"Hindawi
        Publishing Corporation","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Healthcare Engineering"],"cited-count":0,"published-print":{"date-parts":[[2014,6]]},"DOI":"10.1260\/2040-2295.5.2.123","type":"journal-article","created":{"date-parts":[[2014,6,11]],"date-time":"2014-06-11T01:18:03Z","timestamp":1402449483000},"page":"123-144","source":"CrossRef","title":["Accuracy
        of Plantar Electrodes Compared with Hand and Foot Electrodes in Fat-free-mass
        Measurement"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1155","volume":"5","author":[{"given":"Michel","family":"Jaffrin","affiliation":[]},{"given":"Sana","family":"Bousbiat","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/98","container-title":["Journal
        of Healthcare Engineering"],"original-title":[],"link":[{"URL":"http:\/\/downloads.hindawi.com\/journals\/jhe\/2014\/598193.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2016,3,1]],"date-time":"2016-03-01T16:03:59Z","timestamp":1456848239000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2014,6]]},"alternative-id":["10.1260\/2040-2295.5.2.123"],"URL":"http:\/\/dx.doi.org\/10.1260\/2040-2295.5.2.123","ISSN":["2040-2295"],"citing-count":29},{"indexed":{"date-parts":[[2016,11,1]],"date-time":"2016-11-01T18:01:20Z","timestamp":1478023280797},"reference-count":41,"publisher":"Hindawi
        Publishing Corporation","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Healthcare Engineering"],"cited-count":0,"published-print":{"date-parts":[[2014,6]]},"DOI":"10.1260\/2040-2295.5.2.145","type":"journal-article","created":{"date-parts":[[2014,6,11]],"date-time":"2014-06[...]
