---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371%2Fjournal.pone.0033693/agency
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-agency","message-version":"1.0.0","message":{"DOI":"10.1371\/journal.pone.0033693","agency":{"id":"crossref","label":"Crossref"}}}'
  recorded_at: Fri, 23 Jul 2021 15:45:02 GMT
recorded_with: VCR 6.0.0
