---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":321849,"items":[{"indexed":{"date-parts":[[2017,10,27]],"date-time":"2017-10-27T04:57:06Z","timestamp":1509080226077},"publisher-location":"Chichester,
        UK","reference-count":17,"publisher":"John Wiley & Sons, Ltd","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1002\/9780470979365.ch7","type":"book-chapter","created":{"date-parts":[[2012,10,8]],"date-time":"2012-10-08T10:32:21Z","timestamp":1349692341000},"page":"271-318","source":"Crossref","is-referenced-by-count":0,"title":["Behavioural
        Ecology"],"prefix":"10.1002","member":"311","published-online":{"date-parts":[[2012,10,8]]},"reference":[{"key":"10.1002\/9780470979365.ch7-BIB1|cit1","unstructured":""},{"key":"10.1002\/9780470979365.ch7-BIB2|cit2","author":"Krebs","year":"1997","volume-title":"Behavioural
        Ecology: An Evolutionary Approach"},{"key":"10.1002\/9780470979365.ch7-BIB3|cit3","author":"Westneat","year":"2010","volume-title":"Evolutionary
        Behavioral Ecology"},{"key":"10.1002\/9780470979365.ch7-BIB4|cit4","unstructured":""},{"key":"10.1002\/9780470979365.ch7-BIB5|cit5","doi-asserted-by":"crossref","first-page":"78","DOI":"10.1111\/j.1469-7998.2010.00701.x","article-title":"How
        stupid not to have thought of that: post-copulatory sexual selection","volume":"281","author":"Birkhead","year":"2010","journal-title":"Journal
        of Zoology"},{"key":"10.1002\/9780470979365.ch7-BIB6|cit6","doi-asserted-by":"crossref","first-page":"205","DOI":"10.1017\/S1464793104006645","article-title":"Causes
        and consequences of animal dispersal strategies: relating individual behaviour
        to spatial dynamics","volume":"80","author":"Bowler","year":"2005","journal-title":"Biological
        Review"},{"key":"10.1002\/9780470979365.ch7-BIB7|cit7","doi-asserted-by":"crossref","first-page":"1400","DOI":"10.2193\[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=deposited
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":321849,"items":[{"indexed":{"date-parts":[[2018,4,7]],"date-time":"2018-04-07T22:40:39Z","timestamp":1523140839925},"reference-count":0,"publisher":"JSTOR","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Range Management"],"published-print":{"date-parts":[[1998,1]]},"DOI":"10.2307\/4003576","type":"journal-article","created":{"date-parts":[[2007,11,26]],"date-time":"2007-11-26T23:15:52Z","timestamp":1196118952000},"page":"127","source":"Crossref","is-referenced-by-count":0,"title":["Mountains
        and Plains, The Ecology of Wyoming Landscapes"],"prefix":"10.2307","volume":"51","author":[{"given":"David
        K.","family":"Mann","affiliation":[]},{"given":"Dennis H.","family":"Knight","affiliation":[]}],"member":"1121","container-title":["Journal
        of Range Management"],"deposited":{"date-parts":[[2018,4,7]],"date-time":"2018-04-07T22:29:07Z","timestamp":1523140147000},"score":5.1244698,"issued":{"date-parts":[[1998,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2307\/4003576","ISSN":["0022-409X"],"issn-type":[{"value":"0022-409X","type":"print"}],"subject":["Ecology","Animal
        Science and Zoology"]},{"indexed":{"date-parts":[[2018,4,7]],"date-time":"2018-04-07T22:40:39Z","timestamp":1523140839987},"reference-count":0,"publisher":"JSTOR","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Range Management"],"published-print":{"date-parts":[[1998,3]]},"DOI":"10.2307\/4003216","type":"journal-article","created":{"date-parts":[[2007,11,26]],"date-time":"2007-11-26T23:16:02Z","time[...]
