---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":431914,"items":[{"indexed":{"date-parts":[[2021,12,10]],"date-time":"2021-12-10T00:57:19Z","timestamp":1639097839662},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>\u201cOurs
        is a world of sights and sounds. We live by our eyes and ears and tend generally
        to be oblivious to the chemical happenings in our surrounds. Such happenings
        are ubiquitous. All organisms engender chemical signals, and all, in their
        respective ways, respond to the chemical emissions of others. The result is
        a vast communicative interplay, fundamental to the fabric of life\u201d (Eisner
        and Meinwald 1995, p. v), cited under General Ov[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=deposited
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":431914,"items":[{"indexed":{"date-parts":[[2022,3,26]],"date-time":"2022-03-26T04:11:49Z","timestamp":1648267909456},"reference-count":66,"publisher":"Oxford
        University Press (OUP)","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Behavioral
        Ecology"],"published-print":{"date-parts":[[2014,3,1]]},"DOI":"10.1093\/beheco\/art131","type":"journal-article","created":{"date-parts":[[2014,2,10]],"date-time":"2014-02-10T01:14:37Z","timestamp":1391994877000},"page":"392-401","source":"Crossref","is-referenced-by-count":21,"title":["Fallow
        bucks attend to vocal cues of motivation and fatigue"],"prefix":"10.1093","volume":"25","author":[{"given":"B.
        J.","family":"Pitcher","sequence":"first","affiliation":[]},{"given":"E. F.","family":"Briefer","sequence":"additional","affiliation":[]},{"given":"E.","family":"Vannoni","sequence":"additional","affiliation":[]},{"given":"A.
        G.","family":"McElligott","sequence":"additional","affiliation":[]}],"member":"286","published-online":{"date-parts":[[2014,2,9]]},"reference":[{"key":"1_23911865","doi-asserted-by":"crossref","first-page":"804","DOI":"10.2307\/2408465","volume":"40","year":"1986","journal-title":"Evolution","ISSN":"http:\/\/id.crossref.org\/issn\/1558-5646","issn-type":"print"},{"issue":"2","key":"3_38530275","doi-asserted-by":"publisher","first-page":"361","DOI":"10.1111\/j.1365-2656.2010.01770.x","volume":"80","author":"Bergeron","year":"2011","ISSN":"http:\/\/id.crossref.org\/issn\/1365-2656","issn-type":"print"},{"key":"4_47364573","doi-asserted-by":"crossref","first-page":"683","DOI":"10.1002\/ajp.22103","volume":"75","year":"2013","journal-title":"American
        Journal of Primatology","ISSN":"http:\/\/id.crossref.org\/issn\/1098-2345","issn-type":"pri[...]
