---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126358038,"items":[{"indexed":{"date-parts":[[2021,4,14]],"date-time":"2021-04-14T07:44:25Z","timestamp":1618386265203},"reference-count":0,"publisher":"WORLD
        SCIENTIFIC","isbn-type":[{"value":"9789810232115","type":"print"},{"value":"9789812812155","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1998,7]]},"DOI":"10.1142\/3544","type":"book","created":{"date-parts":[[2012,7,18]],"date-time":"2012-07-18T23:02:53Z","timestamp":1342652573000},"source":"Crossref","is-referenced-by-count":27,"title":["Molecular
        Complexes in Earth''s, Planetary, Cometary, and Interstellar Atmospheres"],"prefix":"10.1142","author":[{"given":"Andrei
        A","family":"Vigasin","sequence":"first","affiliation":[{"name":"Obukhov Institute
        of Atmospheric PhysicsRussia"}]},{"given":"Zdenek","family":"Slanina","sequence":"additional","affiliation":[{"name":"Toyohashi
        University of TechnologyJapan"}]}],"member":"219","published-online":{"date-parts":[[2011,11,21]]},"deposited":{"date-parts":[[2018,8,2]],"date-time":"2018-08-02T17:52:48Z","timestamp":1533232368000},"score":1.0,"issued":{"date-parts":[[1998,7]]},"ISBN":["9789810232115","9789812812155"],"references-count":0,"alternative-id":["10.1142\/3544"],"URL":"http:\/\/dx.doi.org\/10.1142\/3544"},{"indexed":{"date-parts":[[2020,4,11]],"date-time":"2020-04-11T05:43:52Z","timestamp":1586583832958},"reference-count":8,"publisher":"IOP
        Publishing","issue":"8","license":[{"URL":"http:\/\/iopscience.iop.org\/info\/page\/text-and-data-mining","start":{"date-parts":[[2014,8,1]],"date-time":"2014-08-01T00:00:00Z","timestamp":1406851200000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/iopscience.iop.org\/page\/copyright","start":{"date-parts":[[2014,8,1]],"date-time":"2014-08-01T00:00:00Z","timestamp":1406851200000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Semicond."],"published-print":{"date-parts":[[2014,8]]},"DOI":"10.1088\/1674-4926\/35\/8\/085003","type":"journal-article","created":{"date-parts":[[2014,8,6]],"date-time":"2014-08-06T10:14:28Z","timestamp":1407320068000},"page":"085003","source":"Crossref","is-referenced-by-count":0,"title":["An
        IQ mismatch calibration and compensation technique for wideband wireless transceivers"],"prefix":"10.1088","volume":"35","author":[{"given":"Jin","family":"Peng","sequence":"first","affiliation":[]},{"given":"Liguo","family":"Zhou","sequence":"additional","affiliation":[]},{"given":"Heng","family":"Yao","sequence":"additional","affiliation":[]},{"given":"Fang","family":"Yuan","sequence":"additional","affiliation":[]},{"given":"Zhi","family":"Fang","sequence":"additional","affiliation":[]},{"given":"Yin","family":"Shi","sequence":"additional","affiliation":[]}],"member":"266","published-online":{"date-parts":[[2014,8,6]]},"reference":[{"key":"1","author":"Faulkner
        M","volume":"27","first-page":"214","year":"1991","journal-title":"IET Journals
        & Magazines"},{"key":"2","DOI":"10.1109\/JSSC.2008.2005742","doi-asserted-by":"publisher"},{"key":"3","author":"Schenk
        T C W","first-page":"329","year":"2007"},{"key":"4","DOI":"10.1109\/JSSC.2005.857348","doi-asserted-by":"publisher"},{"key":"5","author":"Kang
        B","first-page":"332","year":"2010"},{"key":"6","DOI":"10.1109\/JSSC.2003.819086","doi-asserted-by":"publisher"},{"key":"7","author":"","year":"2009","journal-title":"IEEE
        802.11n-2009, Part 11: Wireless LAN Medium Access Control (MAC) and Physical
        Layer (PHY) Specifications, Amendment 5: Enhancements for Higher Throughput"},{"key":"8","author":"Hsieh
        Y H","first-page":"92","year":"2005"}],"container-title":["Journal of Semiconductors"],"link":[{"URL":"http:\/\/stacks.iop.org\/1674-4926\/35\/i=8\/a=085003\/pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/stacks.iop.org\/1674-4926\/35\/i=8\/a=085003?key=crossref.0ef85d22f1f21933a47e9e05abe0048a","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/stacks.iop.org\/1674-4926\/35\/i=8\/a=085003\/pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"similarity-checking"},{"URL":"http:\/\/stacks.iop.org\/1674-4926\/35\/i=8\/a=085003?key=crossref.0ef85d22f1f21933a47e9e05abe0048a","content-type":"text\/html","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,4,11]],"date-time":"2020-04-11T05:01:06Z","timestamp":1586581266000},"score":1.0,"issued":{"date-parts":[[2014,8]]},"references-count":8,"journal-issue":{"published-print":{"date-parts":[[2014,8,1]]},"issue":"8"},"URL":"http:\/\/dx.doi.org\/10.1088\/1674-4926\/35\/8\/085003","relation":{"cites":[]},"ISSN":["1674-4926"],"issn-type":[{"value":"1674-4926","type":"print"}],"subject":["Electrical
        and Electronic Engineering","Materials Chemistry","Electronic, Optical and
        Magnetic Materials","Condensed Matter Physics"]},{"indexed":{"date-parts":[[2020,11,24]],"date-time":"2020-11-24T22:38:46Z","timestamp":1606257526916},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1371\/journal.pone.0242605.r002","type":"component","created":{"date-parts":[[2020,11,24]],"date-time":"2020-11-24T21:49:09Z","timestamp":1606254549000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.1371","member":"340","deposited":{"date-parts":[[2020,11,24]],"date-time":"2020-11-24T21:49:13Z","timestamp":1606254553000},"score":1.0,"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0242605.r002"}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Fri, 23 Jul 2021 15:47:44 GMT
recorded_with: VCR 6.0.0
