---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/100004410
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"100004410":"European
        Molecular Biology Organization"},"replaced-by":[],"work-count":2263,"name":"European
        Molecular Biology Organization","descendants":[],"descendant-work-count":2263,"id":"100004410","tokens":["european","molecular","biology","organization","the","european","molecular","biology","organization","embo"],"replaces":["501100003043"],"uri":"http:\/\/dx.doi.org\/10.13039\/100004410","hierarchy":{"100004410":{}},"alt-names":["The
        European Molecular Biology Organization","EMBO"],"location":"Germany"}}'
  recorded_at: Sat, 26 Mar 2022 04:16:57 GMT
recorded_with: VCR 6.1.0
