---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/2167-8359/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":13053,"items":[{"DOI":"10.7717\/peerj.10282","title":["On
        local scouring downstream small water structures"]},{"DOI":"10.7717\/peerj.9241","title":["Revealing
        the selective mechanisms of inhibitors to PARP-1 and PARP-2 via multiple computational
        methods"]},{"DOI":"10.7717\/peerj.8208","title":["Concentration-dependent
        polymorphism of insulin amyloid fibrils"]},{"DOI":"10.7717\/peerj.5131","title":["Hummingbird
        migration and flowering synchrony in the temperate forests of northwestern
        Mexico"]},{"DOI"[...]
