---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?filter=has-funder:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"filter-not-available","value":"has-funder","message":"Filter
        has-funder specified but there is no such filter for this route. Valid filters
        for this route are: location"}]}'
  recorded_at: Sat, 26 Mar 2022 04:16:57 GMT
recorded_with: VCR 6.1.0
