---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":151093,"items":[{"DOI":"10.1111\/j.1365-2109.2011.02829.x","title":["Spawning-related
        mortality in captive Atlantic cod (Gadus morhua L.)"]},{"DOI":"10.1111\/j.1365-2109.2012.03212.x","title":["Bacterial
        communities in Chinese grass carp (<i>Ctenopharyngodon idellus<\/i>) farming
        ponds"]},{"DOI":"10.1111\/j.1742-1241.2009.02256.x","title":["Low-grade fever:
        how to distinguish organic from non-organic forms"]},{"DOI":"10.1111\/j.1529-8019.2006.00059.x","title":["Atopic
        dermatitis prevention"]},{"DOI":"10.1111\/j.1399-5448.[...]
