---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/100004410
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"100004410":"European
        Molecular Biology Organization"},"replaced-by":[],"work-count":446,"name":"European
        Molecular Biology Organization","descendants":[],"descendant-work-count":446,"id":"100004410","tokens":["european","molecular","biology","organization","embo"],"replaces":["501100003043"],"uri":"http:\/\/dx.doi.org\/10.13039\/100004410","hierarchy":{"100004410":{}},"alt-names":["EMBO"],"location":"Germany"}}'
  recorded_at: Tue, 04 Apr 2017 23:24:10 GMT
recorded_with: VCR 3.0.3
