---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1522803790080,"primary-name":"Hindawi
        Limited","counts":{"total-dois":178677,"current-dois":21599,"backfile-dois":157078},"breakdowns":{"dois-by-issued-year":[[2014,28910],[2013,26107],[2012,23103],[2015,21827],[2016,18601],[2017,16726],[2011,12405],[2010,6505],[2018,4873],[2009,3850],[2008,2994],[2002,2330],[2001,2116],[2007,2030],[2006,2030],[2004,1811],[2005,1649],[2003,1625],[2000,1480],[1999,1228],[1998,1221],[1995,1031],[1996,1026],[1994,1015],[1997,1006],[1993,852],[1992,762],[1991,688],[1990,540],[1989,387],[1988,362],[1983,289],[1987,249],[1981,244],[1980,244],[1986,234],[1985,226],[1982,217],[1984,213],[1979,178],[1978,140],[1891,110],[1977[...]
- request:
    method: get
    uri: https://api.crossref.org/members/340
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1522804542349,"primary-name":"Public
        Library of Science (PLoS)","counts":{"total-dois":233526,"current-dois":49173,"backfile-dois":184353},"breakdowns":{"dois-by-issued-year":[[2013,36496],[2014,35458],[2015,33566],[2012,27111],[2016,26706],[2017,24559],[2011,16685],[2010,9366],[2009,6717],[2018,5671],[2008,4607],[2007,2671],[2005,1651],[2006,1614],[2004,541],[2003,103]]},"prefixes":["10.24196","10.1371"],"coverage":{"affiliations-current":0.0,"funders-backfile":2.1697504053008743E-5,"licenses-backfile":0.985614538192749,"funders-current":0.6513330340385437,"affiliations-backfile":0.0011716652661561966,"resource-links-backfile":0.8579139113426208,"orcids-backfile":2.1697504053008743E-5,"update-policies-current":0.9987595081329346,"orcids-current":0.5801557898521423,"references-backfile":0.8787869215011597,"award-numbers-backfile":2.1697504053008743E-5,"update-policies-backfile":0.9922105669975281,"licenses-current":0.9832021594047546,"award-numbers-current":0.5598397254943848,"abstracts-backfile":0.0,"resource-links-current":0.9834665656089783,"abstracts-current":0.0,"references-current":0.9825717210769653},"prefix":[{"value":"10.24196","name":"Public
        Library of Science (PLoS)","public-references":false,"reference-visibility":"limited"},{"value":"10.1371","name":"Public
        Library of Science","public-references":true,"reference-visibility":"open"}],"id":340,"tokens":["public","library","of","science","plos"],"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-licenses-current":true},"location":"Accounts
        Payable 1160 Battery Street, Suite 100 1160 Battery Street, Suite 100 San
        Francisco CA 94111 United States","names":["Public Library of Science (PLoS)","Public
        Library of Science"]}}'
  recorded_at: Sat, 07 Apr 2018 23:17:21 GMT
[...]
