---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1581775955627,"primary-name":"Hindawi
        Limited","counts":{"total-dois":235043,"current-dois":42759,"backfile-dois":192284},"breakdowns":{"dois-by-issued-year":[[2014,28912],[2013,26118],[2012,23108],[2015,21827],[2018,21192],[2019,18857],[2016,18601],[2017,16642],[2011,12407],[2010,6505],[2009,3851],[2008,2994],[2020,2710],[2002,2329],[2001,2113],[2007,2030],[2006,2029],[2004,1803],[2005,1648],[2003,1625],[2000,1466],[1999,1211],[1998,1203],[1995,1031],[1994,1015],[1996,1003],[1997,971],[1993,852],[1992,762],[1991,688],[1990,540],[1989,387],[1988,362],[1983,289],[1987,249],[1981,244],[1980,244],[1986,234],[1985,226],[1982,217],[1984,213],[1979,178],[1[...]
- request:
    method: get
    uri: https://api.crossref.org/members/340
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1581779393523,"primary-name":"Public
        Library of Science (PLoS)","counts":{"total-dois":271735,"current-dois":44055,"backfile-dois":227680},"breakdowns":{"dois-by-issued-year":[[2013,36487],[2014,35452],[2015,33537],[2012,27083],[2016,26694],[2017,24552],[2018,22173],[2019,19629],[2011,16660],[2010,9348],[2009,6703],[2008,4585],[2007,2671],[2020,2253],[2005,1651],[2006,1613],[2004,541],[2003,103]]},"prefixes":["10.24196","10.1371"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":0.9987742304801941,"funders-backfile":0.12445976585149765,"licenses-backfile":0.9846231341362,"funders-current":0.6033821105957031,"affiliations-backfile":9.17955010663718E-4,"resource-links-backfile":0.0,"orcids-backfile":0.10271872580051422,"update-policies-current":0.9987742304801941,"open-references-backfile":1.0,"orcids-current":0.9235047101974487,"similarity-checking-backfile":0.881816565990448,"references-backfile":0.8985242247581482,"award-numbers-backfile":0.10710207372903824,"update-policies-backfile":0.9933239817619324,"licenses-current":0.9987515807151794,"award-numbers-current":0.528316855430603,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"open-references-current":1.0,"references-current":0.9983202815055847},"prefix":[{"value":"10.24196","name":"Public
        Library of Science (PLoS)","public-references":false,"reference-visibility":"limited"},{"value":"10.1371","name":"Public
        Library of Science","public-references":true,"reference-visibility":"open"}],"id":340,"tokens":["public","library","of","science","plos"],"counts-type":{"all":{"journal":1,"component":2629518,"dataset":7,"journal-article":271735},"current":{"journal-article":44055},"backfile":{"journal-article":227680}},"coverage-type":{"all":{"journal":{"last-status-check-time":1581779383972,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":1.0},"dataset":{"last-status-check-time":1581779381269,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":1.0},"journal-article":{"last-status-check-time":1581779378204,"affiliations":7.691317005082965E-4,"abstracts":0.0,"orcids":0.23578853905200958,"licenses":0.9869137406349182,"references":0.9147036671638489,"funders":0.20210498571395874,"similar[...]
[...]
