---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1648250379829,"primary-name":"Hindawi
        Limited","counts":{"current-dois":77015,"backfile-dois":261672,"total-dois":338687},"breakdowns":{"dois-by-issued-year":[[2021,36644],[2020,31333],[2014,30174],[2013,27281],[2012,24230],[2015,22983],[2018,22563],[2019,21362],[2016,19718],[2017,17962],[2011,13572],[2022,9038],[2010,7724],[2009,5772],[2008,4033],[2007,3455],[2006,3148],[2002,2857],[2004,2832],[2005,2765],[2001,2638],[2003,2226],[2000,2041],[1999,1616],[1998,1573],[1996,1377],[1997,1341],[1995,1320],[1994,1207],[1993,1071],[1992,992],[1991,912],[1990,753],[1989,606],[1988,595],[1987,481],[1986,449],[1983,441],[1984,404],[1985,400],[1981,321],[1980,3[...]
