---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":87666386,"items":[{"indexed":{"date-parts":[[2016,10,31]],"date-time":"2016-10-31T03:54:49Z","timestamp":1477886089090},"reference-count":31,"publisher":"Elsevier
        BV","issue":"1","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[1994,4,1]],"date-time":"1994-04-01T00:00:00Z","timestamp":765158400000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Virus
        Research"],"cited-count":0,"published-print":{"date-parts":[[1994,4]]},"DOI":"10.1016\/0168-1702(94)90058-2","type":"journal-article","created":{"date-parts":[[2002,12,28]],"date-time":"2002-12-28T11:34:05Z","timestamp":1041075245000},"page":"1-12","source":"CrossRef","title":["Accumulation
        of unintegrated viral DNA in rat glial cells infected with neurotropic Friend
        murine leukemia virus"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"32","author":[{"given":"Sayaka","family":"Takase-Yoden","affiliation":[]},{"given":"Rihito","family":"Watanabe","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["Virus
        Research"],"original-title":[],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:0168170294900582?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:0168170294900582?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2015,9,18]],"date-time":"2015-09-18T16:59:00Z","timestamp":1442595540000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[1994,4]]},"alternative-id":["0168170294900582"],"URL":"http:\/\/dx.doi.org\/10.1016\/0168-1702(94)90058-2","ISSN":["0168-1702"],"citing-count":31,"subject":["Cancer
        Research","Virology","Infectious Diseases"]},{"indexed":{"date-parts":[[2017,3,4]],"date-time":"2017-03-04T02:40:38Z","timestamp":1488595238272},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"cited-count":0,"DOI":"10.1371\/journal.pone.0021694.g003","type":"component","created":{"date-parts":[[2011,6,27]],"date-time":"2011-06-27T22:16:38Z","timestamp":130921299800[...]
