---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1522803790080,"primary-name":"Hindawi
        Limited","counts":{"total-dois":178677,"current-dois":21599,"backfile-dois":157078},"breakdowns":{"dois-by-issued-year":[[2014,28910],[2013,26107],[2012,23103],[2015,21827],[2016,18601],[2017,16726],[2011,12405],[2010,6505],[2018,4873],[2009,3850],[2008,2994],[2002,2330],[2001,2116],[2007,2030],[2006,2030],[2004,1811],[2005,1649],[2003,1625],[2000,1480],[1999,1228],[1998,1221],[1995,1031],[1996,1026],[1994,1015],[1997,1006],[1993,852],[1992,762],[1991,688],[1990,540],[1989,387],[1988,362],[1983,289],[1987,249],[1981,244],[1980,244],[1986,234],[1985,226],[1982,217],[1984,213],[1979,178],[1978,140],[1891,110],[1977[...]
