---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":290683,"items":[{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:46:05Z","timestamp":1620333965187},"reference-count":13,"publisher":"Hindawi
        Limited","license":[{"start":{"date-parts":[[2006,5,2]],"date-time":"2006-05-02T00:00:00Z","timestamp":1146528000000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"funder":[{"DOI":"10.13039\/501100000923","name":"Australian
        Research Council","doi-asserted-by":"publisher","award":["C 0010 6980"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Applied Mathematics and Stochastic Analysis"],"published-print":{"date-parts":[[2006,5,2]]},"abstract":"<jats:p>We
        consider the problems of computing the power and exponential\nmoments <mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E1\"><mml:mi mathvariant=\"bold\">E<\/mml:mi><mml:msup><mml:mi>X<\/mml:mi><mml:mi>s<\/mml:mi><\/mml:msup><\/mml:math>
        and <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E2\"><mml:mi
        mathvariant=\"bold\">E<\/mml:mi><mml:msup><mml:mtext>e<\/mml:mtext><mml:mrow><mml:mi>t<\/mml:mi><mml:mi>X<\/mml:mi><\/mml:mrow><\/mml:msup><\/mml:math>
        of square Gaussian random\nmatrices <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E3\"><mml:mi>X<\/mml:mi><mml:mo>=<\/mml:mo><mml:mi>A<\/mml:mi><mml:mo>+<\/mml:mo><mml:mi>B<\/mml:mi><mml:mi>W<\/mml:mi><mml:mi>C<\/mml:mi><\/mml:math>
        for positive integer <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E4\"><mml:mi>s<\/mml:mi><\/mml:math> and real <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E5\"><mml:mi>t<\/mml:mi><\/mml:math>, where\n<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E6\"><mml:mi>W<\/mml:mi><\/mml:math> is a standard normal random vector
        and <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E7\"><mml:mi>A<\/mml:mi><\/mml:math>,
        <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E8\"><mml:mi>B<\/mml:mi><\/mml:math>,
        <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E9\"><mml:mi>C<\/mml:mi><\/mml:math>
        are\nappropriately dimensioned constant matrices. We solve the problems\nby
        a matrix product scalarization technique and interpret the\nsolutions in system-theoretic
        terms. The results of the paper are\napplicable to Bayesian prediction in
        multivariate autoregressive\ntime series and mean-reverting diffusion processes.<\/jats:p>","DOI":"10.1155\/jamsa\/2006\/42542","type":"journal-article","created":{"date-parts":[[2006,5,3]],"date-time":"2006-05-03T16:20:03Z","timestamp":1146673203000},"page":"1-20","source":"Crossref","is-referenced-by-count":0,"title":["A
        scalarization technique for computing the power and exponential\nmoments of
        Gaussian random matrices"],"prefix":"10.1155","volume":"2006","author":[{"given":"Igor","family":"Vladimirov","sequence":"first","affiliation":[]},{"given":"Bevan","family":"Thompson","sequence":"additional","affiliation":[]}],"member":"98","reference":[{"key":"1","series-title":"Wiley
        Series in Probability and Mathematical Statistics: Probability and Mathematical
        Statistics","first-page":"xiv+586","year":"1994"},{"key":"2","year":"2003"},{"key":"3","year":"1996"},{"key":"4","series-title":"Prentice-Hall
        Information and System Sciences Series","first-page":"xxi+682","year":"1980"},{"key":"5","doi-asserted-by":"publisher","DOI":"10.1016\/0304-4076(83)90048-9"},{"key":"6","series-title":"Oxford
        Sci. Publ.","first-page":"705","volume-title":"A Bayesian analysis of non-stationary
        AR series","year":"1996"},{"key":"7","series-title":"Advanced Series on Statistical
        Science & Applied Probability","first-page":"xvi+834","volume":"3","year":"1999"},{"key":"8","series-title":"The
        Taylor & Francis Systems and Control Book Series","first-page":"xviii+285","year":"1998"},{"issue":"5-7","key":"9","doi-asserted-by":"crossref","first-page":"e2367","DOI":"10.1016\/j.na.2005.02.095","volume":"63","year":"2005","journal-title":"Nonlinear
        Analysis. Theory, Methods and Applications"},{"key":"10","doi-asserted-by":"publisher","DOI":"10.1109\/TAC.1978.1101743"},{"key":"11","year":"2004"},{"key":"12","year":"2004"},{"key":"13","series-title":"A
        Wiley Publication in Mathematical Statistics","first-page":"xvi+644","year":"1962"}],"container-title":["Journal
        of Applied Mathematics and Stochastic Analysis"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/archive\/2006\/042542.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/archive\/2006\/042542.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,12,8]],"date-time":"2020-12-08T18:38:27Z","timestamp":1607452707000},"score":0.0,"issued":{"date-parts":[[2006,5,2]]},"references-count":13,"alternative-id":["042542","42542"],"URL":"http:\/\/dx.doi.org\/10.1155\/jamsa\/2006\/42542","ISSN":["1048-9533","1687-2177"],"issn-type":[{"value":"1048-9533","type":"print"},{"value":"1687-2177","type":"electronic"}],"subject":["Applied
        Mathematics","Modelling and Simulation","Statistics and Probability"],"published":{"date-parts":[[2006,5,2]]}},{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T21:39:35Z","timestamp":1620337175687},"reference-count":16,"publisher":"Hindawi
        Limited","license":[{"start":{"date-parts":[[2006,1,1]],"date-time":"2006-01-01T00:00:00Z","timestamp":1136073600000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["International
        Journal of Mathematics and Mathematical Sciences"],"published-print":{"date-parts":[[2006]]},"abstract":"<jats:p>We
        consider manifolds of oriented flags<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><mml:mrow><mml:mrow><mml:mtext>SO<\/mml:mtext><mml:mrow><mml:mo>(<\/mml:mo><mml:mi>n<\/mml:mi><mml:mo>)<\/mml:mo><\/mml:mrow><\/mml:mrow><mml:mo>\/<\/mml:mo><mml:mrow><mml:mtext>SO<\/mml:mtext><mml:mrow><mml:mo>(<\/mml:mo><mml:mn>2<\/mml:mn><mml:mo>)<\/mml:mo><\/mml:mrow><\/mml:mrow><\/mml:mrow><mml:mo>\u00d7<\/mml:mo><mml:mtext>SO<\/mml:mtext><mml:mrow><mml:mo>(<\/mml:mo><mml:mrow><mml:mi>n<\/mml:mi><mml:mo>\u2212<\/mml:mo><mml:mn>3<\/mml:mn><\/mml:mrow><mml:mo>)<\/mml:mo><\/mml:mrow><\/mml:math><mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"><mml:mrow><mml:mrow><mml:mo>(<\/mml:mo><mml:mrow><mml:mi>n<\/mml:mi><mml:mo>\u2265<\/mml:mo><mml:mn>4<\/mml:mn><\/mml:mrow><mml:mo>)<\/mml:mo><\/mml:mrow><\[...]
