---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/licenses?rows=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":335,"items":[{"URL":"\n\t\t\t\t    http:\/\/creativecommons.org\/licenses\/by\/4.0\/\n\t\t\t\t  ","work-count":2},{"URL":"\n\t\t\t\t    https:\/\/www.osapublishing.org\/submit\/licenses\/license_v1.cfm#am\n\t\t\t\t  ","work-count":265},{"URL":"\n\t\t\t\t    https:\/\/www.osapublishing.org\/submit\/licenses\/license_v1.cfm#vor\n\t\t\t\t  ","work-count":530},{"URL":"\n                        http:\/\/creativecommons.org\/licenses\/by\/3.0\/legalcode\n                    ","work-count":4},{"URL":"\n                        http:\/\/www.ams.org\/publications\/copyright-and-permissions\n                    ","work-count":352},{"URL":"\n                        http:\/\/www.ieee.org\/publications_standards\/publications\/rights\/eu_copyright.pdf\n                    ","work-count":3},{"URL":"\n                        http:\/\/www.ieee.org\/publications_standards\/publications\/rights\/ieeecopyrightform.pdf\n                    ","work-count":1790},{"URL":"\n                        http:\/\/www.ieee.org\/publications_standards\/publications\/rights\/oapa.pdf\n                    ","work-count":90},{"URL":"\n                http:\/\/iopscience.iop.org\/info\/page\/text-and-data-mining\n            ","work-count":708},{"URL":"\n                http:\/\/iopscience.iop.org\/page\/copyright\n            ","work-count":708},{"URL":"
        http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/","work-count":63},{"URL":"http:\/\/avs.org","work-count":1},{"URL":"http:\/\/co.creativecommons.org\/","work-count":2},{"URL":"http:\/\/creativecommons.org\/
        licenses\/by\/4.0\/","work-count":2},{"URL":"http:\/\/creativecommons.org\/LICENSEs\/by\/3.0\/","work-count":15},{"URL":"http:\/\/creativecommons.org\/license\/by\/3.0\/","work-count":7},{"URL":"http:\/\/creativecommons.org\/licenses\/","work-count":116},{"URL":"http:\/\/creative[...]
