---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":170298797,"items":[{"DOI":"10.4135\/9781473913875.n8","title":["Data
        Analysis"]},{"DOI":"10.4135\/9781849209977.n6","title":["Doing Research: Reflecting
        on Methods, Methodology and Ethics"]},{"DOI":"10.4135\/9781412985857.n1","title":["Types
        of Validity: Construct, Trait, or Discriminant Validity"]},{"DOI":"10.4135\/9781412985857.n5","title":["The
        Contemporary Philosophy of Science Appropriate to the\n                        Multitrait-Multimethod
        Validity Matrix"]},{"DOI":"10.4135\/9781412986342.n8","title":["Specif[...]
