---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"integer-not-valid","value":"101","message":"Integer
        specified as 101 but must be a positive integer less than or equal to 100.
        "}]}'
  recorded_at: Fri, 23 Jul 2021 15:44:59 GMT
recorded_with: VCR 6.0.0
