---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/journal/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":47425,"items":[{"DOI":"10.21052\/kcmr.","title":["Korean
        Corporation Management Review"]},{"DOI":"10.5455\/jrmds.","title":["Journal
        of Research in Medical and Dental Science"]},{"DOI":"10.13107\/bbj","title":["Back
        Bone Journal"]},{"DOI":"10.11606\/issn.2596-3147","title":["Revista Ingesta"]},{"DOI":"10.3332\/ecancer.2011.242","title":["ecancermedicalscience"]},{"DOI":"10.32501\/jhmb","title":["JURNAL
        HUKUM MEDIA BHAKTI"]},{"DOI":"10.37745\/ijvter.15","title":["International
        Journal of Vocational and T[...]
