---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members?query=ecology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"ecology"},"total-results":18,"items":[{"last-status-check-time":1482387639128,"primary-name":"Chinese
        Journal of Plant Ecology","counts":{"total-dois":865,"current-dois":221,"backfile-dois":644},"breakdowns":{"dois-by-issued-year":[[2007,143],[2005,135],[2006,131],[2003,122],[2015,117],[2014,116],[2004,112],[2016,104],[2011,1]]},"prefixes":["10.17521"],"coverage":{"affiliations-current":0.0,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"orcids-current":0.0,"references-backfile":0.001552795059978962,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"references-current":0.0},"prefix":[{"public-references":false,"name":"Chinese
        Journal of Plant Ecology","value":"10.17521"}],"id":7052,"tokens":["chinese","journal","of","plant","ecology"],"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":false,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-references-current":false,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-licenses-current":false},"location":"Room
        216 15 Fuxing Road Beijing 100038 China","names":["Chinese Journal of Plant
        Ecology"]},{"last-status-check-time":1482387640513,"primary-name":"Knowledge
        Ecology International","counts":{"total-dois":1,"current-dois":1,"backfile-dois":0},"breakdowns":{"dois-by-issued-year":[[2016,1]]},"prefixes":["10.17534"],"coverage":{"affiliations-current":0.0,"funders-backfile":0,"licenses-backfile":0,"funders-current":0.0,"affiliations-backfile":0,"resource-links-backfile":0,"orcids-backfile":0,"update-policies-current":0.0,"orcids-current"[...]
