---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":96004801,"items":[{"DOI":"10.1016\/s0305-9006(99)00007-0","title":["Editorial"]},{"DOI":"10.1016\/s0032-5910(98)00174-0","title":["A
        visual kinematic model of flowing foams incorporating coalescence"]},{"DOI":"10.1016\/s0305-9006(98)00020-8","title":["Preface"]},{"DOI":"10.1016\/s0032-5910(98)00119-3","title":["Load
        diversion by embedding in crushed salt"]},{"DOI":"10.1016\/s0079-6700(98)00007-0","title":["Conference"]},{"DOI":"10.1016\/s0306-4530(99)00053-0","title":["Index"]},{"DOI":"10.1016\/s0306-4530(98)00066-3","title":["Growth
        ho[...]
