---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1803-2427
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1648258475661,"counts":{"current-dois":42,"backfile-dois":192,"total-dois":234},"breakdowns":{"dois-by-issued-year":[[2017,35],[2018,23],[2020,22],[2021,20],[2019,20],[2015,20],[2016,15],[2013,15],[2011,15],[2014,11],[2010,10],[2008,10],[2012,9],[2009,9]]},"publisher":"De
        Gruyter Poland Sp. z o.o.","coverage":{"affiliations-current":0.9761904761904762,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.0,"licenses-backfile":0.6770833333333333,"funders-current":0.0,"affiliations-backfile":0.6770833333333333,"resource-links-backfile":0.8385416666666667,"orcids-backfile":0.0,"update-policies-current":0.0,"open-references-backfile":1.0,"ror-ids-backfile":0.0,"orcids-current":0.119047619047619,"similarity-checking-backfile":0.9791666666666667,"references-backfile":0.6822916666666667,"descriptions-backfile":0.0,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":1.0,"award-numbers-current":0.0,"abstracts-backfile":0.8385416666666667,"resource-links-current":0.5238095238095238,"abstracts-current":0.9761904761904762,"open-references-current":1.0,"references-current":0.9761904761904762},"title":"Journal
        of Landscape Ecology","subjects":[{"ASJC":2308,"name":"Management, Monitoring,
        Policy and Law"},{"ASJC":2309,"name":"Nature and Landscape Conservation"},{"ASJC":2303,"name":"Ecology"}],"coverage-type":{"all":{"last-status-check-time":1648258475661,"affiliations":0.7307692307692308,"abstracts":0.8632478632478632,"orcids":0.02136752136752137,"licenses":0.735042735042735,"references":0.735042735042735,"funders":0.0,"similarity-checking":0.9829059829059829,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.782051282051282,"descriptions":0.0,"open-references":1.0},"backfile":{"last-status-check-time":1648258475661,"affiliations":0.6770833333333333,"abstracts":0.8385416666666667,"orcids":0.0,"licenses":0.6770833333333333,"references":0.6822916666666667,"funders":0.0,"similarity-checking":0.9791666666666667,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.8385416666666667,"descriptions":0.0,"open-references":1.0},"current":{"last-status-check-time":1648258475661,"affiliations":0.9761904761904762,"abstracts":0.9761904761904762,"orcids":0.119047619047619,"licenses":1.0,"references":0.9761904761904762,"funders":0.0,"similarity-checking":1.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.5238095238095238,"descriptions":0.0,"open-references":1.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":false,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":false,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1803-2427","1805-4196"],"issn-type":[{"type":"print","value":"1803-2427"},{"type":"electronic","value":"1805-4196"}]}}'
  recorded_at: Sat, 26 Mar 2022 04:17:00 GMT
[...]
