---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals?query=ecology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"ecology"},"total-results":247,"items":[{"last-status-check-time":1627049221435,"counts":{"total-dois":2,"current-dois":0,"backfile-dois":2},"breakdowns":{"dois-by-issued-year":[[2010,2]]},"publisher":"Hindawi
        Publishing Corporation (Syrexe)","coverage":{"affiliations-current":0,"similarity-checking-current":0,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0,"open-references-backfile":1.0,"orcids-current":0,"similarity-checking-backfile":0.0,"references-backfile":1.0,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0,"award-numbers-current":0,"abstracts-backfile":0.0,"resource-links-current":0,"abstracts-current":0,"open-references-current":0,"references-current":0},"title":"SRX
        Ecology","subjects":[],"coverage-type":{"all":{"last-status-check-time":1627049201879,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":1.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":1.0},"backfile":{"last-status-check-time":1627049199490,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":1.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":1.0},"current":{"last-status-check-time":1627049197157,"affiliations":0,"abstracts":0,"orcids":0,"licenses":0,"references":0,"funders":0,"similarity-checking":0,"award-numbers":0,"update-policies":0,"resource-links":0,"open-references":0}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":false,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-open-references-backfile":true,"deposits-open-references-current":false,"deposits-references-current":false,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":false,"deposits-licenses-current":false},"ISSN":["2090-1089"],"issn-type":[{"value":"2090-1089","type":"electronic"}]},{"last-status-check-time":1627051372930,"counts":{"total-dois":59,"current-dois":0,"backfile-dois":59},"breakdowns":{"dois-by-issued-year":[[2011,27],[2012,22],[2013,9],[2014,1]]},"publisher":"Hindawi
        (International Scholarly Research Network)","coverage":{"affiliations-current":0,"similarity-checking-current":0,"funders-backfile":0.49152541160583496,"licenses-backfile":1.0,"funders-current":0,"affiliations-backfile":1.0,"resource-links-backfile":1.0,"orcids-backfile":0.1[...]
