---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?query=NSF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"NSF"},"total-results":39,"items":[{"id":"100000001","location":"United
        States","name":"National Science Foundation","alt-names":["USA NSF","NSF","US
        NSF"],"uri":"http:\/\/dx.doi.org\/10.13039\/100000001","replaces":[],"replaced-by":[],"tokens":["national","science","foundation","usa","nsf","nsf","us","nsf"]},{"id":"100015388","location":"United
        States","name":"Kansas NSF EPSCoR","alt-names":["KNE","NSF EPSCoR"],"uri":"http:\/\/dx.doi.org\/10.13039\/100015388","replaces":[],"replaced-by":[],"tokens":["kansas","nsf","epscor","kne","nsf","epscor"]},{"id":"100016323","location":"United
        States","name":"Arkansas NSF EPSCoR","alt-names":["Arkansas EPSCoR Program","Arkansas
        EPSCoR","Arkansas''s NSF EPSCoR"],"uri":"http[...]
