---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":111302334,"items":[{"indexed":{"date-parts":[[2019,11,20]],"date-time":"2019-11-20T23:15:43Z","timestamp":1574291743384},"reference-count":45,"publisher":"AIP
        Publishing","issue":"5","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Mathematical Physics"],"published-print":{"date-parts":[[2007,5]]},"DOI":"10.1063\/1.2723552","type":"journal-article","created":{"date-parts":[[2007,5,9]],"date-time":"2007-05-09T22:56:00Z","timestamp":1178751360000},"page":"052102","source":"Crossref","is-referenced-by-count":5,"title":["Geometry
        of quantum active subspaces and of effective Hamiltonians"],"prefix":"10.1063","volume":"48","author":[{"given":"David","family":"Viennot","sequence":"first","affiliation":[]}],"member":"317","reference":[{"key":"c1","DOI":"10.1002\/9780470141229.ch17","doi-asserted-by":"publisher"},{"key":"c2","DOI":"10.1088\/0305-4470\/36\/40\/R01","doi-asserted-by":"publisher"},{"key":"c3","DOI":"10.1002\/0471428027.ch3","doi-asserted-by":"publisher"},{"key":"c4","DOI":"10.1088\/0305-4470\/27\/24\/028","doi-asserted-by":"publisher"},{"key":"c5","DOI":"10.1007\/s100530050236","doi-asserted-by":"publisher"},{"key":"c6","DOI":"10.1021\/jp0499373","doi-asserted-by":"publisher"},{"key":"c7","DOI":"10.1146\/annurev.physchem.46.1.83","doi-asserted-by":"publisher"},{"key":"c8","unstructured":"G.
        Jolicard and J. P. Killingbeck,Domain-based Parallelism and Problem Decomposition
        Methods in Computational Science and Engineering(SIAM, Philadelphia, 1995),
        Chap. 16, p. 179."},{"key":"c9","DOI":"10.1103\/PhysRevA.28.3184","doi-asserted-by":"publisher"},{"key":"c10","DOI":"10.1103\/PhysRevA.58.1867","doi-asserted-by":"publisher"},{"key":"c11","DOI":"10.1088\/0305-4470\/36\/20\/201","doi-asserted-by":"publisher"},{"key":"c12","DOI":"10.1016\/0009-2614(83)87511-3","doi-asserted-by":"publisher"},{"key":"c13","DOI":"10.1063\/1.451184","doi-asserted-by":"publisher"},{"key":"c14","author":"Wyatt
        R. E.","year":"1996","volume-title":"Quantum Mechanical Studies of Molecular
        Spectra and Dynamics: Dynamics of Molecules and Chemical Reactions"},{"key":"c15","DOI":"10.1098\/rspa.1984.0023","doi-asserted-by":"publisher"},{"key":"c16","DOI":"10.1103\/PhysRevLett.51.2167","doi-asserted-by":"publisher"},{"key":"c17","DOI":"10.1103\/PhysRevLett.58.1593","doi-asserted-by":"publisher"},{"key":"c18","author":"Rohlin
        V.","year":"1977","volume-title":"Premiers Cours de Topologie, Chapitres G\u00e9om\u00e9triques"},{"key":"[...]
