---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":198878,"items":[{"DOI":"10.1002\/cfg.114","title":["Meeting
        Highlights: Joint Cold Spring Harbor Laboratory and Wellcome Trust Conference
        \u2013 Genome Informatics"]},{"DOI":"10.1002\/cfg.126","title":["In This Issue"]},{"DOI":"10.1002\/cfg.127","title":["Meeting
        Highlights:15thInternational Mouse Genome Conference"]},{"DOI":"10.1002\/cfg.60","title":["Current
        Awareness on Comparative and Functional Genomics"]},{"DOI":"10.1002\/1097-0061(20000930)17:3<241::aid-yea28>3.0.co;2-t","title":["Life
        Will Never Be the Same"]},{"DOI":"10.1002[...]
