---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/licenses?query=creative
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":363,"items":[{"URL":"http:\/\/academic.oup.com\/journals\/pages\/about_us\/legal\/notices","work-count":1},{"URL":"http:\/\/aspb.org\/publications\/aspb-journals\/open-articles","work-count":2},{"URL":"http:\/\/burganova-text.com\/wp-content\/uploads\/2025\/05\/Space_of_Culture_02.2025_09_Liu-Hai.pdf","work-count":1},{"URL":"http:\/\/burganova-text.com\/wp-content\/uploads\/2025\/05\/Space_of_Culture_02.2025_11_Chen-Chunhui.pdf","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/BY-NC\/4.0","work-count":3},{"URL":"http:\/\/creativecommons.org\/licenses\/BY-SA\/4.0","work-count":8},{"U[...]
