---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?filter=has-funder:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1048823,"items":[{"indexed":{"date-parts":[[2018,1,30]],"date-time":"2018-01-30T16:02:19Z","timestamp":1517328139700},"reference-count":46,"publisher":"Elsevier
        BV","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2016,1,1]],"date-time":"2016-01-01T00:00:00Z","timestamp":1451606400000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/501100004725","name":"Ministry
        of Economic Affairs","doi-asserted-by":"publisher","award":["13343"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Water
        Research"],"published-print":{"date-parts":[[2016,1]]},"DOI":"10.1016\/j.watres.2015.10.034","type":"journal-article","created":{"date-parts":[[2015,10,24]],"date-time":"2015-10-24T22:47:47Z","timestamp":1445726867000},"page":"566-574","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":7,"title":["Fate
        of low arsenic concentrations during full-scale aeration and rapid filtration"],"prefix":"10.1016","volume":"88","author":[{"ORCID":"http:\/\/orcid.org\/0000-0001-9132-3929","authenticated-orcid":false,"given":"J.C.J.","family":"Gude","affiliation":[]},{"given":"L.C.","family":"Rietveld","affiliation":[]},{"given":"D.","family":"van
        Halem","affiliation":[]}],"member":"78","container-title":["Water Research"],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0043135415302992?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0043135415302992?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,8,3]],"date-time":"2017-08-03T09:18:43Z","timestamp":1501751923000},"score":1.0,"issued":{"date-parts":[[2016,1]]},"references-count":46,"alternative-id":["S0043135415302992"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.watres.2015.10.034","ISSN":["0043-1354"],"issn-type":[{"value":"0043-1354","type":"print"}],"subject":["Ecological
        Modelling","Waste Management and Disposal","Pollution","Water Science and
        Technology"],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"Fate of low arsenic concentrations during
        full-scale aeration and rapid filtration","name":"articletitle","label":"Article
        Title"},{"value":"Water Research","name":"journaltitle","label":"Journal Title"},{"value":"http:\/\/dx.doi.org\/10.1016\/j.watres.2015.10.034","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Content
        Type"},{"va[...]
