---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":18615020,"items":[{"indexed":{"date-parts":[[2021,12,11]],"date-time":"2021-12-11T21:49:21Z","timestamp":1639259361020},"reference-count":6,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2016,1,1]],"date-time":"2016-01-01T00:00:00Z","timestamp":1451606400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":["clinicalkey.jp","clinicalkey.com","internationaljournalofcardiology.com","clinicalkey.es","clinicalkey.com.au","clinicalkey.fr","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["International
        Journal of Cardiology"],"published-print":{"date-parts":[[2016,1]]},"DOI":"10.1016\/j.ijcard.2015.10.237","type":"journal-article","created":{"date-parts":[[2015,11,7]],"date-time":"2015-11-07T07:16:37Z","timestamp":1446880597000},"page":"726-727","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":0,"title":["Disappearing
        stent but persisting problems? Optical coherence tomography assessment of
        intra-scaffold restenosis"],"prefix":"10.1016","volume":"203","author":[{"given":"Federico","family":"Conrotto","sequence":"first","affiliation":[]},{"given":"Marco","family":"Pavani","sequence":"additional","affiliation":[]},{"given":"Fabrizio","family":"D''Ascenzo","sequence":"additional","affiliation":[]},{"given":"Fiorenzo","family":"Gaita","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.ijcard.2015.10.237_bb0005","first-page":"1396","article-title":"The
        ABSORB EXTEND study: preliminary report of the twelve-month clinical outcomes
        in the first 512 patients enrolled EuroIntervention","volume":"10","author":"Abizaid","year":"2015"},{"key":"10.1016\/j.ijcard.2015.10.237_bb0010","doi-asserted-by":"crossref","first-page":"129","DOI":"10.1016\/j.ijcard.2015.07.101","article-title":"Absorb
        bioresorbable vascular scaffold: what have we learned after 5years of clinical
        experience?","volume":"201","author":"Caiazzo","year":"2015","journal-title":"Int
        J Cardiol"},{"key":"10.1016\/j.ijcard.2015.10.237_bb0015","doi-asserted-by":"crossref","first-page":"1150","DOI":"10.1002\/ccd.25819","article-title":"Anatomical
        features and management of bioresorbable vascular scaffolds failure: a case
        series from the GHOST registry","volume":"85","author":"Longo","year":"2015","journal-title":"Catheter
        Cardiovasc Interv"},{"key":"10.1016\/j.ijcard.2015.10.237_bb0020","doi-asserted-by":"crossref","first-page":"1400","DOI":"10.1016\/j.jcin.2014.06.016","volume":"7","author":"Onuma","year":"2014","journal-title":"J
        Am Coll Cardiol Intv"},{"key":"10.1016\/j.ijcard.2015.10.237_bb0025","doi-asserted-by":"crossref","first-page":"e345","DOI":"10.1161\/CIRCULATIONAHA.104.531897","article-title":"Optical
        coherence tomography findings at 5-year follow-up after coronary stent implantation","volume":"112","author":"Regar","year":"2005","journal-title":"Circulation"},{"key":"10.1016\/j.ijcard.2015.10.237_bb0030","doi-asserted-by":"crossref","first-page":"433","DOI":"10.1161\/CIRCIMAGING.112.973701","article-title":"Nonculprit
        plaques in patients with acute coronary syndromes have more vulnerable features
        compared with those with non-acute coronary syndromes: a 3-vessel optical
        coherence tomography study","volume":"5","author":"Kato","year":"2012","journal-title":"Circ
        Cardiovasc Imaging"}],"container-title":["International Journal of Cardiology"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0167527315308056?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0167527315308056?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,9,17]],"date-time":"2018-09-17T23:26:51Z","timestamp":1537226811000},"score":0.0,"issued":{"date-parts":[[2016,1]]},"references-count":6,"alternative-id":["S0167527315308056"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.ijcard.2015.10.237","ISSN":["0167-5273"],"issn-type":[{"value":"0167-5273","type":"print"}],"subject":["Cardiology
        and Cardiovascular Medicine"],"published":{"date-parts":[[2016,1]]},"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"Disappearing stent but persisting problems?
        Optical coherence tomography assessment of intra-scaffold restenosis","name":"articletitle","label":"Article
        Title"},{"value":"International Journal of Cardiology","name":"journaltitle","label":"Journal
        Title"},{"value":"https:\/\/doi.org\/10.1016\/j.ijcard.2015.10.237","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Content
        Type"},{"value":"Copyright \u00a9 2015 Elsevier Ireland Ltd. All rights reserved.","name":"copyright","label":"Copyright"}]},{"indexed":{"date-parts":[[2021,12,11]],"date-time":"2021-12-11T21:49:16Z","timestamp":1639259356534},"reference-count":0,"publisher":"Elsevier
        BV","issue":"9","license":[{"start":{"date-parts":[[2007,5,1]],"date-time":"2007-05-01T00:00:00Z","timestamp":1177977600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Family
        Practice News"],"published-print":{"date-parts":[[2007,5]]},"DOI":"10.1016\/s0300-7073(07)70534-0","type":"journal-article","created":{"date-parts":[[2009,1,10]],"date-time":"2009-01-10T05:46:10Z","timestamp":1231566370000},"page":"12","source":"Crossref","is-referenced-by-count":0,"title":["Nicotine
        Patches Seem to Be Safe in Cardiac Patients"],"prefix":"10.1016","volume":"37","author":[{"given":"Bruce","family":"Jancin","sequence":"first","affiliation":[]}],"member":"78","container-title":["Family
        Practice News"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0300707307705340?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0300707307705340?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,12,22]],"date-time":"2018-12-22T11:51:02Z","timestamp":1545479462000},"score":0.0,"issued":{"date-parts":[[2007,5]]},"references-count":0,"journal-issue":{"issue":"9","published-print":{"date-parts":[[2007,5]]}},"alternative-id":["S0300707307705340"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0300-7073(07)70534-0","ISSN":["0300-7073"],"issn-type":[{"value":"0300-7073","type":"print"}],"subject":["Polymers
        and Plastics","General Environmental Science"],"published":{"date-parts":[[2007,5]]}},{"indexed":{"date-parts":[[2021,12,11]],"date-time":"2021-12-11T21:49:21Z","timestamp":1639259361655},"reference-count":35,"publisher":"Elsevier
        BV"[...]
