---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":111302334,"items":[{"indexed":{"date-parts":[[2019,12,3]],"date-time":"2019-12-03T19:12:21Z","timestamp":1575400341926},"reference-count":32,"publisher":"Elsevier
        BV","issue":"4","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2019,4,1]],"date-time":"2019-04-01T00:00:00Z","timestamp":1554076800000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/","start":{"date-parts":[[2019,2,14]],"date-time":"2019-02-14T00:00:00Z","timestamp":1550102400000},"delay-in-days":0,"content-version":"vor"}],"funder":[{"name":"Japan
        Society for the Promotion of Science Grant-in-Aid KAKENHI","award":["18H03021"]},{"name":"Institute
        for Health Economics and Policy","award":[]}],"content-domain":{"domain":["clinicalkey.jp","clinicalkey.com","clinicalkey.es","clinicalkey.fr","clinicalkey.com.au","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Health
        Policy"],"published-print":{"date-parts":[[2019,4]]},"DOI":"10.1016\/j.healthpol.2019.02.003","type":"journal-article","created":{"date-parts":[[2019,2,12]],"date-time":"2019-02-12T16:35:29Z","timestamp":1549989329000},"page":"353-359","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":1,"title":["Effect
        of a medical subsidy on health service utilization among schoolchildren: A
        community-based natural experiment in Japan"],"prefix":"10.1016","volume":"123","author":[{"ORCID":"http:\/\/orcid.org\/0000-0001-6126-1464","authenticated-orcid":false,"given":"Atsushi","family":"Miyawaki","sequence":"first","affiliation":[]},{"given":"Yasuki","family":"Kobayashi","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Health
        Policy"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0168851019300260?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0168851019300260?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,4,8]],"date-time":"2019-04-08T00:13:52Z","timestamp":1554682432000},"score":1.0,"issued":{"date-parts":[[2019,4]]},"references-count":32,"journal-issue":{"published-print":{"date-parts":[[2019,4]]},"issue":"4"},"alternative-id":["S0168851019300260"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.healthpol.2019.02.003","ISSN":["0168-8510"],"issn-type":[{"value":"0168-8510","type":"print"}],"subject":["Health
        Policy"],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"Effect of a medical subsidy on health
        service utilization among schoolchildren: A community-based natural experiment
        in Japan","name":"articletitle","label":"Article Title"},{"value":"Health
        Policy","name":"journaltitle","label":"Journal Title"},{"value":"https:\/\/doi.org\/10.1016\/j.healthpol.2019.02.003","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"Content
        Type"},{"value":"\u00a9 2019 The Authors. Published by Elsevier B.V.","name":"copyright","label":"Copyright"}]},{"indexed":{"date-parts":[[2019,11,24]],"date-time":"2019-11-24T10:26:50Z","timestamp":1574591210943},"publisher-location":"Berlin,
        Heidelberg","reference-count":0,"publisher":"Springer Berlin Heidelberg","isbn-type":[{"value":"9783642417139","type":"print"},{"value":"9783642417146","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014]]},"DOI":"10.1007\/978-3-642-41714-6_197758","type":"book-chapter","created":{"date-parts":[[2015,3,25]],"date-time":"2015-03-25T20:35:41Z","timestamp":1427315741000},"page":"1321-1321","source":"Crossref","is-referenced-by-count":0,"title":["stratigraphy"],"prefix":"10.1007","member":"297","published-online":{"date-parts":[[2014,8,24]]},"container-title":["Dictionary
        Geotechnical Engineering\/W\u00f6rterbuch GeoTechnik"],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-642-41714-6_197758","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2015,3,25]],"date-time":"2015-03-25T21:21:54Z","timestamp":1427318514000},"score":1.0,"issued":{"date-parts":[[2014]]},"ISBN":["9783642417139","9783642417146"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-3-642-41714-6_197758"},{"indexed":{"date-parts":[[2019,11,27]],"date-time":"2019-11-27T05:14:46Z","timestamp":1574831686580},"reference-count":0,"publisher":"UNP
        - Nebraska","isbn-type":[{"value":"9780803211414","type":"print"},{"value":"0803206925","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.2307\/j.ctt1djmg4b.14","type":"book-chapter","created[...]
