---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":87666235,"items":[{"indexed":{"date-parts":[[2016,11,9]],"date-time":"2016-11-09T19:55:15Z","timestamp":1478721315675},"reference-count":11,"publisher":"Elsevier
        BV","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2012,12,1]],"date-time":"2012-12-01T00:00:00Z","timestamp":1354320000000},"delay-in-days":0,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["L''Enc\u00e9phale"],"cited-count":0,"published-print":{"date-parts":[[2012,12]]},"DOI":"10.1016\/s0013-7006(12)70072-6","type":"journal-article","created":{"date-parts":[[2012,12,29]],"date-time":"2012-12-29T16:15:35Z","timestamp":1356797735000},"page":"S33-S36","source":"CrossRef","title":["Les
        nouvelles formes du ralentissement d\u00e9pressif"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"38","author":[{"given":"M.","family":"Freton","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["L''Enc\u00e9phale"],"original-title":[],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0013700612700726?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0013700612700726?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2016,1,16]],"date-time":"2016-01-16T20:37:33Z","timestamp":1452976653000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2012,12]]},"alternative-id":["S0013700612700726"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0013-7006(12)70072-6","ISSN":["0013-7006"],"citing-count":11,"subject":["Psychiatry
        and Mental health"]},{"indexed":{"date-parts":[[2016,11,11]],"date-time":"2016-11-11T09:32:27Z","timestamp":1478856747575},"reference-count":0,"publisher":"Springer
        Nature","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"cited-count":0,"published-print":{"date-parts":[[1973]]},"DOI":"10.1007\/978-3-662-10823-9","type":"book","created":{"date-parts":[[2013,2,9]],"date-time":"2013-02-09T07:22:30Z","timestamp":1360394550000},"source":"CrossRef","title":["Vorlesungen
        \u00fcber Massivbau"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","author":[{"given":"Fritz","family":"Leonhardt","affiliation":[]},{"given":"Eduard","family":"M\u00f6nnig","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/297","container-title":[],"original-title":[],"deposited":{"date-parts":[[2016,8,17]],"date-time":"2016-08-17T13:29:47Z","timestamp":1471440587000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[1973]]},"ISBN":["http:\/\/id.crossref.org\/isbn\/978-3-540-05733-8","http:\/\/id.crossref.org\/isbn\/978-3-662-10823-9"],"URL":"http:\/\/dx.doi.org\/10.1007\/978-3-662-10823-9","citing-count":0},{"indexed":{"date-parts":[[2016,10,25]],"date-time":"2016-10-25T02:50:30Z","timestamp":1477363830066},"reference-count":18,"publisher":"CFA
        Institute","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Financial
        Analysts Journal"],"cited-count":0,"published-print":{"date-parts":[[2006,7]]},"DOI":"10.2469\/faj.v62.n4.4188","type":"journal-article","created":{"date-parts":[[2006,7,21]],"date-time":"2006-07-21T15:03:00Z","timestamp":1153494180000},"page":"76-85","source":"CrossRef","title":["Covariance
        Misspecification in Asset Allocation"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.2469","volume":"62","author":[{"given":"Steven
        P.","family":"Peterson","affiliation":[]},{"given":"John T.","family":"Grier","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/1300","container-title":["Financial
        Analysts Journal"],"original-title":[],"deposited":{"date-parts":[[2011,2,27]],"date-time":"2011-02-27T22:36:07Z","timestamp":1298846167000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2006,7]]},"alternative-id":["10.2469\/faj.v62.n4.4188"],"URL":"http:\/\/dx.doi.org\/10.2469\/faj.v62.n4.4188","ISSN":["0015-198X"],"citing-count":18,"subject":["Economics
        and Econometrics","Accounting","Finance"]}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Tue, 04 Apr 2017 23:06:13 GMT
recorded_with: VCR 3.0.3
