---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2021,12,13]],"date-time":"2021-12-13T17:50:15Z","timestamp":1639417815104},"reference-count":8,"publisher":"IEEE","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1109\/acssc.2004.1399257","type":"proceedings-article","created":{"date-parts":[[2005,3,31]],"date-time":"2005-03-31T18:26:51Z","timestamp":1112293611000},"source":"Crossref","is-referenced-by-count":44,"title":["Opportunistic
        multicasting"],"prefix":"10.1109","author":[{"given":"P.K.","family":"Gopala","sequence":"first","affiliation":[]},{"given":"H.","family":"El
        Gamal","sequence":"additional","affiliation":[]}],"member":"263","event":{"name":"Conference
        Record of the Thirty-Eighth Asilomar Conference on Signals, Systems and Computers,
        2004.","location":"Pacific Grove, Ca, USA"},"container-title":["Conference
        Record of the Thirty-Eighth Asilomar Conference on Signals, Systems and Computers,
        2004."],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx5\/9626\/30419\/01399257.pdf?arnumber=1399257","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,6,16]],"date-time":"2017-06-16T17:51:01Z","timestamp":1497635461000},"score":0.0,"issued":{"date-parts":[[null]]},"references-count":8,"URL":"http:\/\/dx.doi.org\/10.1109\/acssc.2004.1399257"},{"indexed":{"date-parts":[[2021,12,13]],"date-time":"2021-12-13T12:23:56Z","timestamp":1639398236187},"reference-count":0,"publisher":"Springer
        Science and Business Media LLC","issue":"3","license":[{"start":{"date-parts":[[2003,3,1]],"date-time":"2003-03-01T00:00:00Z","timestamp":1046476800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Mathematical
        Programming"],"published-print":{"date-parts":[[2003,3,1]]},"DOI":"10.1007\/s10107-002-0363-5","type":"journal-article","created":{"date-parts":[[2003,12,11]],"date-time":"2003-12-11T01:37:41Z","timestamp":1071106661000},"page":"533-554","source":"Crossref","is-referenced-by-count":36,"title":["On
        the maximum feasible subsystem problem, IISs and IIS-hypergraphs"],"prefix":"10.1007","volume":"95","author":[{"given":"Edoardo","family":"Amaldi","sequence":"first","affiliation":[]},{"given":"Marc
        E.","family":"Pfetsch","sequence":"additional","affiliation":[]},{"given":"Leslie
        E.","family":"Trotter, Jr.","sequence":"additional","affiliation":[]}],"member":"297","container-title":["Mathematical
        Programming"],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/s10107-002-0363-5.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/link.springer.com\/article\/10.1007\/s10107-002-0363-5\/fulltext.html","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/s10107-002-0363-5","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,5,29]],"date-time":"2019-05-29T09:49:54Z","timestamp":1559123394000},"score":0.0,"issued":{"date-parts":[[2003,3,1]]},"references-count":0,"journal-issue":{"issue":"3","published-print":{"date-parts":[[2003,3,1]]}},"alternative-id":["FEC0JH95APHBNPUV"],"URL":"http:\/\/dx.doi.org\/10.1007\/s10107-002-0363-5","ISSN":["0025-5610","1436-4646"],"issn-type":[{"value":"0025-5610","type":"print"},{"value":"1436-4646","type":"electronic"}],"subject":["General
        Mathematics","Software"],"published":{"date-parts":[[2003,3,1]]}},{"indexed":{"date-parts":[[2022,2,16]],"date-time":"2022-02-16T07:40:15Z","timestamp":1644997215062},"reference-count":15,"publisher":"Academy
        of Natural Sciences of Philadelphia","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Proceedings
        of the Academy of Natural Sciences of Philadelphia"],"published-print":{"date-parts":[[2013,3]]},"DOI":"10.1635\/053.162.0110","type":"journal-article","created":{"date-parts":[[2013,5,7]],"date-time":"2013-05-07T11:12:00Z","timestamp":1367925120000},"page":"157-173","source":"Crossref","is-referenced-by-count":9,"title":["Sternarchella
        calhamazonn. sp., the Amazon''s Most Abundant Species of Apteronotid Electric
        Fish, with a Note on the Taxonomic Status ofSternarchus capanemaeSteindachner,
        1868 (Gymnotiformes, Apteronotidae)"],"prefix":"10.1635","volume":"162","author":[{"given":"John
        G.","family":"Lundberg","sequence":"first","affiliation":[]},{"given":"Cristina
        Cox","family":"Fernandes","sequence":"additional","affiliation":[]},{"given":"Ricardo","family":"Campos-Da-Paz","sequence":"additional","affiliation":[]},{"given":"John
        P.","family":"Sullivan","sequence":"additional","affiliation":[]}],"member":"1210","container-title":["Proceedings
        of the Academy of Natural Sciences of Philadelphia"],"language":"en","deposited":{"date-parts":[[2022,2,16]],"date-time":"2022-02-16T07:07:07Z","timestamp":1644995227000},"score":0.0,"issued":{"date-parts":[[2013,3]]},"references-count":15,"journal-issue":{"issue":"1","published-print":{"date-parts":[[2013,3]]}},"alternative-id":["10.1635\/053.162.0110"],"URL":"http:\/\/dx.doi.org\/10.1635\/053.162.0110","ISSN":["0097-3157","1938-5293"],"issn-type":[{"value":"0097-3157","type":"print"},{"value":"1938-5293","type":"electronic"}],"subject":["Ecology","Ecology,
        Evolution, Behavior and Systematics"],"published":{"date-parts":[[2013,3]]}}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 26 Mar 2022 04:17:40 GMT
recorded_with: VCR 6.1.0
