---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":18162318,"items":[{"DOI":"10.1016\/s0022-3476(69)80360-4","title":["Subject
        index"]},{"DOI":"10.1016\/s0026-0576(01)80141-0","title":["Centrifugal pumps"]},{"DOI":"10.1016\/s0002-9610(00)00531-6","title":["Removal
        of the thrombosed prosthetic axillofemoral graft"]},{"DOI":"10.1016\/s0885-2006(97)90001-6","title":["From
        the editor"]},{"DOI":"10.1016\/s0022-1139(00)84566-2","title":["Fast ionic
        fluoride conductors: General criteria and modeling"]},{"DOI":"10.1016\/0031-9422(91)85159-w","title":["Studies
        in natural product chemistry, volume 7: Structure and chemistry:"]},{"DOI":"10.1016\/j.brachy.2006.03.058","title":["LDR
        brachytherapy implants as a boost in early stage breast cancer in women with
        cilastic implants"]},{"DOI":"10.1016\/s0022-3476(69)80327-6","title":["The
        Journal of Pediatrics Educational Foundation"]},{"DOI":"10.1016\/s0031-9422(00)83081-2","title":["Plant
        membranes:"]},{"DOI":"10.1016\/s1053-2498(00)00470-8","title":["Systemic vasculitis
        complicating pig to primate xenotransplantation"]},{"DOI":"10.1016\/s0039-6028(01)00881-0","title":["Materials
        index"]},{"DOI":"10.1016\/s0305-7488(87)80023-3","title":[""]},{"DOI":"10.1016\/s0031-9422(00)90683-6","title":["North
        American receiving office"]},{"DOI":"10.1016\/s0022-1139(00)85391-9","title":["Electrolytic
        preparation of bis(fluorosulfuryl) peroxide"]},{"DOI":"10.1016\/s1053-2498(00)00519-2","title":["Specialized,
        comprehensive care eliminates racial and gender differences in mortality between
        African American and Caucasian heart failure patients"]},{"DOI":"10.1016\/s0022-1139(00)85466-4","title":["Fluorination
        of tetralin with potassium tetrafluorocobaltate(III)"]},{"DOI":"10.1016\/0167-2231(77)90007-0","title":["Indexing
        the economy through financial intermediation: a comment"]},{"DOI":"10.1016\/s0022-1139(00)83326-6","title":["Some
        reactions of F5SC\ue5fcCH and F5SC\ue5fcCSF5"]},{"DOI":"10.1016\/s0149-7944(01)00436-6","title":["Comment"]},{"DOI":"10.1016\/s0376-7388(01)00347-7","title":["SUBJECT
        INDEX"]}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 18 Sep 2021 16:11:39 GMT
recorded_with: VCR 6.0.0
