---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007%2F12080.1874-1746
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2021,12,21]],"date-time":"2021-12-21T08:07:21Z","timestamp":1640074041563},"reference-count":0,"publisher":"Springer
        Science and Business Media LLC","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1007\/12080.1874-1746","type":"journal","created":{"date-parts":[[2013,5,25]],"date-time":"2013-05-25T00:17:50Z","timestamp":1369441070000},"source":"Crossref","is-referenced-by-count":0,"title":["Theoretical
        Ecology"],"prefix":"10.1007","member":"297","container-title":[],"original-title":[],"language":"en","deposited":{"date-parts":[[2013,5,25]],"date-time":"2013-05-25T00:17:50Z","timestamp":1369441070000},"score":1,"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/12080.1874-1746","relation":{},"ISSN":["1874-1738","1874-1746"],"issn-type":[{"value":"1874-1738","type":"print"},{"value":"1874-1746","type":"electronic"}],"subject":["Ecological
        Modeling","Ecology"]}}'
  recorded_at: Sat, 26 Mar 2022 04:18:12 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1111%2F(issn)1442-9993
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
  [...]
