---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":127472782,"items":[{"indexed":{"date-parts":[[2021,5,9]],"date-time":"2021-05-09T12:32:36Z","timestamp":1620563556924},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2007,12,1]]},"DOI":"10.1093\/ww\/9780199540884.013.u206658","type":"reference-entry","created":{"date-parts":[[2018,7,17]],"date-time":"2018-07-17T06:18:29Z","timestamp":1531808309000},"source":"Crossref","is-referenced-by-count":0,"title":["Brodie,
        John A., (1 June 1858\u201316 Nov. 1934), civil engineer; Joint Engineer to
        the Mersey Tunnel Committee, Liverpool, since 1926"],"prefix":"10.1093","member":"286","container-title":["Who
        Was Who"],"original-title":["Brodie, John A., (1 June 1858\u201316 Nov. 1934),
        civil engineer; Joint Engineer to the Mersey Tunnel Committee, Liverpool,
        since 1926"],"deposited":{"date-parts":[[2018,7,17]],"date-time":"2018-07-17T06:18:29Z","timestamp":1531808309000},"score":0.99999994,"issued":{"date-parts":[[2007,12,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1093\/ww\/9780199540884.013.u206658","published":{"date-parts":[[2007,12,1]]}},{"indexed":{"date-parts":[[2021,5,10]],"date-time":"2021-05-10T19:45:11Z","timestamp":1620675911902},"reference-count":0,"publisher":"The
        Korean Association of Party Studies","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["KPSR"],"published-print":{"date-parts":[[2020,9,30]]},"DOI":"10.30992\/kpsr.2020.09.19.3.75","type":"journal-article","created":{"date-parts":[[2020,10,13]],"date-time":"2020-10-13T00:21:03Z","timestamp":1602548463000},"page":"75-105","source":"Crossref","is-referenced-by-count":0,"title":["Continuity
        and Change of Preliminary Review System in Japan\u2019s LDP: Focusing on Changes
        in the Prime Minister-Ruling Party Relations"],"prefix":"10.30992","volume":"19","author":[{"given":"Jukyung","family":"Lee","sequence":"first","affiliation":[]}],"member":"16026","container-title":["Korean
        Party Studies Review"],"original-title":["\uc77c\ubcf8 \uc790\ubbfc\ub2f9
        \uc0ac\uc804\uc2ec\uc0ac\uc81c\uc758 \ubcc0\ud654\uc640 \uc9c0\uc18d: \uc218\uc0c1-\uc5ec\ub2f9
        \uac04 \uad00\uacc4 \ubcc0\ud654\ub97c \uc911\uc2ec\uc73c\ub85c"],"language":"en","deposited":{"date-parts":[[2020,10,13]],"date-time":"2020-10-13T00:21:05Z","timestamp":1602548465000},"score":0.99999994,"issued":{"date-parts":[[2020,9,30]]},"references-count":0,"journal-issue":{"issue":"3","published-print":{"date-parts":[[2020,9,30]]}},"URL":"http:\/\/dx.doi.org\/10.30992\/kpsr.2020.09.19.3.75","ISSN":["1598-5008"],"issn-type":[{"value":"1598-5008","type":"print"}],"published":{"date-parts":[[2020,9,30]]}},{"indexed":{"date-parts":[[2021,8,26]],"date-time":"2021-08-26T08:25:59Z","timestamp":1629966359751},"reference-count":0,"publisher":"Society
        for Neuroscience","issue":"33","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Neuroscience"],"published-print":{"date-parts":[[2010,8,18]]},"DOI":"10.1523\/jneurosci.2302-10.2010","type":"journal-article","created":{"date-parts":[[2010,8,18]],"date-time":"2010-08-18T18:12:40Z","timestamp":1282155160000},"page":"11197-11201","source":"Crossref","is-referenced-by-count":16,"title":["Direction-Selective
        Ganglion Cells Show Symmetric Participation in Retinal Waves During Development"],"prefix":"10.1523","volume":"30","author":[{"given":"J.","family":"Elstrott","sequence":"first","affiliation":[]},{"given":"M.
        B.","family":"Feller","sequence":"additional","affiliation":[]}],"member":"393","published-online":{"date-parts":[[2010,8,18]]},"container-title":["Journal
        of Neuroscience"],"language":"en","deposited":{"date-parts":[[2021,4,28]],"date-time":"2021-04-28T18:23:31Z","timestamp":1619634211000},"score":0.99999994,"issued":{"date-parts":[[2010,8,18]]},"references-count":0,"journal-issue":{"issue":"33","published-online":{"date-parts":[[2010,8,18]]},"published-print":{"date-parts":[[2010,8,18]]}},"URL":"http:\/\/dx.doi.org\/10.1523\/jneurosci.2302-10.2010","ISSN":["0270-6474","1529-2401"],"issn-type":[{"value":"0270-6474","type":"print"},{"value":"1529-2401","type":"electronic"}],"subject":["General
        Neuroscience"],"published":{"date-parts":[[2010,8,18]]}}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 18 Sep 2021 16:11:52 GMT
recorded_with: VCR 6.0.0
