---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/2167-8359
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1749346709800,"counts":{"current-dois":4912,"backfile-dois":14497,"total-dois":19409},"breakdowns":{"dois-by-issued-year":[[2020,2281],[2019,2127],[2021,2119],[2023,2099],[2024,2016],[2018,1932],[2022,1870],[2017,1368],[2016,1296],[2015,801],[2025,797],[2014,471],[2013,232]]},"publisher":"PeerJ","coverage":{"affiliations-current":0.8988192182410423,"similarity-checking-current":0.9995928338762216,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.7356004690625647,"licenses-backfile":0.9129475063806305,"funders-current":0.7567182410423453,"affiliations-backfile":0.9319859281230599,"resource-links-backfile":0.9129475063806305,"orcids-backfile":0.2230806373732496,"update-policies-current":0.0,"ror-ids-backfile":0.0,"orcids-current":0.2815553745928339,"similarity-checking-backfile":0.9978616265434228,"references-backfile":0.9971718286542043,"descriptions-backfile":0.0,"award-numbers-backfile":0.5904669931710009,"update-policies-backfile":0.0,"licenses-current":0.9995928338762216,"award-numbers-current":0.6471905537459283,"abstracts-backfile":0.9129475063806305,"resource-links-current":0.9995928338762216,"abstracts-current":0.9995928338762216,"references-current":0.9995928338762216},"title":"PeerJ","subjects":[],"coverage-type":{"all":{"last-status-check-time":1749346709800,"affiliations":0.92359214797259,"abstracts":0.9348755731876964,"orcids":0.2378793343294348,"licenses":0.9348755731876964,"references":0.9977845329486321,"funders":0.7409449224586532,"similarity-checking":0.998299757844299,"award-numbers":0.6048225050234427,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.9348755731876964,"descriptions":0.0},"backfile":{"last-status-check-time":1749346709800,"affiliations":0.9319859281230599,"abstracts":0.9129475063806305,"orcids":0.2230806373732496,"licenses":0.9129475063806305,"references":0.9971718286542043,"funders":0.7356004690625647,"similarity-checking":0.9978616265434228,"award-numbers":0.5904669931710009,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.9129475063806305,"descriptions":0.0},"current":{"last-status-check-time":1749346709800,"affiliations":0.8988192182410423,"abstracts":0.9995928338762216,"orcids":0.2815553745928339,"licenses":0.9995928338762216,"references":0.9995928338762216,"funders":0.7567182410423453,"similarity-checking":0.9995928338762216,"award-numbers":0.6471905537459283,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.9995928338762216,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["2167-8359"],"issn-type":[{"type":"electronic","value":"2167-8359"}]}}'
  recorded_at: Sun, 08 Jun 2025 20:52:52 GMT
recorded_with: VCR 6.3.1
