---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?filter=has-funder:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2337968,"items":[{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:05:47Z","timestamp":1620331547057},"reference-count":7,"publisher":"Elsevier
        BV","issue":"1-3","license":[{"start":{"date-parts":[[2001,3,1]],"date-time":"2001-03-01T00:00:00Z","timestamp":983404800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"},{"start":{"date-parts":[[2013,7,17]],"date-time":"2013-07-17T00:00:00Z","timestamp":1374019200000},"content-version":"vor","delay-in-days":4521,"URL":"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/501100002850","name":"Fondo
        Nacional de Desarrollo Cient\u00edfico y Tecnol\u00f3gico","doi-asserted-by":"publisher","award":["1960931"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Annals
        of Pure and Applied Logic"],"published-print":{"date-parts":[[2001,3]]},"DOI":"10.1016\/s0168-0072(00)00049-x","type":"journal-article","created":{"date-parts":[[2002,7,25]],"date-time":"2002-07-25T16:56:30Z","timestamp":1027616190000},"page":"249-259","source":"Crossref","is-referenced-by-count":0,"title":["On
        free annotated algebras"],"prefix":"10.1016","volume":"108","author":[{"given":"Renato","family":"A.
        Lewin","sequence":"first","affiliation":[]},{"given":"Irene","family":"F.
        Mikenberg","sequence":"additional","affiliation":[]},{"given":"Mar\u0131\u0301a","family":"G.
        Schwarze","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/S0168-0072(00)00049-X_BIB1","doi-asserted-by":"crossref","unstructured":"W.J.
        Blok, D. Pigozzi, Algebraizable logics, Memoirs AMS 77 (396), 1989.","DOI":"10.1090\/memo\/0396"},{"key":"10.1016\/S0168-0072(00)00049-X_BIB2","doi-asserted-by":"crossref","first-page":"227","DOI":"10.1007\/BF02584057","article-title":"Equivalential
        logics I","volume":"40","author":"Czelakowski","year":"1981","journal-title":"Studia
        Logica"},{"key":"10.1016\/S0168-0072(00)00049-X_BIB3","doi-asserted-by":"crossref","first-page":"139","DOI":"10.1002\/malq.19910370903","article-title":"The
        paraconsistent logics P\u03c4","volume":"37","author":"da Costa","year":"1991","journal-title":"Z.
        Math. Logic"},{"issue":"3","key":"10.1016\/S0168-0072(00)00049-X_BIB4","doi-asserted-by":"crossref","first-page":"359","DOI":"10.1023\/A:1005036412368","article-title":"On
        the algebraizability of annotated logics","volume":"59","author":"Lewin","year":"1997","journal-title":"Studia
        Logica"},{"key":"10.1016\/S0168-0072(00)00049-X_BIB5","series-title":"Models,
        Algebras, and Proofs. Proceedings of the X SLALM, Bogot\u00e1 1995","first-page":"279","article-title":"Matrix
        semantics for annotated logics","author":"Lewin","year":"1998"},{"key":"10.1016\/S0168-0072(00)00049-X_BIB6","doi-asserted-by":"crossref","first-page":"137","DOI":"10.1023\/A:1005203411722","article-title":"Algebras
        and matrices for annotated logics","volume":"65","author":"Lewin","year":"2000","journal-title":"Studia
        Logica"},{"key":"10.1016\/S0168-0072(00)00049-X_BIB7","series-title":"Proceedings
        of the 4th IEEE Symposium on Logic Programming","first-page":"173","article-title":"On
        the semantics of quantitative logic programs","author":"Subrahmanian","year":"1987"}],"container-title":["Annals
        of Pure and Applied Logic"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S016800720000049X?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S016800720000049X?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2021,4,1]],"date-time":"2021-04-01T10:58:41Z","timestamp":1617274721000},"score":0.0,"issued":{"date-parts":[[2001,3]]},"references-count":7,"journal-issue":{"issue":"1-3","published-print":{"date-parts":[[2001,3]]}},"alternative-id":["S016800720000049X"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0168-0072(00)00049-x","ISSN":["0168-0072"],"issn-type":[{"value":"0168-0072","type":"print"}],"subject":["Logic"],"published":{"date-parts":[[2001,3]]}},{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:12:01Z","timestamp":1620331921778},"reference-count":15,"publisher":"Elsevier
        BV","issue":"4","license":[{"start":{"date-parts":[[1997,4,1]],"date-time":"1997-04-01T00:00:00Z","timestamp":859852800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/501100000266","name":"Engineering
        and Physical Sciences Re[...]
