---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,has-full-text:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":6653070,"items":[{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:46:05Z","timestamp":1620333965187},"reference-count":13,"publisher":"Hindawi
        Limited","license":[{"start":{"date-parts":[[2006,5,2]],"date-time":"2006-05-02T00:00:00Z","timestamp":1146528000000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"}],"funder":[{"DOI":"10.13039\/501100000923","name":"Australian
        Research Council","doi-asserted-by":"publisher","award":["C 0010 6980"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Journal
        of Applied Mathematics and Stochastic Analysis"],"published-print":{"date-parts":[[2006,5,2]]},"abstract":"<jats:p>We
        consider the problems of computing the power and exponential\nmoments <mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E1\"><mml:mi mathvariant=\"bold\">E<\/mml:mi><mml:msup><mml:mi>X<\/mml:mi><mml:mi>s<\/mml:mi><\/mml:msup><\/mml:math>
        and <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E2\"><mml:mi
        mathvariant=\"bold\">E<\/mml:mi><mml:msup><mml:mtext>e<\/mml:mtext><mml:mrow><mml:mi>t<\/mml:mi><mml:mi>X<\/mml:mi><\/mml:mrow><\/mml:msup><\/mml:math>
        of square Gaussian random\nmatrices <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E3\"><mml:mi>X<\/mml:mi><mml:mo>=<\/mml:mo><mml:mi>A<\/mml:mi><mml:mo>+<\/mml:mo><mml:mi>B<\/mml:mi><mml:mi>W<\/mml:mi><mml:mi>C<\/mml:mi><\/mml:math>
        for positive integer <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E4\"><mml:mi>s<\/mml:mi><\/mml:math> and real <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E5\"><mml:mi>t<\/mml:mi><\/mml:math>, where\n<mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\"
        id=\"E6\"><mml:mi>W<\/mml:mi><\/mml:math> is a standard normal random vector
        and <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E7\"><mml:mi>A<\/mml:mi><\/mml:math>,
        <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E8\"><mml:mi>B<\/mml:mi><\/mml:math>,
        <mml:math xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"E9\"><mml:mi>C<\/mml:mi><\/mml:math>
        are\nappropriately dimensioned constant matrices. We solve the problems\nby
        a matrix product scalarization technique and interpret the\nsolutions in system-theoretic
        terms. The results of the paper are\napplicable to Bayesian prediction in
        multivariate autoregressive\ntime series and mean-reverting diffusion processes.<\/jats:p>","DOI":"10.1155\/jamsa\/2006\/42542","type":"journal-article","created":{"date-parts":[[2006,5,3]],"date-time":"2006-05-03T16:20:03Z","timestamp":1146673203000},"page":"1-20","source":"Crossref","is-referenced-by-count":0,"title":["A
        scalarization technique for computing the power and exponential\nmoments of
        Gaussian random matrices"],"prefix":"10.1155","volume":"2006","author":[{"given":"Igor","family":"Vladimirov","sequence":"first","affiliation":[]},{"given":"Bevan","family":"Thompson","sequence":"additional","affiliation":[]}],"member":"98","reference":[{"key":"1","series-title":"Wiley
        Series in Probability and Mathematical Statistics: Probability and Mathematical
        Statistics","first-page":"xiv+586","year":"1994"},{"key":"2","year":"2003"},{"key":"3","year":"1996"},{"key":"4","series-title":"Prentice-Hall
        Information and System Sciences Series","first-page":"xxi+682","year":"1980"},{"key":"5","doi-asserted-by":"publisher","DOI":"10.1016\/0304-4076(83)90048-9"},{"key":"6","series-title":"Oxford
        Sci. Publ.","first-page":"705","volume-title":"A Bayesian analysis of non-stationary
        AR series","year":"1996"},{"key":"7","series-title":"Advanced Series on Statistical
        Science & Applied Probability","first-page":"xvi+834","volume":"3","year":"1999"},{"key":"8","series-title":"The
        Taylor & Francis Systems and Control Book Series","first-page":"xviii+285","year":"1998"},{"issue":"5-7","key":"9","doi-asserted-by":"crossref","first-page":"e2367","DOI":"10.1016\/j.na.2005.02.095","volume":"63","year":"2005","journal-title":"Nonlinear
        Analysis. Theory, Methods and Applications"},{"key":"10","doi-asserted-by":"publisher","DOI":"10.1109\/TAC.1978.1101743"},{"key":"11","year":"2004"},{"key":"12","year":"2004"},{"key":"13","series-title":"A
        Wiley Publication in Mathematical Statistics","first-page":"xvi+644","year":"1962"}],"container-title":["Journal
        of Applied Mathematics and Stochastic Analysis"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/archive\/2006\/042542.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/archive\/2006\/042542.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,12,8]],"date-time":"2020-12-08T18:38:27Z","timestamp":1607452707000},"score":0.0,"issued":{"date-parts":[[2006,5,2]]},"references-count":13,"alternative-id":["042542","42542"],"URL":"http:\/\/dx.doi.org\/10.1155\/jamsa\/2006\/42542","ISSN":["1048-9533","1687-2177"],"issn-type":[{"value":"1048-9533","type":"print"},{"value":"1687-2177","type":"electronic"}],"subject":["Applied
        Mathematics","Modelling and Simulation","Statistics and Probability"],"published":{"date-parts":[[2006,5,2]]}},{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:04:50Z","timestamp":1620331490522},"reference-count":10,"publisher":"Wiley","issue":"4","license":[{"start":{"date-parts":[[1982,11,1]],"date-time":"1982-11-01T00:00:00Z","timestamp":404956800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"funder":[{"DOI":"10.13039\/501100000038","name":"Natural
        Sciences and Engineering Research Council of Canada","doi-asserted-by":"publisher"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["TAXON"],"published-print":{"date-parts":[[1982,11]]},"DOI":"10.2307\/1219681","type":"journal-article","created":{"date-parts":[[2006,4,23]],"date-time":"2006-04-23T04:52:25Z","timestamp":1145767945000},"page":"662-666","source":"Crossref","is-referenced-by-count":0,"title":["A
        MONTE CARLO APPROACH TO LINKAGE CLUSTERING"],"prefix":"10.1002","volume":"31","author":[{"given":"K.
        W.","family":"Newman","sequence":"first","affiliation":[{"name":"Department
        of Plant ScienceUniversity of Western OntarioLondonOntarioN6A 5B7Canada"}]}],"member":"311","published-online":{"date-parts":[[2019,6,27]]},"reference":[{"key":"e_1_2_1_2_1","first-page":"118","volume-title":"Geographic
        variation in Pinus contorta. Maria Moors Cabot Foundation Publication No.
        3","author":"Critchfield W. B.","year":"1957"},{"key":"e_1_2_1_3_1","volume-title":"The
        interpretation of multiple observations","author":"Marriott F. H. C.","year":"1974"},{"key":"e_1_2_1_4_1","doi-asserted-by":"publisher","DOI":"10.2307\/1218428"},{"key":"e_1_2_1_5_1","volume-title":"Multivariate
        statistical methods","author":"Morrison D. M.","year":"1976"},{"key":"e_1_2_1_6_1","volume-title":"Aims
        and methods of vegetation ecology","author":"Mueller\u2010Dombois D.","year":"1974"},{"key":"e_1_2_1_7_1","doi-asserted-by":"publisher","DOI":"10.2307\/1220078"},{"key":"e_1_2_1_8_1","unstructured":"Newman
        K. W.1981b.A multivariate study of geographic variation in the cones ofPinus
        contortain relation to environmental variables. Ph.D. Thesis University of
        Western Ontario."},{"key":"e_1_2_1_9_1","doi-asserted-by":"publisher","DOI":"10.2307\/1219990"},{"key":"e_1_2_1_10_1","first-page":"573","volume-title":"Numerical
        taxonomy","author":"Sneath P. H. A.","year":"1973"},{"key":"e_1_2_1_11_1","volume-title":"Handbook
        of non\u2010parametric statistics","author":"Walsh J. E.","year":"1965"}],"container-title":["TAXON"],"language":"en","link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.2307%2F1219681","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/pdf\/10.2307\/1219681","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/pdf\/10.2307\/1219681","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,9,20]],"date-time":"2019-09-20T06:41:50Z","timestamp":1568961710000},"score":0.0,"issued":{"date-parts":[[1982,11]]},"references-count":10,"journal-issue":{"issue":"4","published-online":{"date-parts":[[2019,6,27]]},"published-print":{"date-parts":[[1982,11]]}},"alternative-id":["10.2307\/1219681"],"URL":"http:\/\/dx.doi.org\/10.2307\/1219681","archive":["Portico"],"ISSN":["0040-0262","1996-8175"],"issn-type":[{"value":"0040-0262","type":"print"},{"value":"1996-8175","type":"electronic"}],"subject":["Plant
        Science","Ecology, Evolution, Behavior and Systematics"],"published":{"date-parts":[[1982,11]]}},{"indexed":{"date-parts":[[2021,5,6]],"date-time":"2021-05-06T20:21:21Z","timestamp":1620332481037},"reference-count":0,"publisher":"Wiley","license":[{"start":{"date-parts":[[1996,7,1]],"date-time":"1996-07-01T00:00:00Z","timestamp":83617[...]
