---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":236469,"items":[{"indexed":{"date-parts":[[2019,11,18]],"date-time":"2019-11-18T20:41:47Z","timestamp":1574109707344},"reference-count":0,"publisher":"Hindawi
        Limited","issue":"19","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2003,1,1]],"date-time":"2003-01-01T00:00:00Z","timestamp":1041379200000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Abstract
        and Applied Analysis"],"published-print":{"date-parts":[[2003]]},"DOI":"10.1155\/s1085337503305032","type":"journal-article","created":{"date-parts":[[2004,1,1]],"date-time":"2004-01-01T11:35:02Z","timestamp":1072956902000},"page":"1061-1139","source":"Crossref","is-referenced-by-count":21,"title":["L2(\u03a3)-regularity
        of the boundary to boundary operator B\u2217L for hyperbolic and Petrowski
        PDEs"],"prefix":"10.1155","volume":"2003","author":[{"given":"I.","family":"Lasiecka","sequence":"first","affiliation":[]},{"given":"R.","family":"Triggiani","sequence":"additional","affiliation":[]}],"member":"98","container-title":["Abstract
        and Applied Analysis"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/journals\/aaa\/2003\/215691.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/journals\/aaa\/2003\/215691.xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/journals\/aaa\/2003\/215691.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,2,26]],"date-time":"2016-02-26T00:24:35Z","timestamp":1456446275000},"score":1.0,"issued":{"date-parts":[[2003]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[2003]]},"issue":"19"},"alternative-id":["215691"],"URL":"http:\/\/dx.doi.org\/10.1155\/s1085337503305032","ISSN":["1085-3375"],"issn-type":[{"value":"1085-3375","type":"print"}]},{"indexed":{"date-parts":[[2019,11,18]],"date-time":"2019-11-18T20:41:47Z","timestamp":1574109707348},"reference-count":0,"publisher":"Hindawi
        Limited","issue":"20","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2003,1,1]],"date-time":"2003-01-01T00:00:00Z","timestamp":1041379200000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Abstract
        and Applied Analysis"],"published-print":{"date-parts":[[2003]]},"abstract":"<jats:p>For
        affine control systems, we study the relationship between an optimal regulation
        problem on the infinite horizon and stabilizability. We are interested in
        the case the value function of the optimal regulation problem is not smooth
        and feedback laws involved in stabilizability may be discontinuous.<\/jats:p>","DOI":"10.1155\/s1085337503304014","type":"journal-article","created":{"date-parts":[[2004,1,1]],"date-time":"2004-01-01T11:35:08Z","timestamp":1072956908000},"page":"1159-1195","source":"Crossref","is-referenced-by-count":20,"title":["Nonsmooth
        optimal regulation and discontinuous stabilization"],"prefix":"10.1155","volume":"2003","author":[{"given":"A.","family":"Bacciotti","sequence":"first","affiliation":[{"name":"Dipartimento
        di Matematica, Politecnico di Torino, Corso Duca degli Abruzzi 24, Torino
        10129, Italy"}]},{"given":"F.","family":"Ceragioli","sequence":"additional","affiliation":[{"name":"Dipartimento
        di Matematica, Politecnico di Torino, Corso Duca degli Abruzzi 24, Torino
        10129, Italy"}]}],"member":"98","container-title":["Abstract and Applied Analysis"],"language":"en","link":[{"URL":"http:\/\/downloads.hindawi.com\/journals\/aaa\/2003\/703794.pdf","content-typ[...]
