---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2023,10,11]],"date-time":"2023-10-11T05:12:09Z","timestamp":1697001129964},"reference-count":0,"publisher":"Omah
        Jurnal Sunan Giri, INSURI Ponorogo","issue":"2","license":[{"start":{"date-parts":[[2022,12,28]],"date-time":"2022-12-28T00:00:00Z","timestamp":1672185600000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by-sa\/4.0"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["QLMN"],"abstract":"<jats:p>This
        study aims to determine students'' experiences with comprehensive reading
        strategies using Wattpad. This study uses a qualitative descriptive research
        method. Data are collected using interviews, observation, documentation, and
        questionnaires. The analysis of this research uses a triangulation technique
        which consists of steps; data reduction, data display, and ultimately conclusion
        to analyze the data. The results of this study indicate that extensive reading
        through Wattpad can be used for pleasure, extensive reading through the Wattpad
        platform can reduce stress, extensive reading through Wattpad can increase
        motivation, and extensive reading through Wattpad can increase vocabulary.
        All of these activities can have a positive impact on students. Plus, Wattpad''s
        platform is great for in-depth reading. Therefore, one of the best ways to
        learn English is to read extensively on the Wattpad platform. Teachers should
        realize that because Wattpad is a practical reading tool that can be accessed
        anywhere and at any time, all the stories students read must be age-appropriate.<\/jats:p>","DOI":"10.37680\/qalamuna.v14i2.3308","type":"journal-article","created":{"date-parts":[[2023,10,10]],"date-time":"2023-10-10T23:56:30Z","timestamp":1696982190000},"page":"423-432","source":"Crossref","is-referenced-by-count":0,"title":["The
        Positive Impact of Extensive Reading Through Wattpad for Students in Learning
        English as A Foreign Language (EFL)"],"prefix":"10.37680","volume":"14","author":[{"given":"Dewi
        Suriyani","family":"Djamdjuri","sequence":"first","affiliation":[]},{"given":"Librilianti
        Kurnia","family":"Yuki","sequence":"first","affiliation":[]},{"given":"Dedi","family":"Supriadi","sequence":"first","affiliation":[]},{"given":"Nanik","family":"Retnowati","sequence":"first","affiliation":[]},{"given":"Sitinur
        Afifah","family":"Aulia","sequence":"first","affiliation":[]},{"given":"Arin","family":"Khairunnisa","sequence":"first","affiliation":[]}],"member":"24607","published-online":{"date-parts":[[2022,12,28]]},"container-title":["QALAMUNA:
        Jurnal Pendidikan, Sosial, dan Agama"],"link":[{"URL":"https:\/\/ejournal.insuriponorogo.ac.id\/index.php\/qalamuna\/article\/download\/3308\/1625","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/ejournal.insuriponorogo.ac.id\/index.php\/qalamuna\/article\/download\/3308\/1625","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2023,10,10]],"date-time":"2023-10-10T23:56:55Z","timestamp":1696982215000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/ejournal.insuriponorogo.ac.id\/index.php\/qalamuna\/article\/view\/3308"}},"issued":{"date-parts":[[2022,12,28]]},"references-count":0,"journal-issue":{"issue":"2","published-online":{"date-parts":[[2022,7,22]]}},"URL":"https:\/\/doi.org\/10.37680\/qalamuna.v14i2.3308","ISSN":["2656-9779","1907-6355"],"issn-type":[{"value":"2656-9779","type":"electronic"},{"value":"1907-6355","type":"print"}],"published":{"date-parts":[[2022,12,28]]}},{"indexed":{"date-parts":[[2023,8,27]],"date-time":"2023-08-27T05:03:45Z","timestamp":1693112625443},"reference-count":5,"publisher":"Oxford
        University Press (OUP)","issue":"15","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2018,8,1]]},"DOI":"10.2146\/ajhp180158","type":"journal-article","created":{"date-parts":[[2018,7,25]],"date-time":"2018-07-25T10:25:29Z","timestamp":1532514329000},"page":"1093-1094","source":"Crossref","is-referenced-by-count":2,"title":["Possible
        confounders in study of oral versus i.v. acetaminophen for postoperative pain
        control"],"prefix":"10.1093","volume":"75","author":[{"given":"Mark C.","family":"Kendall","sequence":"first","affiliation":[{"name":"Department
        of Anesthesiology Rhode Island Hospital Warren Alpert Medical School of Brown
        University Providence, RI"}]}],"member":"286","reference":[{"key":"2019061905101193600_b1-0751093","doi-asserted-by":"crossref","first-page":"367","DOI":"10.2146\/ajhp170064","article-title":"Randomized
        trial of oral versus intravenous acetaminophen for postoperative pain control","volume":"75","author":"Hickman","year":"2018","journal-title":"Am
        J Health-Syst Pharm"},{"key":"2019061905101193600_b2-0751093","doi-asserted-by":"crossref","first-page":"30","DOI":"10.1016\/j.jclinane.2017.06.004","article-title":"Effect
        of parecoxib sodium pretreatment combined with dexmedetomidine on early postoperative
        cognitive dysfunction in elderly patients after shoulder arthroscopy: a randomized
        double blinded controlled trial","volume":"41","author":"Lu","year":"2017","journal-title":"J
        Clin Anesth"},{"key":"2019061905101193600_b3-0751093","doi-asserted-by":"crossref","first-page":"84","DOI":"10.1016\/j.jclinane.2017.08.030","article-title":"Nonsteroidal
        anti-inflammatory drugs for postoperative pain control after lumbar spine
        surgery: a meta-analysis of randomized controlled trials","volume":"43","author":"Zhang","year":"2017","journal-title":"J
        Clin Anesth"},{"key":"2019061905101193600_b4-0751093","doi-asserted-by":"crossref","first-page":"76","DOI":"10.1016\/j.jclinane.2017.07.002","article-title":"Is
        gabapentin effective and safe in open hysterectomy? A PRISMA compliant meta-analysis
        of randomized controlled trials","volume":"41","author":"Li","year":"2017","journal-title":"J
        Clin Anesth"},{"key":"2019061905101193600_b5-0751093","doi-asserted-by":"crossref","first-page":"714","DOI":"10.1213\/ANE.0000000000000593","article-title":"The
        trouble with using provider assessments for rating clinical performance: it\u2019s
        a matter of bias","volume":"120","author":"McCarthy","year":"2015","journal-title":"Anesth
        Analg"}],"container-title":["American Journal of Health-System Pharmacy"],"language":"en","link":[{"URL":"http:\/\/academic.oup.com\/ajhp\/article-pdf\/75\/15\/1093\/28841706\/ajhp1093.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,6,19]],"date-time":"2019-06-19T09:10:46Z","timestamp":1560935446000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/ajhp\/article\/75\/15\/1093\/5102360"}},"issued":{"date-parts":[[2018,8,1]]},"references-count":5,"journal-issue":{"issue":"15","published-print":{"date-parts":[[2018,8,1]]}},"URL":"https:\/\/doi.org\/10.2146\/ajhp180158","ISSN":["1079-2082","1535-2900"],"issn-type":[{"value":"1079-2082","type":"print"},{"value":"1535-2900","type":"electronic"}],"published-other":{"date-parts":[[2018,8,1]]},"published":{"date-parts":[[2018,8,1]]}},{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T08:23:42Z","timestamp":1648715022347},"reference-count":0,"publisher":"Elsevier
        BV","issue":"1-2","license":[{"start":{"date-parts":[[2009,9,1]],"date-time":"2009-09-01T00:00:00Z","timestamp":1251763200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restrict[...]
