---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126358034,"items":[{"indexed":{"date-parts":[[2021,4,23]],"date-time":"2021-04-23T00:07:37Z","timestamp":1619136457716},"reference-count":0,"publisher":"Walter
        de Gruyter GmbH","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1986]]},"DOI":"10.1515\/rnam.1986.1.2.101","type":"journal-article","created":{"date-parts":[[2009,11,19]],"date-time":"2009-11-19T16:58:35Z","timestamp":1258649915000},"source":"Crossref","is-referenced-by-count":1,"title":["On
        the approximate solution of two-dimensional singularly perturbed convection\u2014diffusion
        equations"],"prefix":"10.1515","volume":"1","author":[{"given":"A. Yu.","family":"SECHIN","sequence":"first","affiliation":[]}],"member":"374","container-title":["Russian
        Journal of Numerical Analysis and Mathematical Modelling"],"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/rnam.1986.1.2.101\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,4,22]],"date-time":"2021-04-22T04:19:34Z","timestamp":1619065174000},"score":1.0,"issued":{"date-parts":[[1986]]},"references-count":0,"journal-issue":{"issue":"2"},"URL":"http:\/\/dx.doi.org\/10.1515\/rnam.1986.1.2.101","ISSN":["0927-6467","1569-3988"],"issn-type":[{"value":"0927-6467","type":"print"},{"value":"1569-3988","type":"electronic"}],"subject":["Modelling
        and Simulation","Numerical Analysis"]},{"indexed":{"date-parts":[[2020,11,24]],"date-time":"2020-11-24T09:43:55Z","timestamp":1606211035959},"publisher-location":"Wiesbaden","reference-count":52,"publisher":"Springer
        Fachmedien Wiesbaden","isbn-type":[{"value":"9783658276010","type":"print"},{"value":"9783658276027","type":"electronic"}],"license":[{"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0","start":{"date-parts":[[2019,11,22]],"date-time":"2019-11-22T00:00:00Z","timestamp":1574380800000},"delay-in-days":0,"content-version":"tdm"},{"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0","start":{"date-parts":[[2019,11,22]],"date-time":"2019-11-22T00:00:00Z","timestamp":1574380800000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"name":"Funded
        by Editor","award":[]},{"name":"Funded by Editor","award":[]}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"published-print":{"date-parts":[[2020]]},"DOI":"10.1007\/978-3-658-27602-7_2","type":"book-chapter","created":{"date-parts":[[2019,11,21]],"date-time":"2019-11-21T19:38:06Z","timestamp":1574365086000},"page":"23-39","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":1,"title":["Reflections
        on the Methodological Approach of Systematic Reviews"],"prefix":"10.1007","author":[{"given":"Martyn","family":"Hammersley","sequence":"first","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2019,11,22]]},"reference":[{"key":"2_CR1","doi-asserted-by":"publisher","first-page":"59","DOI":"10.1186\/1471-2288-9-59","volume":"9","author":"E
        Barnett-Page","year":"2009","unstructured":"Barnett-Page, E., & Thomas, J.
        (2009). Methods for the synthesis of qualitative research: a critical review,
        BMC Medical Research Methodology, 9:59. \nhttps:\/\/doi.org\/10.1186\/1471-2288-9-59\n\n.","journal-title":"BMC
        Medical Research Methodology"},{"issue":"3","key":"2_CR2","doi-asserted-by":"publisher","first-page":"241","DOI":"10.1111\/wvn.12134","volume":"13","author":"A
        Butler","year":"2016","unstructured":"Butler, A., Hall, H., & Copnell, B.
        (2016). A guide to writing a qualitative systematic review protocol to enhance
        evidence-based practice in nursing and health care. Worldviews on Evidence-based
        Nursing, 13(3), 241\u2013249. \nhttps:\/\/doi.org\/10.1111\/w[...]
