---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals?query=ecology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"ecology"},"total-results":226,"items":[{"last-status-check-time":null,"counts":null,"breakdowns":null,"publisher":"New
        Zealand Ecological Society","coverage":null,"title":"New Zealand Journal of
        Ecology","subjects":[],"coverage-type":null,"flags":null,"ISSN":[],"issn-type":[]},{"last-status-check-time":1582019038523,"counts":{"total-dois":21713,"current-dois":842,"backfile-dois":20871},"breakdowns":{"dois-by-issued-year":[[2002,468],[2017,463],[2000,455],[2008,454],[2001,452],[2010,440],[1997,439],[2015,437],[2004,435],[2005,433],[2006,432],[2007,412],[2003,411],[2014,401],[2009,396],[2019,394],[2016,391],[1998,387],[2018,378],[1999,367],[2013,362],[2012,340],[1995,317],[1993,315],[1987,304],[1990,298],[1996,295],[2011,289],[1994,288],[1988,286],[1982,276],[1991,275],[1992,271],[1989,271],[1981,257],[1985,256],[1984,248],[1983,246],[1986,238],[1968,233],[1974,230],[1980,218],[1973,218],[1969,218],[1975,215],[1967,214],[1966,212],[1972,207],[1971,207],[1977,197],[1976,196],[1970,196],[1978,188],[1959,188],[1965,183],[1960,181],[1979,180],[1961,180],[1964,178],[1956,171],[1963,167],[1958,166],[1962,161],[1957,156],[1955,148],[1953,125],[1954,118],[1952,110],[1951,102],[1940,99],[1950,98],[1936,97],[1941,89],[1935,89],[1939,85],[1938,85],[1949,83],[1948,81],[1942,81],[1930,80],[1947,79],[1943,78],[1937,78],[1924,78],[1945,77],[1931,72],[1928,72],[1927,72],[2020,70],[1944,70],[1929,69],[1934,68],[1932,66],[1946,65],[1926,62],[1923,61],[1921,60],[1925,59],[1922,59],[1933,52],[1920,39]]},"publisher":"Wiley
        (John Wiley & Sons)","coverage":{"affiliations-current":0.8871734142303467,"similarity-checking-current":0.9750593900680542,"funders-backfile":0.026591921225190163,"licenses-backfile":0.9779119491577148,"funders-current":0.4097387194633484,"affiliations-backfile":0.040151406079530716,"resource-links-backfile":0.9779119491577148,"orcids-backfile":0.003449762938544154,"update-policies-current":0.6532066464424133,"open-references-backfile":1.0,"orcids-current":0.3752969205379486,"similarity-checking-backfile":0.9191222190856934,"references-backfile":0.3107661306858063,"award-numbers-backfile":0.019979875534772873,"update-policies-backfile":0.0,"licenses-current":0.9691211581230164,"award-numbers-current":0.3076009452342987,"abstracts-backfile":0.0,"resource-links-current":0.9691211581230164,"abstracts-current":0.0,"open-references-current":1.0,"references-current":0.7612826824188232},"title":"Ecology","subjects":[{"name":"Ecology,
        Evolution, Behavior and Systematics","ASJC":1105}],"coverage-type":{"all":{"last-status-check-time":1582019029069,"affiliations":0.07299438118934631,"abstracts":0.0,"orcids":0.017868656665086746,"licenses":0.9775260090827942,"references":0.3282214105129242,"funders":0.04144791513681412,"similarity-checking":0.9212489724159241,"award-numbers":0.031131988391280174,"update-policies":0.025329280644655228,"resource-links":0.9775260090827942,"open-references":1.0},"backfile":{"last-status-check-time":1582019026139,"affiliations":0.040151406079530716,"abstracts":0.0,"orcids":0.003449762938544154,"licenses":0.9779119491577148,"references":0.3107661306858063,"funders":0.026591921225190163,"similarity-checking":0.9191222190856934,"award-numbers":0.019979875534772873,"update-policies":0.0,"resource-links":0.9779119491577148,"open-references":1.0},"current":{"last-status-check-time":1582019023260,"affiliations":0.8871734142303467,"abstracts":0.0,"orcids":0.3752969205379486,"licenses":0.9691211581230164,"references":0.7612826824188232,"funders":0.4097387194633484,"similarity-checking":0.9750593900680542,"award-numbers":0.3076009452342987,"update-policies":0.6532066464424133,"resource-links":0.9691211581230164,"open-references":1.0}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1939-9170","0012-9658"],"issn-type":[{"value":"1939-9170","type":"electronic"},{"value":"0012-9658","type":"print"}]},{"last-status-check-time":1582031893104,"counts":{"total-dois":9203,"current-dois":464,"backfile-dois":8739},"breakdowns":{"dois-by-issued-year":[[2018,217],[2017,208],[2019,202],[2016,196],[2010,195],[2015,183],[2011,168],[2007,166],[2013,164],[1995,161],[2009,149],[1984,145],[2014,143],[1985,143],[1986,142],[1998,140],[2012,139],[1982,135],[1994,131],[1981,129],[1997,128],[1987,128],[1983,128],[1999,126],[1993,123],[1980,123],[2000,122],[200[...]
