---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007/12080.1874-1746
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2016,10,26]],"date-time":"2016-10-26T23:37:02Z","timestamp":1477525022933},"reference-count":0,"publisher":"Springer
        Nature","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"cited-count":0,"DOI":"10.1007\/12080.1874-1746","type":"journal","created":{"date-parts":[[2013,5,25]],"date-time":"2013-05-25T04:17:50Z","timestamp":1369455470000},"source":"CrossRef","title":["Theoretical
        Ecology"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1007","member":"http:\/\/id.crossref.org\/member\/297","container-title":[],"original-title":[],"deposited":{"date-parts":[[2013,5,25]],"date-time":"2013-05-25T04:17:50Z","timestamp":1369455470000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"URL":"http:\/\/dx.doi.org\/10.1007\/12080.1874-1746","ISSN":["1874-1738","1874-1746"],"citing-count":0,"subject":["Ecological
        Modelling","Ecology"]}}'
  recorded_at: Tue, 04 Apr 2017 23:04:04 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1111/(issn)1442-9993
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-typ[...]
