---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2025,5,2]],"date-time":"2025-05-02T04:14:02Z","timestamp":1746159242638,"version":"3.40.4"},"reference-count":5,"publisher":"Ovid
        Technologies (Wolters Kluwer Health)","issue":"21","content-domain":{"domain":["lww.com","ovid.com"],"crossmark-restriction":true},"published-print":{"date-parts":[[2023,11,1]]},"DOI":"10.1097\/brs.0000000000004785","type":"journal-article","created":{"date-parts":[[2023,7,31]],"date-time":"2023-07-31T13:00:58Z","timestamp":1690808458000},"page":"E373-E373","update-policy":"https:\/\/doi.org\/10.1097\/lww.0000000000001000","source":"Crossref","is-referenced-by-count":3,"title":["Response
        to the Letter to the Editor Regarding: \u201cCan Pelvic Incidence Change After
        Lumbo-Pelvic Fixation for Adult Spine Deformity and Would the Change be Affected
        by the Type of Pelvic Fixation?\u201d"],"prefix":"10.1097","volume":"48","author":[{"given":"Maroun","family":"Rizkallah","sequence":"first","affiliation":[]},{"given":"Zhi","family":"Wang","sequence":"additional","affiliation":[]}],"member":"276","published-online":{"date-parts":[[2023,7,31]]},"reference":[{"key":"R2-20250501","doi-asserted-by":"crossref","first-page":"1093","DOI":"10.1097\/BRS.0000000000004340","article-title":"The
        impact of spinopelvic parameters on hip degeneration after spinal fusion","volume":"47","author":"Kawai","year":"2022","journal-title":"Spine
        (Phila Pa 1976)"},{"key":"R3-20250501","doi-asserted-by":"crossref","first-page":"241","DOI":"10.1007\/s00586-021-07024-7","article-title":"Comparison
        of pelvic incidence measurement using lateral x-ray, standard ct versus ct
        with 3d reconstruction","volume":"31","author":"Lee","year":"2022","journal-title":"Eur
        Spine J"},{"key":"R4-20250501","doi-asserted-by":"crossref","first-page":"2002","DOI":"10.1007\/s00586-017-5111-x","article-title":"Classification
        of normal sagittal spine alignment: refounding the Roussouly classification","volume":"27","author":"Laouissat","year":"2018","journal-title":"Eur
        Spine J"},{"key":"R5-20250501","doi-asserted-by":"crossref","first-page":"2486","DOI":"10.1007\/s00586-020-06658-3","article-title":"Can
        pelvic incidence change after spinal deformity correction to the pelvis with
        S2-alar-iliac screws?","volume":"30","author":"Wei","year":"2021","journal-title":"Eur
        Spine J"},{"key":"R6-20250501","doi-asserted-by":"crossref","DOI":"10.1097\/BRS.0000000000004785","article-title":"Can
        Pelvic Incidence Change After Lumbo-Pelvic Fixation for Adult Spine Deformity
        and Would the Change Be Affected By the Type of Pelvic Fixation?","author":"Rizkallah","year":"2023","journal-title":"Spine
        (Phila Pa 1976)"}],"container-title":["Spine"],"language":"en","link":[{"URL":"https:\/\/journals.lww.com\/10.1097\/BRS.0000000000004785","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2025,5,1]],"date-time":"2025-05-01T18:06:28Z","timestamp":1746122788000},"score":0.0,"resource":{"primary":{"URL":"https:\/\/journals.lww.com\/10.1097\/BRS.0000000000004785"}},"issued":{"date-parts":[[2023,7,31]]},"references-count":5,"journal-issue":{"issue":"21","published-print":{"date-parts":[[2023]]}},"URL":"https:\/\/doi.org\/10.1097\/brs.0000000000004785","ISSN":["0362-2436"],"issn-type":[{"type":"print","value":"0362-2436"}],"published":{"date-parts":[[2023,7,31]]},"assertion":[{"value":"2023-07-06","name":"received","label":"Received","group":{"name":"publication_history","label":"Publication
        History"}},{"value":"2023-07-10","name":"accepted","label":"Accepted","group":{"name":"publication_history","label":"Publication
        History"}}]},{"indexed":{"date-parts":[[2024,1,31]],"date-time":"2024-01-31T00:31:47Z","timestamp":1706661107208},"reference-count":29,"publisher":"Elsevier
        BV","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["SSRN
        Journal"],"DOI":"10.2139\/ssrn.4562432","type":"journal-article","created":{"date-parts":[[2023,9,25]],"date-time":"2023-09-25T14:26:22Z","timestamp":1695651982000},"source":"Crossref","is-referenced-by-count":0,"title":["Honey-at-Risk:
        Honey Production Modeling via Factor Copulae with an application to Optimal
        Trigger Calibration for Weather-Indexed Insurance Contracts"],"prefix":"10.2139","author":[{"given":"Alessio","family":"Brini","sequence":"first","affiliati[...]
