---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?facet=license:*&filter=has-full-text:true&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"license":{"value-count":295,"values":{"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/":13544245,"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1":4447323,"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1":3127990,"http:\/\/onlinelibrary.wiley.com\/termsAndConditions":692187,"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/":691367,"http:\/\/www.springer.com\/tdm":613646,"http:\/\/link.aps.org\/licenses\/aps-default-license":592438,"http:\/\/creativecommons.org\/licenses\/by\/3.0\/":219393,"http:\/\/creativecommons.org\[...]
