---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":10,"items":[{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T15:24:46Z","timestamp":1648826686371},"reference-count":0,"publisher":"TechKnowledge
        General Trading LLC","issue":"30","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["\u0627\u0644\u0639\u0644\u0648\u0645
        \u0627\u0644\u0634\u0631\u0639\u064a\u0629"],"published-print":{"date-parts":[[2013,11]]},"DOI":"10.12816\/0017032","type":"journal-article","created":{"date-parts":[[2016,1,14]],"date-time":"2016-01-14T11:25:38Z","timestamp":1452770738000},"page":"377-416","source":"Crossref","is-referenced-by-count":0,"title":["\u0627\u0644\u0627\u062e\u062a\u0635\u0627\u0635
        \u0641\u064a \u0627\u062a\u062e\u0627\u0630 \u0627\u0644\u0642\u0631\u0627\u0631
        \u0627\u0644\u0625\u062f\u0627\u0631\u064a \u0641\u064a \u0627\u0644\u0645\u0645\u0644\u0643\u0629
        \u0627\u0644\u0639\u0631\u0628\u064a\u0629 \u0627\u0644\u0633\u0639\u0648\u062f\u064a\u0629
        : \u062f\u0631\u0627\u0633\u0629 \u0645\u0642\u0627\u0631\u0646\u0629"],"prefix":"10.12816","author":[{"given":"\u062e\u0627\u0644\u062f
        \u062e\u0644\u064a\u0644","family":"\u0627\u0644\u0638\u0627\u0647\u0631","sequence":"first","affiliation":[]}],"member":"5068","container-title":["\u0645\u062c\u0644\u0629
        \u0627\u0644\u0639\u0644\u0648\u0645 \u0627\u0644\u0634\u0631\u0639\u064a\u0629"],"deposited":{"date-parts":[[2017,5,3]],"date-time":"2017-05-03T09:17:55Z","timestamp":1493803075000},"score":0.0,"resource":{"primary":{"URL":"http:\/\/platform.almanhal.com\/MNHL\/Preview\/?ID=2-73338"}},"issued":{"date-parts":[[2013,11]]},"references-count":0,"journal-issue":{"issue":"30","published-print":{"date-parts":[[2013,11]]}},"URL":"https:\/\/doi.org\/10.12816\/0017032","ISSN":["1658-4201"],"issn-type":[{"value":"1658-4201","type":"print"}],"published":{"date-parts":[[2013,11]]}},{"indexed":{"date-parts":[[2025,2,21]],"date-time":"2025-02-21T02:30:10Z","timestamp":1740105010525,"version":"3.37.3"},"reference-count":33,"publisher":"Wiley","issue":"10","license":[{"start":{"date-parts":[[2017,8,3]],"date-time":"2017-08-03T00:00:00Z","timestamp":1501718400000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"}],"funder":[{"DOI":"10.13039\/501100001871","name":"Funda\u00e7\u00e3o
        para a Ci\u00eancia e a Tecnologia","doi-asserted-by":"publisher","award":["POCI\u201001\u20100145\u2010FEDER\u2010006684","NORTE\u201001\u20100145\u2010FEDER\u2010000004"],"id":[{"id":"10.13039\/501100001871","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100008530","name":"European
        Regional Development Fund","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100008530","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100003725","name":"National
        Research Foundation of Korea","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100003725","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100002701","name":"Ministry
        of Education","doi-asserted-by":"publisher","award":["2015R1D1A1A01060747"],"id":[{"id":"10.13039\/501100002701","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Engineering
        in Life Sciences"],"published-print":{"date-parts":[[2017,10]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Bacterial
        cellulose (BC) was obtained by static cultivation using commercial BC gel
        from scoby. BC membranes (oven dried and freeze\u2010dried) were swelled with
        8% NaOH, in the absence and in the presence of ultrasound (US), for 30, 60,
        and 90 min. The influence of swelling conditions on both physico\u2010chemical
        properties and molecules entrapment was evaluated. Considering the highest
        levels of entrapment, an optimum swelling procedure was established: 8% NaOH
        for 30\u00a0min at room temperature in the presence of US. Native and PEGylated
        laccase from <jats:italic>Myceliophthora thermophila<\/jats:italic> was immobilized
        on BC membranes and a different catalytic behaviour was observed after immobilization.
        Native laccase presented activity values similar to published reports (5\u20137\u00a0U\/gBC)
        after immobilization whereas PEGylated enzymes showed much lower activity
        (1\u20132\u00a0U\/gBC). BC swelled membranes are presented herein as a potential
        support for the preparation of immobilized enzymes for industrial applications,
        like phenolics polymerization.<\/jats:p>","DOI":"10.1002\/elsc.201700085","type":"journal-article","created":{"date-parts":[[2017,7,17]],"date-time":"2017-07-17T08:53:54Z","timestamp":1500281634000},"page":"1108-1117","source":"Crossref","is-referenced-by-count":23,"title":["Ultrasound\u2010assisted
        swelling of bacterial cellulose"],"prefix":"10.1002","volume":"17","author":[{"given":"Ji
        Eun","family":"Song","sequence":"first","affiliation":[{"name":"Department
        of Clothing and Textiles Sookmyung Women''s University  Seoul South Korea"},{"name":"Centre
        of Biological Engineering University of Minho  Braga Portugal"}]},{"given":"Jing","family":"Su","sequence":"additional","affiliation":[{"name":"College
        of Textiles Jiangnan University  Wuxi Jiangsu P. R. China"},{"name":"Centre
        of Biological Engineering University of Minho  Braga Portugal"}]},{"given":"Ana","family":"Loureiro","sequence":"additional","affiliation":[{"name":"Centre
        of Biological Engineering University of Minho  Braga Portugal"}]},{"given":"Madalena","family":"Martins","sequence":"additional","affiliation":[{"name":"Centre
        of Biological Engineering University of Minho  Braga Portugal"}]},{"ORCID":"https:\/\/orcid.org\/0000-0001-7204-2064","authenticated-orcid":false,"given":"Artur","family":"Cavaco\u2010Paulo","sequence":"additional","affiliation":[{"name":"College
        of Textiles Jiangnan University  Wuxi Jiangsu P. R. China"},{"name":"Centre
        of Biological Engineering University of Minho  Braga Portugal"}]},{"given":"Hye
        Rim","family":"Kim","sequence":"additional","affiliation":[{"name":"Department
        of Clothing and Textiles Sookmyung Women''s University  Seoul South Korea"}]},{"ORCID":"https:\/\/orcid.org\/0000-0001-6252-8693","authenticated-orcid":false,"given":"Carla","family":"Silva","sequence":"additional","affiliation":[{"name":"Centre
        of Biological Engineering University of Minho  Braga Portugal"}]}],"member":"311","published-online":{"date-parts":[[2017,8,3]]},"reference":[{"key":"e_1_2_8_2_1","first-page":"53","article-title":"Swelling
        studies of composite hydrogels based on bacterial cellulose and gelatin","volume":"77","author":"P\u0103v\u0103loiu
        R. D.","year":"2015","journal-title":"U.P.B. Sci. Bull. Ser."},{"key":"e_1_2_8_3_1","doi-asserted-by":"publisher","DOI":"10.1111\/1541-4337.12073"},{"key":"e_1_2_8_4_1","doi-asserted-by":"publisher","DOI":"10.1016\/j.carbpol.2013.01.076"},{"key":"e_1_2_8_5_1","doi-asserted-by":"publisher","DOI":"10.1002\/bab.1148"},{"key":"e_1_2_8_6_1","doi-asserted-by":"publisher","DOI":"10.1021\/jp204422v"},{"key":"e_1_2_8_7_1","doi-asserted-by":"publisher","DOI":"10.1016\/j.procbio.2011.07.006"},{"key":"e_1_2_8_8_1","doi-asserted-by":"publisher"[...]
