---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1803-2427
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1626644477631,"counts":{"total-dois":223,"current-dois":51,"backfile-dois":172},"breakdowns":{"dois-by-issued-year":[[2017,35],[2018,23],[2020,22],[2019,20],[2015,20],[2016,15],[2013,15],[2011,15],[2014,11],[2010,10],[2008,10],[2021,9],[2012,9],[2009,9]]},"publisher":"De
        Gruyter Poland Sp. z o.o.","coverage":{"affiliations-current":0.9803921580314636,"similarity-checking-current":1.0,"funders-backfile":0.0,"licenses-backfile":0.6395348906517029,"funders-current":0.0,"affiliations-backfile":0.6395348906517029,"resource-links-backfile":0.819767415523529,"orcids-backfile":0.0,"update-policies-current":0.0,"open-references-backfile":1.0,"orcids-current":0.05882352963089943,"similarity-checking-backfile":0.9767441749572754,"references-backfile":0.645348846912384,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":1.0,"award-numbers-current":0.0,"abstracts-backfile":0.819767415523529,"resource-links-current":0.8235294222831726,"abstracts-current":0.9803921580314636,"open-references-current":1.0,"references-current":0.9803921580314636},"title":"Journal
        of Landscape Ecology","subjects":[],"coverage-type":{"all":{"last-status-check-time":1626644467084,"affiliations":0.7174887657165527,"abstracts":0.8565022349357605,"orcids":0.013452914543449879,"licenses":0.7219731211662292,"references":0.7219731211662292,"funders":0.0,"similarity-checking":0.9820627570152283,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.8206278085708618,"open-references":1.0},"backfile":{"last-status-check-time":1626644463710,"affiliations":0.6395348906517029,"abstracts":0.819767415523529,"orcids":0.0,"licenses":0.6395348906517029,"references":0.645348846912384,"funders":0.0,"similarity-checking":0.9767441749572754,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.819767415523529,"open-references":1.0},"current":{"last-status-check-time":1626644460292,"affiliations":0.9803921580314636,"abstracts":0.9803921580314636,"orcids":0.05882352963089943,"licenses":1.0,"references":0.9803921580314636,"funders":0.0,"similarity-checking":1.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.8235294222831726,"open-references":1.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":false,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":false,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1805-4196","1803-2427"],"issn-type":[{"value":"1805-4196","type":"electronic"},{"value":"1803-2427","type":"print"}]}}'
  recorded_at: Fri, 23 Jul 2021 15:43:36 GMT
[...]
