---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?facet=license:*&filter=has-full-text:true&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"license":{"value-count":4493,"values":{"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/":18428514,"http:\/\/www.springer.com\/tdm":8914584,"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1":8675871,"http:\/\/journals.sagepub.com\/page\/policies\/text-and-data-mining-license":2419571,"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor":2288249,"https:\/\/www.cambridge.org\/core\/terms":1899741,"https:\/\/creativecommons.org\/licenses\/by\/4.0\/":1459586,"http:\/\/creativecommons.org\/licenses\/by\/4.0\/":1396306,"https:\/\/[...]
