---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals?query=ecology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"ecology"},"total-results":173,"items":[{"title":"BMC
        Ecology","publisher":"Springer (Biomed Central Ltd.)","ISSN":["1472-6785"],"flags":{"deposits-orcids-current":true,"deposits":true,"deposits-update-policies-backfile":false,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-references-current":true,"deposits-resource-links-backfile":false,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":true,"deposits-licenses-current":true},"coverage":{"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.34090909361839294,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.9772727489471436,"orcids-current":0.06818182021379471,"references-backfile":0.3468634784221649,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.1818181872367859,"award-numbers-current":0.13636364042758942,"resource-links-current":0.1818181872367859,"references-current":0.9545454382896423},"breakdowns":{"dois-by-issued-year":[[2013,51],[2014,32],[2011,32],[2012,28],[2009,25],[2010,24],[2015,23],[2008,23],[2006,19],[2004,17],[2007,16],[2016,13],[2003,11],[2002,11],[2005,8],[2001,6]]},"counts":{"total-dois":315,"current-dois":44,"backfile-dois":271},"last-status-check-time":1459490470489},{"title":"Chemistry-Didactics-Ecology-Metrology","publisher":"De
        Gruyter Open Sp. z o.o. ","ISSN":["2084-4506"],"flags":{"deposits-orcids-current":false,"deposits":true,"deposits-update-policies-backfile":false,"deposits-award-numbers-current":false,"deposits-resource-links-current":false,"deposits-articles":true,"deposits-funders-current":false,"deposits-references-backfile":false,"deposits-licenses-backfile":false,"deposits-award-numbers-backfile":false,"deposits-referen[...]
