---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/licenses?query=creative
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":51,"items":[{"URL":"\n                http:\/\/iopscience.iop.org\/info\/page\/text-and-data-mining\n            ","work-count":1},{"URL":"\n                http:\/\/iopscience.iop.org\/page\/copyright\n            ","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0","work-count":19},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/","work-count":169},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0","work-count":182},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/","work-count":143},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/
    [...]
