---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=has-funder:true,has-full-text:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2658960,"items":[{"indexed":{"date-parts":[[2017,10,23]],"date-time":"2017-10-23T21:58:25Z","timestamp":1508795905381},"reference-count":19,"publisher":"Wiley-Blackwell","issue":"8","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[1998,8,1]],"date-time":"1998-08-01T00:00:00Z","timestamp":901929600000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#am","start":{"date-parts":[[1999,10,23]],"date-time":"1999-10-23T00:00:00Z","timestamp":940636800000},"delay-in-days":448,"content-version":"am"},{"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor","start":{"date-parts":[[1998,10,23]],"date-time":"1998-10-23T00:00:00Z","timestamp":909100800000},"delay-in-days":83,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/100000054","name":"National
        Cancer Institute","doi-asserted-by":"publisher","award":["R01-CA33541"]},{"DOI":"10.13039\/100000015","name":"U.S.
        Department of Energy","doi-asserted-by":"publisher","award":["DE-FG02-96ER62150"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Med.
        Phys."],"published-print":{"date-parts":[[1998,8]]},"DOI":"10.1118\/1.598325","type":"journal-article","created":{"date-parts":[[2002,7,26]],"date-time":"2002-07-26T14:01:01Z","timestamp":1027692061000},"page":"1493-1501","source":"Crossref","is-referenced-by-count":22,"title":["Astigmatic
        single photon emission computed tomography imaging with a displaced center
        of rotation"],"prefix":"10.1002","volume":"25","author":[{"given":"Huili","family":"Wang","affiliation":[]},{"given":"Mark
        F.","family":"Smith","affiliation":[]},{"given":"Craig D.","family":"Stone","affiliation":[]},{"given":"Ronald
        J.","family":"Jaszczak","affiliation":[]}],"member":"311","published-online":{"date-parts":[[1998,10,23]]},"reference":[{"key":"10.1118\/1.598325-BIB1|rf1","first-page":"930","article-title":"An
        astigmatic collimator for high sensitivity SPECT of the brain","volume":"27","author":"Hawman","year":"1986","journal-title":"J.
        Nucl. Med."},{"key":"10.1118\/1.598325-BIB2|rf2","unstructured":""},{"key":"10.1118\/1.598325-BIB3|rf3","author":"Anger","volume":"5","first-page":"515","year":"1964","journal-title":"J.
        Nucl. Med."},{"key":"10.1118\/1.598325-BIB4|rf4","doi-asserted-by":"crossref","first-page":"610","DOI":"10.1109\/TNS.1979.4329698","article-title":"Single
        photon emission computed tomography using multi-slice fan beam collimators","volume":"26","author":"Jaszczak","year":"1979","journal-title":"IEEE
        Trans. Nucl. Sci."},{"key":"10.1118\/1.598325-BIB5|r[...]
