---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":298548,"items":[{"indexed":{"date-parts":[[2016,11,8]],"date-time":"2016-11-08T07:35:32Z","timestamp":1478590532253},"reference-count":17,"publisher":"Wiley-Blackwell","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"cited-count":0,"DOI":"10.1002\/9780470979365.ch7","type":"book-chapter","created":{"date-parts":[[2012,10,8]],"date-time":"2012-10-08T10:32:21Z","timestamp":1349692341000},"page":"271-318","source":"CrossRef","title":["Behavioural
        Ecology"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","member":"http:\/\/id.crossref.org\/member\/311","published-online":{"date-parts":[[2012,10,8]]},"container-title":["Molecular
        Ecology"],"original-title":[],"deposited":{"date-parts":[[2012,10,8]],"date-time":"2012-10-08T10:43:02Z","timestamp":1349692982000},"score":10.390709,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2012,10,8]]},"ISBN":["http:\/\/id.crossref.org\/isbn\/9780470979365","http:\/\/id.crossref.org\/isbn\/9780470748343"],"URL":"http:\/\/dx.doi.org\/10.1002\/9780470979365.ch7","citing-count":17},{"indexed":{"date-parts":[[2016,11,27]],"date-time":"2016-11-27T18:55:05Z","timestamp":1480272905356},"reference-count":0,"publisher":"Hindawi
        Publishing Corporation","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"cited-count":0,"DOI":"10.1155\/8641","type":"journal","created":{"date-parts":[[2016,9,8]],"date-time":"2016-09-08T14:57:44Z","timestamp":1473346664000},"source":"CrossRef","title":["ISRN
        Ecology"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1155","member":"http:\/\/id.crossref.org\/member\/98","container-title":[],"original-title":[],"deposited":{"date-parts":[[2016,9,8]],"date-time":"2016-09-08T14:57:44Z","timestamp":1473346664000},"score":10.322118,"subtitle":[],"short-title":["ISRN
        Ecology"],"issued":{"date-parts":[[null]]},"URL":"http:\/\/dx.doi.org\/10.1155\/8641","ISSN":["2090-4622"],"citing-count":0},{"indexed":{"date-parts":[[2016,10,26]],"date-time":"2016-10-26T02:43:45Z","timestamp":1477449825648},"reference-count":0,"publisher":"Hindawi
        Publishing Corporation","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"cited-count":0,"DOI":"10.5402\/ecology","type":"journal","created":{"date-parts":[[2012,10,25]],"date-time":"2012-10-25T12:32:45Z","timestamp":1351168365000},"source":"CrossRef","title":["ISRN
        Eco[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=deposited
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":298548,"items":[{"indexed":{"date-parts":[[2017,4,4]],"date-time":"2017-04-04T22:40:08Z","timestamp":1491345608982},"reference-count":0,"publisher":"Wiley-Blackwell","issue":"1","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":6056,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J
        Appl Ecol"],"cited-count":0,"published-print":{"date-parts":[[1999,2]]},"DOI":"10.1046\/j.1365-2664.1999.00378.x","type":"journal-article","created":{"date-parts":[[2002,7,26]],"date-time":"2002-07-26T10:00:47Z","timestamp":1027677647000},"page":"75","source":"CrossRef","title":["Stable
        isotopes indicate the extent of freshwater feeding by cormorants Phalacrocorax
        carbo shot at inland fisheries in England"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1111","volume":"36","author":[{"given":"Stuart","family":"Bearhop","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/311","container-title":["Journal
        of Applied Ecology"],"original-title":[],"link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1046%2Fj.1365-2664.1999.00378.x","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2017,4,4]],"date-time":"2017-04-04T22:29:41Z","timestamp":1491344981000},"score":4.9586115,"subtitle":[],"short-title":[],"issued":{"date-parts":[[1999,2]]},"alternative-id":["10.1046\/j.1365-2664.1999.00378.x"],"URL":"http:\/\/dx.doi.org\/10.1046\/j.1365-2664.1999.00378.x","ISSN":["0021-8901","1365-2664"],"issn-type":[{"value":"0021-8901","type":"print"},{"value":"1365-2664","type":"electronic"}],"citing-count":0,"subject":["Ecology"]},{"indexed":{"date-parts":[[2017,4,4]],"date-time":"2017-04-04T22:49:17Z","timestamp":1491346157916},"reference-count":0,"publisher":"Cambridge
        University Press (CUP)","issue":"05","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Trop. Ecol."],"cited-count":0,"published-print":{"date-parts":[[2006,9]]},"DOI":"10.1017\/s0266467406003531","type":"journal-article","created":{"date-parts":[[2006,7,27]],"date-time":"2006-07-27T10:12[...]
