---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?filter=has-funder:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2472451,"items":[{"indexed":{"date-parts":[[2021,12,11]],"date-time":"2021-12-11T21:49:39Z","timestamp":1639259379231},"reference-count":26,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2016,1,1]],"date-time":"2016-01-01T00:00:00Z","timestamp":1451606400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"publisher","award":["21273123"]},{"name":"Science
        and Technology Project","award":["2015GGX102031"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Journal
        of Luminescence"],"published-print":{"date-parts":[[2016,1]]},"DOI":"10.1016\/j.jlumin.2015.08.074","type":"journal-article","created":{"date-parts":[[2015,9,14]],"date-time":"2015-09-14T03:41:51Z","timestamp":1442202111000},"page":"191-195","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":11,"title":["Optical
        limiting of flexible gold nanorods\/organosilicon hybrid materials"],"prefix":"10.1016","volume":"169","author":[{"given":"Chunfang","family":"Li","sequence":"first","affiliation":[]},{"given":"Yanhai","family":"Qi","sequence":"additional","affiliation":[]},{"given":"Xue","family":"Peng","sequence":"additional","affiliation":[]},{"given":"Xiongwen","family":"Hao","sequence":"additional","affiliation":[]},{"given":"Dongxiang","family":"Li","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.jlumin.2015.08.074_bib1","doi-asserted-by":"crossref","first-page":"12029","DOI":"10.1021\/ja003129h","volume":"122","author":"Novak","year":"2000","journal-title":"J.
        Am. Chem. Soc."},{"key":"10.1016\/j.jlumin.2015.08.074_bib2","doi-asserted-by":"crossref","first-page":"668","DOI":"10.1021\/jp026731y","volume":"107","author":"Kelly","year":"2002","journal-title":"J.
        Phys. Chem. B"},{"key":"10.1016\/j.jlumin.2015.08.074_bib3","doi-asserted-by":"crossref","first-page":"6133","DOI":"10.1021\/jp9944482","volume":"104","author":"Fran\u00e7ois","year":"2000","journal-title":"J.
        Phys. Chem. B"},{"key":"10.1016\/j.jlumin.2015.08.074_bib4",[...]
