---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals?query=ecology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"ecology"},"total-results":252,"items":[{"last-status-check-time":1648255798229,"counts":{"current-dois":761,"backfile-dois":21636,"total-dois":22397},"breakdowns":{"dois-by-issued-year":[[2002,468],[2017,463],[2000,455],[2008,454],[2001,452],[2010,440],[1997,439],[2004,435],[2005,433],[2006,432],[2015,424],[2007,412],[2003,411],[2016,406],[2014,402],[2009,396],[2019,387],[1998,387],[2018,375],[1999,367],[2013,362],[2021,354],[2012,340],[1995,317],[1993,315],[2020,314],[1987,304],[1990,298],[1996,295],[2011,289],[1994,288],[1988,286],[1982,276],[1991,275],[1992,271],[1989,271],[1981,257],[1985,256],[1984,248],[1983,246],[1986,238],[1968,233],[1974,230],[1980,218],[1973,218],[1969,218],[1975,215],[1967,214],[1966,212],[1972,207],[1971,207],[1977,197],[1976,196],[1970,196],[1978,188],[1959,188],[1965,183],[1960,181],[1979,180],[1961,180],[1964,178],[1956,171],[1963,167],[1958,166],[1962,161],[1957,156],[1955,148],[1953,125],[1954,118],[1952,110],[1951,102],[1940,99],[1950,98],[1936,97],[2022,93],[1941,89],[1935,89],[1939,85],[1938,85],[1949,83],[1948,81],[1942,81],[1930,80],[1947,79],[1943,78],[1937,78],[1924,78],[1945,77],[1931,72],[1928,72],[1927,72],[1944,70],[1929,69],[1934,68],[1932,66],[1946,65],[1926,62],[1923,61],[1921,60],[1925,59],[1922,59],[1933,52],[1920,39]]},"publisher":"Wiley
        (John Wiley & Sons)","coverage":{"affiliations-current":0.8948751642575558,"similarity-checking-current":0.9658344283837057,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.0412738029210575,"licenses-backfile":0.9775374376039933,"funders-current":0.6149802890932983,"affiliations-backfile":0.0819005361434646,"resource-links-backfile":0.9775374376039933,"orcids-backfile":0.0157145498243668,"update-policies-current":0.9658344283837057,"open-references-backfile":1.0,"ror-ids-backfile":0.0,"orcids-current":0.8226018396846255,"similarity-checking-backfile":0.9400536143464596,"references-backfile":0.3288500647069699,"descriptions-backfile":0.0,"award-numbers-backfile":0.03036605657237937,"update-policies-backfile":0.02602144573858384,"licenses-current":0.9658344283837057,"award-numbers-current":0.5006570302233903,"abstracts-backfile":0.0,"resource-links-current":0.9658344283837057,"abstracts-current":0.0,"open-references-current":1.0,"references-current":0.7831800262812089},"title":"Ecology","subjects":[{"ASJC":1105,"name":"Ecology,
        Evolution, Behavior and Systematics"}],"coverage-type":{"all":{"last-status-check-time":1648255798229,"affiliations":0.1095187070274132,"abstracts":0.0,"orcids":0.04312885079024913,"licenses":0.9770961693008304,"references":0.3442718099830342,"funders":0.06076435396017502,"similarity-checking":0.9408875792481473,"award-numbers":0.04634342351995714,"ror-ids":0.0,"update-policies":0.05795160282168051,"resource-links":0.9770961693008304,"descriptions":0.0,"open-references":1.0},"backfile":{"last-status-check-time":1648255798229,"affiliations":0.0819005361434646,"abstracts":0.0,"orcids":0.0157145498243668,"licenses":0.9775374376039933,"references":0.3288500647069699,"funders":0.0412738029210575,"similarity-checking":0.9400536143464596,"award-numbers":0.03036605657237937,"ror-ids":0.0,"update-policies":0.02602144573858384,"resource-links":0.9775374376039933,"descriptions":0.0,"open-references":1.0},"current":{"last-status-check-time":1648255798229,"affiliations":0.8948751642575558,"abstracts":0.0,"orcids":0.8226018396846255,"licenses":0.9658344283837057,"references":0.7831800262812089,"funders":0.6149802890932983,"similarity-checking":0.9658344283837057,"award-numbers":0.5006570302233903,"ror-ids":0.0,"update-policies":0.9658344283837057,"resource-links":0.9658344283837057,"descriptions":0.0,"open-references":1.0}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["0012-9658","1939-9170"],"issn-type":[{"value":"0012-9658","type":"print"},{"value":"1939-9170","type":"electronic"}]},{"last-status-check-time":1648253421601,"counts":{"current-dois":95,"backfile-dois":1906,"total-dois":2001},"breakdowns":{"dois-by-issued-year":[[2010,70],[2015,69],[2013,67],[2009,62],[2012,59],[2008,59],[2019,56],[2006,56],[2011,48],[2014,45],[2007,45],[2020,42],[2005,42],[2018,41],[1998,41],[1980,41],[2016,39],[2004,38],[2017,37],[1976,37],[2021,36],[2003,36],[1983,35],[2002,34],[2000,34],[1994,34],[1995,33],[1996,32],[2001,30],[1997,30],[1[...]
