---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1581775955627,"primary-name":"Hindawi
        Limited","counts":{"total-dois":235043,"current-dois":42759,"backfile-dois":192284},"breakdowns":{"dois-by-issued-year":[[2014,28912],[2013,26118],[2012,23108],[2015,21827],[2018,21192],[2019,18857],[2016,18601],[2017,16642],[2011,12407],[2010,6505],[2009,3851],[2008,2994],[2020,2710],[2002,2329],[2001,2113],[2007,2030],[2006,2029],[2004,1803],[2005,1648],[2003,1625],[2000,1466],[1999,1211],[1998,1203],[1995,1031],[1994,1015],[1996,1003],[1997,971],[1993,852],[1992,762],[1991,688],[1990,540],[1989,387],[1988,362],[1983,289],[1987,249],[1981,244],[1980,244],[1986,234],[1985,226],[1982,217],[1984,213],[1979,178],[1[...]
