---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?query=NSF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"NSF"},"total-results":15,"items":[{"id":"100006445","location":"United
        States","name":"Center for Hierarchical Manufacturing, National Science Foundation","alt-names":["CHM,
        NSF","University of Massachusetts NSF Center for Hierarchical Manufacturing","Center
        for Hierarchical Manufacturing"],"uri":"http:\/\/dx.doi.org\/10.13039\/100006445","replaces":[],"replaced-by":[],"tokens":["center","for","hierarchical","manufacturing","national","science","foundation","chm","nsf","university","of","massachusetts","nsf","center","for","hierarchical","manufacturing","center","for","hierarchical","manufacturing"]},{"id":"501100003995","location":"China","name":"Natural
        Science Foundation of Anhui Province","alt-names":["Anhui Provincial Natural
        Science Foundation","NSF of Anhui Province"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100003995","replaces":[],"replaced-by"[...]
