---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":126358728,"items":[{"DOI":"10.3386\/w23137","title":["Immigration
        and the Rise of American  Ingenuity"]},{"DOI":"10.1016\/j.anplas.2018.09.003","title":["Les
        indications des reconstructions mammaires apr\u00e8s mastectomie selon la
        situation carcinologique"]},{"DOI":"10.1039\/c4ra04415k","title":["Polarization
        transfer solid-state NMR: a new method for studying cellulose dissolution"]},{"DOI":"10.5055\/jom.2016.0330","title":["Effect
        of preoperative intravenous oxycodone on sufentanil consumption after lapa[...]
