---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039%2F100000001/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.12.2 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":483777,"items":[{"DOI":"10.1109\/cdc49753.2023.10384305","title":["Necessary
        and Sufficient Conditions for Satisfying Linear Temporal Logic Constraints
        Using Control Barrier Certificates"]},{"DOI":"10.1002\/ajpa.22997","title":["Developmental
        identity versus typology: Lucy has only four sacral segments"]},{"DOI":"10.1016\/j.colsurfa.2014.06.037","title":["Wetting
        of nanofiber yarns"]},{"DOI":"10.1016\/j.optcom.2015.02.053","title":["Fountain
        code-based error control scheme for dimmable visible light communication system[...]
