---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: UTF-8
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"integer-not-valid","value":"101","message":"Integer
        specified as 101 but must be a positive integer less than or equal to 100.
        "}]}'
  recorded_at: Sun, 08 Jun 2025 20:53:21 GMT
recorded_with: VCR 6.3.1
