---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:journal-article&query=Climate&rows=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4.91 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":336022,"items":[{"indexed":{"date-parts":[[2022,8,31]],"date-time":"2022-08-31T19:13:26Z","timestamp":1661973206014},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2018,1,24]]},"abstract":"<p>Accurate
        projections of climate change under increasing atmospheric greenhouse gas
        levels are needed to evaluate the environmental cost of anthropogenic emissions,
        and to guide mitigation efforts. These projections are nowhere more important
        than Africa, with its high dependence on rain-fed agriculture and, in many
        regions, limited resources for adaptation. Climate models provide our best
        method for climate prediction but there are uncertaintie[...]
