---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"prefix","message-version":"1.0.0","message":{"member":"http:\/\/id.crossref.org\/member\/78","name":"Elsevier
        BV","prefix":"http:\/\/id.crossref.org\/prefix\/10.1016"}}'
  recorded_at: Tue, 04 Apr 2017 23:20:19 GMT
recorded_with: VCR 3.0.3
