---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":127472782,"items":[{"DOI":"10.18261\/issn1891-5760-2015-01-05","title":["Verket
        som ble borte &#8211; ekfrase som dokumentasjon for ettertiden"]},{"DOI":"10.38146\/2021.4.7","title":["Gamification,
        mint tehets\u00e9ggondoz\u00e1si eszk\u00f6z a k\u00f6zszolg\u00e1lati oktat\u00e1sban
        \u2013 a kiberverseny p\u00e9ld\u00e1ja"]},{"DOI":"10.52677\/2019.10.14.27","title":["Hobbes\u2019
        Philosophy of Education: Finding Model for Civic Education"]},{"DOI":"10.3365\/kjmm.2021.59.5.355","title":["Erratum
        to: Effects of Two-Step Anodization on Surface Wettability in Surface Treatment
        of Aluminum Alloy"]},{"DOI":"10.52677\/2018.04.11.33","title":["Hume on the
        Relationship between Emotion and Desire in Explaining Action"]},{"DOI":"10.52677\/2019.10.14.5","title":["Montaigne\u2019s
        Education and Philosophy: Power to Create My Own Way of Living"]},{"DOI":"10.38146\/2021.4.11","title":["A
        t\u00e9nyek makacs dolgok\u2026 Ann\u00e1l rosszabb a t\u00e9nyeknek?!"]},{"DOI":"10.1364\/ome.11.001364","title":["Optical
        Fibers: Materials and Applications"]},{"DOI":"10.1364\/ome.11.001410","title":["Photonic
        Topological Materials feature issue: publisher\u2019s note"]},{"DOI":"10.1109\/iembs.2005.1615903","title":["Identification
        of Spinal Deformity Classification with Total Curvature Analysis and Artificial
        Neural Network"]},{"DOI":"10.1016\/s0022-3476(69)80360-4","title":["Subject
        index"]},{"DOI":"10.1016\/s0026-0576(01)80141-0","title":["Centrifugal pumps"]},{"DOI":"10.1109\/iembs.200[...]
