---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/2167-8359/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":11753,"items":[{"DOI":"10.7717\/peerj.6161","title":["Changes
        in bone density and bone quality caused by single fasting for 96 hours in
        rats"]},{"DOI":"10.7717\/peerj.3409","title":["Europatitan eastwoodi, a new
        sauropod from the lower Cretaceous of Iberia in the initial radiation of somphospondylans
        in Laurasia"]},{"DOI":"10.7717\/peerj.4086","title":["Do rotational shear-cushioning
        shoes influence horizontal ground reaction forces and perceived comfort during
        basketball cutting maneuvers?"]},{"DOI[...]
