---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"type-list","message-version":"1.0.0","message":{"total-results":30,"items":[{"id":"book-section","label":"Book
        Section"},{"id":"monograph","label":"Monograph"},{"id":"report-component","label":"Report
        Component"},{"id":"report","label":"Report"},{"id":"peer-review","label":"Peer
        Review"},{"id":"book-track","label":"Book Track"},{"id":"journal-article","label":"Journal
        Article"},{"id":"book-part","label":"Part"},{"id":"other","label":"Other"},{"id":"book","label":"Book"},{"id":"journal-volume","label":"Journal
        Volume"},{"id":"book-set","label":"Book Set"},{"id":"reference-entry","label":"Reference
        Entry"},{"id":"proceedings-article","label":"Proceedings Article"},{"id":"journal","label":"Journal"},{"id":"component","label":"Component"},{"id":"book-chapter","label":"Book
        Chapter"},{"id":"proceedings-series","label":"Proceedings Series"},{"id":"report-series","label":"Report
        Series"},{"id":"proceedings","label":"Proceedings"},{"id":"database","label":"Database"},{"id":"standard","label":"Standard"},{"id":"reference-book","label":"Reference
        Book"},{"id":"posted-content","label":"Posted Content"},{"id":"journal-issue","label":"Journal
        Issue"},{"id":"dissertation","label":"Dissertation"},{"id":"grant","label":"Grant"},{"id":"dataset","label":"Dataset"},{"id":"book-series","label":"Book
        Series"},{"id":"edited-book","label":"Edited Book"}]}}'
  recorded_at: Sun, 08 Jun 2025 20:53:25 GMT
recorded_with: VCR 6.3.1
