---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":18615020,"items":[{"DOI":"10.1016\/j.ijcard.2015.10.237","title":["Disappearing
        stent but persisting problems? Optical coherence tomography assessment of
        intra-scaffold restenosis"]},{"DOI":"10.1016\/s0300-7073(07)70534-0","title":["Nicotine
        Patches Seem to Be Safe in Cardiac Patients"]},{"DOI":"10.1016\/j.ecolmodel.2009.12.013","title":["Modelling
        dynamics of soil organic matter under different historical land-use management
        techniques in European Russia"]},{"DOI":"10.1016\/j.jhsa.2021.03.002","title":["Forearm
       [...]
