---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":10,"items":[{"indexed":{"date-parts":[[2021,12,10]],"date-time":"2021-12-10T16:43:10Z","timestamp":1639154590933},"reference-count":2,"publisher":"Oxford
        University Press (OUP)","issue":"6","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Progress
        of Theoretical Physics"],"published-print":{"date-parts":[[1989,6,1]]},"DOI":"10.1143\/ptp.81.1095","type":"journal-article","created":{"date-parts":[[2005,12,14]],"date-time":"2005-12-14T07:50:26Z","timestamp":1134546626000},"page":"1095-1098","source":"Crossref","is-referenced-by-count":0,"title":["Techniaxion"],"prefix":"10.1093","volume":"81","author":[{"given":"K.-i.","family":"Matumoto","sequence":"first","affiliation":[]}],"member":"286","reference":[{"key":"5_45659925","first-page":"199","volume":"B104","year":"1981","journal-title":"PHYS
        LETT"},{"key":"7_45659926","first-page":"313","volume":"B207","year":"1982","journal-title":"NUCL
        PHYS"}],"container-title":["Progress of Theoretical Physics"],"language":"en","link":[{"URL":"http:\/\/academic.oup.com\/ptp\/article-pdf\/81\/6\/1095\/6866453\/81-6-1095.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,8,24]],"date-time":"2017-08-24T07:37:41Z","timestamp":1503560261000},"score":0.0,"issued":{"date-parts":[[1989,6,1]]},"references-count":2,"journal-issue":{"issue":"6","published-print":{"date-parts":[[1989,6,1]]}},"URL":"http:\/\/dx.doi.org\/10.1143\/ptp.81.1095","ISSN":["0033-068X","1347-4081"],"issn-type":[{"value":"0033-068X","type":"print"},{"value":"1347-4081","type":"electronic"}],"subject":["Physics
        and Astronomy (miscellaneous)"],"published":{"date-parts":[[1989,6,1]]}},{"indexed":{"date-parts":[[2021,12,22]],"date-time":"2021-12-22T18:52:23Z","timestamp":1640199143721},"reference-count":0,"publisher":"VLDB
        Endowment","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Proc.
        VLDB Endow."],"published-print":{"date-parts":[[2017,10,1]]},"DOI":"10.14778\/3167892","type":"journal-issue","created":{"date-parts":[[2017,12,12]],"date-time":"2017-12-12T18:33:38Z","timestamp":1513103618000},"source":"Crossref","is-referenced-by-count":0,"prefix":"10.14778","volume":"11","member":"5777","container-title":["Proceedings
        of the VLDB Endowment"],"language":"en","deposited":{"date-parts":[[2017,12,12]],"date-time":"2017-12-12T18:33:38Z","timestamp":1513103618000},"score":0.0,"issued":{"date-parts":[[2017,10,1]]},"references-count":0,"journal-issue":{"issue":"2","published-print":{"date-parts":[[2017,10,1]]}},"URL":"http:\/\/dx.doi.org\/10.14778\/3167892","ISSN":["2150-8097"],"issn-type":[{"value":"2150-8097","type":"print"}],"subject":["General
        Medicine"],"published":{"date-parts":[[2017,10,1]]}},{"indexed":{"date-parts":[[2021,12,11]],"date-time":"2021-12-11T02:33:52Z","timestamp":1639190032840},"reference-count":30,"publisher":"Emerald","issue":"5","license":[{"start":{"date-parts":[[2018,8,2]],"date-time":"2018-08-02T00:00:00Z","timestamp":1533168000000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.emerald.com\/insight\/site-policies"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["EC"],"published-print":{"date-parts":[[2018,9,5]]},"abstract":"<jats:sec>\n<jats:title
        content-type=\"abstract-subheading\">Purpose<\/jats:title>\n<jats:p>This paper
        aims to automatically derive a 2D parametric model of the main characteristic
        lines of a car from images, blueprints or hand-made sketches of its side view.
        Then this model can be used for the further computer-aided design manipulation
        starting from images of the side view of a car.<\/jats:p>\n<\/jats:sec>\n<jats:sec>\n<jats:title
        content-type=\"abstract-subheading\">Design\/methodology\/approach<\/jats:title>\n<jats:p>The
        method combines different image edge detection techniques and edge removal
        processes with optimization techniques according to local and global constraints
        specific of the single curves to automatically construct a precise parametric
        model of the main character lines of a car from images. First, process the
        car image to compute the most important curves and then warp a car template
        model to match its feature points and curves with the ones detected in the
        image.<\/jats:p>\n<\/jats:sec>\n<jats:sec>\n<jats:title content-type=\"abstract-subheading\">Findings<\/jats:title>\n<jats:p>The
        paper provides method to construct parametric model from an image using maximum
        cover ratio to the edge points obtained by state-of-the-art edge detection
        algorithms. A feature points\u2019 organization mechanism produces quadric
        curves to express feature curves of a product.<\/jats:p>\n<\/jats:sec>\n<jats:sec>\n<jats:title
        content-type=\"abstract-subheading\">Research limitations\/im[...]
