---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":409609,"items":[{"indexed":{"date-parts":[[2021,7,27]],"date-time":"2021-07-27T12:40:39Z","timestamp":1627389639873},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Ecosystem
        ecology is a branch of study and thinking within the ecological sciences that
        focuses on the ecosystem\u2014a dynamic network of interactions of organisms
        and their environment\u2014and the importance of these interactions to the
        organisms and earth system processes. The discipline represents one of two
        different epistemological approaches within ecology that emerged in the 20th
        century: a species-centric community-based approach, and a process-centric
        ecosystem-based approach. Both approaches study the ways in which species
        interact among themselves and their environment, share a common language,
        and share a common set of principles. The community-based approach focuses
        on how species\u2019 distributions and abundances are shaped by their resource
        needs and tolerances to environmental conditions, and by their interactions
        with ot[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=deposited
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":409609,"items":[{"indexed":{"date-parts":[[2021,9,18]],"date-time":"2021-09-18T16:10:43Z","timestamp":1631981443013},"reference-count":0,"publisher":"Wiley","license":[{"start":{"date-parts":[[2021,9,18]],"date-time":"2021-09-18T00:00:00Z","timestamp":1631923200000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"},{"start":{"date-parts":[[2021,9,18]],"date-time":"2021-09-18T00:00:00Z","timestamp":1631923200000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":["onlinelibrary.wiley.com"],"crossmark-restriction":true},"short-container-title":["Methods
        Ecol Evol"],"DOI":"10.1111\/2041-210x.13721","type":"journal-article","created":{"date-parts":[[2021,9,18]],"date-time":"2021-09-18T15:44:34Z","timestamp":1631979874000},"update-policy":"http:\/\/dx.doi.org\/10.1002\/crossmark_policy","source":"Crossref","is-referenced-by-count":0,"title":["An
        automatic classifier of bat sonotypes around the world"],"prefix":"10.1111","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-3898-2383","authenticated-orcid":false,"given":"Charlotte","family":"Roemer","sequence":"first","affiliation":[{"name":"Centre
        d\u2019Ecologie et des Sciences de la Conservation (Mus\u00e9um national d\u2019Histoire
        naturelle CNRS Sorbonne Universit\u00e9)  Paris France"},{"name":"CEFE Univ
        Montpellier CNRS EPHE, IRD Univ Paul Val\u00e9ry Montpellier 3  Montpellier
        France"}]},{"given":"Jean\u2010Fran\u00e7ois","family":"Julien","sequence":"additional","affiliation":[{"name":"Centre
        d\u2019Ecologie et des Sciences de la Conservation (Mus\u00e9um national d\u2019Histoire
        naturelle CNRS Sorbonne Universit\u00e9)  Paris France"}]},{"given":"Yves","family":"Bas","sequence":"additional","affiliation":[{"name":"Centre
        d\u2019Ecologie et des Sciences de la Conservation (Mus\u00e9um national d\u2019Histoire
        naturelle CNRS Sorbonne Universit\u00e9)  Paris France"},{"name":"CEFE Univ
        Montpellier CNRS EPHE, IRD Univ Paul Val\u00e9ry Montpellier 3  Montpellier
        France"}]}],"member":"311","published-online":{"date-parts":[[2021,9,18]]},"container-title":["Methods
        in Ecology and Evolution"],"language":"en","link":[{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/pdf\/10.1111\/2041-210X.13721","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/pdf\/10.1111\/2041-210X.13721","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,9,18]],"date-time":"2021-09-18T15:44:35Z","timestamp":1631979875000},"score":5.740025,"issued":{"date-parts":[[2021,9,18]]},"references-count":0,"alternative-id":["10.1111\/2041-210X.13721"],"URL":"http:\/\/dx.doi.org\/10.1111\/2041-210x.13721","archive":["Portico"],"ISSN":["2041-210X","2041-210X"],"issn-type":[{"value":"2041-210X","type":"print"},{"value":"2041-210X","type":"electronic"}],"subject":["Ecological
        Modelling","Ecology, Evolution, Behavior and Systematics"],"published":{"date-parts":[[2021,9,18]]},"assertion":[{"value":"2021-09-18","order":2,"name":"published","label":"Published","group":{"name":"publication_history","label":"Publication
        History"}}]},{"indexed":{"date-parts":[[2021,9,18]],"date-time":"2021-09-18T15:40:49Z","timestamp":1631979649373},"reference-count":74,"publisher":"Wiley","issue":"11","license":[{"start":{"date-parts":[[2018,10,10]],"date-time":"2018-10-10T00:00:00Z","timestamp":1539129600000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"},{"start":{"date-parts":[[2018,10,10]],"date-time":"2018-10-10T00:00:00Z","timestamp":1539129600000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":["onlinelibrary.wiley.com"],"crossmark-restriction":true},"short-container-title":["Global
        Ecol Biogeogr"],"published-print":{"date-parts":[[2018,11]]},"DOI":"10.1111\/geb.12803","type":"journal-article","created":{"date-parts":[[2018,10,11]],"date-time":"2018-10-11T06:39:27Z","timestamp":1539239967000},"page":"1366-1383","update-policy":"http:\/\/dx.doi.org\/10.1002\/crossmark_policy","source":"Crossref","is-referenced-by-count":48,"title":["Pan\u2010tropical
        prediction of forest structure from the largest trees"],"prefix":"10.1111","volume":"27","author":[{"ORCID":"http:\/\/orcid.org\/0000-0003-2602-7247","authenticated-orcid":false,"given":"Jean\u2010Fran\u00e7ois","family":"Bastin","sequence":"first","affiliation":[{"name":"Department
        of Environmental Systems Science, Institute of Integrative Biology ETH Z\u00fcrich
        Z\u00fcrich Switzerland"},{"name":"Carbon Cycle and Ecosystem Group VS, NASA,
        Jet Propulsion Laboratory California Institute of Technology Pasadena California
        USA"},{"name":"Landscape E[...]
