---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?facet=license:*&filter=has-full-text:true&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"license":{"value-count":3713,"values":{"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/":17975014,"http:\/\/www.springer.com\/tdm":9016892,"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1":8475227,"http:\/\/journals.sagepub.com\/page\/policies\/text-and-data-mining-license":2381568,"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor":2050607,"https:\/\/www.cambridge.org\/core\/terms":1873455,"http:\/\/creativecommons.org\/licenses\/by\/4.0\/":1299020,"https:\/\/creativecommons.org\/licenses\/by\/4.0\/":1149383,"http:\/\/d[...]
