---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?facet=license:*&filter=has-full-text:true&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{"license":{"value-count":493,"values":{"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/":14995578,"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1":6977646,"http:\/\/www.springer.com\/tdm":2628611,"http:\/\/journals.sagepub.com\/page\/policies\/text-and-data-mining-license":1838267,"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1":920371,"http:\/\/www.elsevier.com\/open-access\/userlicense\/1.0\/":783981,"http:\/\/link.aps.org\/licenses\/aps-default-license":598967,"http:\/\/creativecommons.org\/licenses\/by\/4.0\/":395939,"http:[...]
