---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":198878,"items":[{"indexed":{"date-parts":[[2017,10,23]],"date-time":"2017-10-23T14:13:45Z","timestamp":1508768025686},"reference-count":0,"publisher":"Hindawi
        Limited","issue":"6","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2001,1,1]],"date-time":"2001-01-01T00:00:00Z","timestamp":978307200000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Comparative
        and Functional Genomics"],"published-print":{"date-parts":[[2001]]},"DOI":"10.1002\/cfg.114","type":"journal-article","created":{"date-parts":[[2002,8,25]],"date-time":"2002-08-25T16:27:19Z","timestamp":1030292839000},"page":"376-383","source":"Crossref","is-referenced-by-count":0,"title":["Meeting
        Highlights: Joint Cold Spring Harbor Laboratory and Wellcome Trust Conference
        \u2013 Genome Informatics"],"prefix":"10.1155","volume":"2","author":[{"given":"Jo","family":"Wixon","affiliation":[{"name":"HGMP-RC,
        Hinxton, Cambridge CB10 1SB, UK"}]},{"given":"Jennifer","family":"Ashurst","affiliation":[{"name":"Sanger
        Centre, Wellcome Trust Genome Campus, Hinxton, Cambridge, UK"}]},{"given":"Jo","family":"Dicks","affiliation":[{"name":"John
        Innes Centre, Norwich Research Park, Colney, Norwich, UK"}]}],"member":"98","container-title":["Comparative
        and Functional Genomics"],"link":[{"URL":"http:\/\/downloads.hindawi.com\/journals\/ijg\/2001\/762302.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/downloads.hindawi.com\/journals\/ijg\/2001\/762302.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,8,23]],"date-time":"2016-08-23T14:53:48Z","timestamp":1471964028000},"score":1.0,"issued":{"date-parts":[[2001]]},"references-count":0,"alternative-id":["762302"],"URL":"http:\/\/dx.doi.org\/10.1002\/cfg.114","ISSN":["1531-6912","1532-6268"],"issn-type":[{"value":"1531-6912","type":"print"},{"value":"1532-6268","type":"electronic"}],"subject":["Biotechnology","Genetics","Molecular
        Biology"]},{"indexed":{"date-parts":[[2017,10,23]],"date-time":"2017-10-23T14:13:45Z","timestamp":1508768025792},"reference-count":0,"publisher":"Hindawi
        Limited","issue":"6","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2001,1,1]],"date-time":"2001-01-01T00:00:00Z","timestamp":978307200000},"delay-in-days":0,"content-version":"vor"}],"content-domain":{"domain":[],"crossmark-restriction":false}[...]
