---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1626811119898,"primary-name":"Hindawi
        Limited","counts":{"total-dois":284426,"current-dois":60160,"backfile-dois":224266},"breakdowns":{"dois-by-issued-year":[[2014,29225],[2013,26413],[2020,25011],[2012,23395],[2015,22115],[2018,21412],[2019,19033],[2016,18881],[2017,17015],[2021,16116],[2011,12701],[2010,6802],[2009,4174],[2008,3285],[2002,2632],[2001,2409],[2007,2329],[2006,2319],[2004,2062],[2005,1938],[2003,1884],[2000,1826],[1998,1440],[1999,1439],[1996,1252],[1995,1220],[1997,1214],[1994,1203],[1993,1067],[1992,965],[1991,900],[1990,749],[1989,602],[1988,589],[1987,477],[1986,445],[1983,433],[1985,396],[1984,392],[1981,317],[1980,313],[1982,28[...]
