---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:journal-article,type:book
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":115373763,"items":[{"indexed":{"date-parts":[[2022,4,26]],"date-time":"2022-04-26T21:49:01Z","timestamp":1651009741455},"reference-count":62,"publisher":"Springer
        Science and Business Media LLC","issue":"9","license":[{"start":{"date-parts":[[1986,9,1]],"date-time":"1986-09-01T00:00:00Z","timestamp":525916800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Radiophys
        Quantum Electron"],"published-print":{"date-parts":[[1986,9]]},"DOI":"10.1007\/bf01034473","type":"journal-article","created":{"date-parts":[[2005,1,21]],"date-time":"2005-01-21T15:54:30Z","timestamp":1106322870000},"page":"768-781","source":"Crossref","is-referenced-by-count":3,"title":["Semiconductor
        masers using cyclotron resonance"],"prefix":"10.1007","volume":"29","author":[{"given":"A.
        A.","family":"Andronov","sequence":"first","affiliation":[]}],"member":"297","reference":[{"issue":"No.
        4","key":"CR1","doi-asserted-by":"crossref","first-page":"567","DOI":"10.1071\/PH580564","volume":"11","author":"R.
        Q. Twiss","year":"1958","unstructured":"R. Q. Twiss, Austral. J. Phys.,11,
        No. 4, 567 (1958).","journal-title":"Austral. J. Phys."},{"issue":"No. 3","key":"CR2","first-page":"450","volume":"2","author":"A.
        V. Gaponov","year":"1959","unstructured":"A. V. Gaponov, Izv. Vyssh. Uchebn.
        Zaved., Radiofiz.,2, No. 3, 450; No. 5, 836 (1959).","journal-title":"Izv.
        Vyssh. Uchebn. Zaved., Radiofiz."},{"issue":"No. 1","key":"CR3","first-page":"57","volume":"3","author":"V.
        V. Zheleznyakov","year":"1960","unstructured":"V. V. Zheleznyakov, Izv. Vyssh.
        Uchebn. Zaved., Radiofiz.,[...]
