---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/2167-8359/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":8538,"items":[{"DOI":"10.7717\/peerj.7276","title":["Molecular
        characterization of bacterial leaf streak resistance in hard winter wheat"]},{"DOI":"10.7717\/peerj.5697","title":["Distribution
        of deep-water corals, sponges, and demersal fisheries landings in Southern
        California, USA: implications for conservation priorities"]},{"DOI":"10.7717\/peerj.285","title":["Lack
        of quantitative training among early-career ecologists: a survey of the problem
        and potential solutions"]},{"DOI":"10.7717\/peerj.7128","tit[...]
