---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1626811119898,"primary-name":"Hindawi
        Limited","counts":{"total-dois":284426,"current-dois":60160,"backfile-dois":224266},"breakdowns":{"dois-by-issued-year":[[2014,29225],[2013,26413],[2020,25011],[2012,23395],[2015,22115],[2018,21412],[2019,19033],[2016,18881],[2017,17015],[2021,16116],[2011,12701],[2010,6802],[2009,4174],[2008,3285],[2002,2632],[2001,2409],[2007,2329],[2006,2319],[2004,2062],[2005,1938],[2003,1884],[2000,1826],[1998,1440],[1999,1439],[1996,1252],[1995,1220],[1997,1214],[1994,1203],[1993,1067],[1992,965],[1991,900],[1990,749],[1989,602],[1988,589],[1987,477],[1986,445],[1983,433],[1985,396],[1984,392],[1981,317],[1980,313],[1982,28[...]
- request:
    method: get
    uri: https://api.crossref.org/members/340
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1626803693081,"primary-name":"Public
        Library of Science (PLoS)","counts":{"total-dois":301994,"current-dois":51940,"backfile-dois":250054},"breakdowns":{"dois-by-issued-year":[[2013,36496],[2014,35458],[2015,33566],[2012,27111],[2016,26725],[2017,24569],[2018,22183],[2020,20422],[2019,19633],[2011,16685],[2021,11885],[2010,9366],[2009,6717],[2008,4608],[2007,2671],[2005,1643],[2006,1613],[2004,540],[2003,103]]},"prefixes":["10.1371","10.24196","10.1371"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"funders-backfile":0.16995128989219666,"licenses-backfile":0.9856311082839966,"funders-current":0.5960338711738586,"affiliations-backfile":8.438177173957229E-4,"resource-links-backfile":0.0,"orcids-backfile":0.17513416707515717,"update-policies-current":1.0,"open-references-backfile":1.0,"orcids-current":0.9438005685806274,"similarity-checking-backfile":0.8978060483932495,"references-backfile":0.9067201614379883,"award-numbers-backfile":0.14588049054145813,"update-policies-backfile":0.9935534000396729,"licenses-current":0.9999807476997375,"award-numbers-current":0.5250096321105957,"abstracts-backfile":3.999136242782697E-5,"resource-links-current":0.0,"abstracts-current":0.28686946630477905,"open-references-current":1.0,"references-current":0.9998267292976379},"prefix":[{"reference-visibility":"open","public-references":true,"name":"Public
        Library of Science","value":"10.1371"},{"reference-visibility":"limited","public-references":false,"name":"Public
        Library of Science (PLoS)","value":"10.24196"},{"reference-visibility":"open","public-references":true,"name":"Public
        Library of Science","value":"10.1371"}],"id":340,"tokens":["public","library","of","science","plos"],"counts-type":{"all":{"journal":1,"component":3038840,"dataset":7,"journal-article":301994},"current":{"journal-article":51940},"backfile":{"journal-article":250054}},"coverage-type":{"all":{"journal":{"last-status-check-time":1626803675004,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":1.0},"dataset":{"last-status-check-time":1626803670279,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":1.0},"journal-article":{"last-status-check-time":1626803665272,"affiliations":6.986893713474274E-4,"abstracts":0.04937184229493141,"orcids":0.30733722448349,"licenses":0.9880990982055664,"references":0.9227335453033447,"funders":0.2432333081960[...]
[...]
