---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals?query=ecology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"ecology"},"total-results":243,"items":[{"last-status-check-time":1631925613011,"counts":{"current-dois":981,"backfile-dois":21248,"total-dois":22229},"breakdowns":{"dois-by-issued-year":[[2002,468],[2017,463],[2000,455],[2008,454],[2001,452],[2010,440],[1997,439],[2004,435],[2005,433],[2006,432],[2015,424],[2007,412],[2003,411],[2016,406],[2014,401],[2009,396],[2019,387],[1998,387],[2018,375],[1999,367],[2013,362],[2012,340],[1995,317],[1993,315],[2020,314],[1987,304],[1990,298],[1996,295],[2011,289],[1994,288],[1988,286],[2021,280],[1982,276],[1991,275],[1992,271],[1989,271],[1981,257],[1985,256],[1984,248],[1983,246],[1986,238],[1968,233],[1974,230],[1980,218],[1973,218],[1969,218],[1975,215],[1967,214],[1966,212],[1972,207],[1971,207],[1977,197],[1976,196],[1970,196],[1978,188],[1959,188],[1965,183],[1960,181],[1979,180],[1961,180],[1964,178],[1956,171],[1963,167],[1958,166],[1962,161],[1957,156],[1955,148],[1953,125],[1954,118],[1952,110],[1951,102],[1940,99],[1950,98],[1936,97],[1941,89],[1935,89],[1939,85],[1938,85],[1949,83],[1948,81],[1942,81],[1930,80],[1947,79],[1943,78],[1937,78],[1924,78],[1945,77],[1931,72],[1928,72],[1927,72],[1944,70],[1929,69],[1934,68],[1932,66],[1946,65],[1926,62],[1923,61],[1921,60],[1925,59],[1922,59],[1933,52],[1920,39]]},"publisher":"Wiley
        (John Wiley & Sons)","coverage":{"affiliations-current":0.9011213047910296,"similarity-checking-current":0.966360856269113,"funders-backfile":0.03736822289156627,"licenses-backfile":0.9777390813253012,"funders-current":0.4801223241590214,"affiliations-backfile":0.05821724397590361,"resource-links-backfile":0.9777390813253012,"orcids-backfile":0.00964796686746988,"update-policies-current":0.9653414882772681,"open-references-backfile":1.0,"orcids-current":0.6330275229357798,"similarity-checking-backfile":0.9328407379518072,"references-backfile":0.3192771084337349,"award-numbers-backfile":0.02762612951807229,"update-policies-backfile":0.008942018072289157,"licenses-current":0.966360856269113,"award-numbers-current":0.382262996941896,"abstracts-backfile":0.0,"resource-links-current":0.966360856269113,"abstracts-current":0.0,"open-references-current":1.0,"references-current":0.8154943934760449},"title":"Ecology","subjects":[{"ASJC":1105,"name":"Ecology,
        Evolution, Behavior and Systematics"}],"coverage-type":{"all":{"last-status-check-time":1631925613011,"affiliations":0.09541160593792174,"abstracts":0.0,"orcids":0.03715699505173189,"licenses":0.9771929824561404,"references":0.3411605937921727,"funders":0.05690508322087269,"similarity-checking":0.9342780026990553,"award-numbers":0.04327485380116959,"update-policies":0.05114709851551957,"resource-links":0.9771929824561404,"open-references":1.0},"backfile":{"last-status-check-time":1631925613011,"affiliations":0.05821724397590361,"abstracts":0.0,"orcids":0.00964796686746988,"licenses":0.9777390813253012,"references":0.3192771084337349,"funders":0.03736822289156627,"similarity-checking":0.9328407379518072,"award-numbers":0.02762612951807229,"update-policies":0.008942018072289157,"resource-links":0.9777390813253012,"open-references":1.0},"current":{"last-status-check-time":1631925613011,"affiliations":0.9011213047910296,"abstracts":0.0,"orcids":0.6330275229357798,"licenses":0.966360856269113,"references":0.8154943934760449,"funders":0.4801223241590214,"similarity-checking":0.966360856269113,"award-numbers":0.382262996941896,"update-policies":0.9653414882772681,"resource-links":0.966360856269113,"open-references":1.0}},"flags":{"deposits-abstracts-current":false,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":false,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["0012-9658","1939-9170"],"issn-type":[{"value":"0012-9658","type":"print"},{"value":"1939-9170","type":"electronic"}]},{"last-status-check-time":1631923853556,"counts":{"current-dois":124,"backfile-dois":1849,"total-dois":1973},"breakdowns":{"dois-by-issued-year":[[2010,70],[2015,69],[2013,67],[2009,62],[2012,59],[2008,59],[2019,56],[2006,56],[2011,48],[2014,45],[2007,45],[2020,42],[2005,42],[2018,41],[1998,41],[1980,41],[2016,39],[2004,38],[2017,37],[1976,37],[2003,35],[1983,35],[2002,34],[2000,34],[1994,34],[1995,33],[1996,32],[2001,30],[1997,30],[1993,30],[[...]
