---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":111302756,"items":[{"indexed":{"date-parts":[[2019,11,21]],"date-time":"2019-11-21T22:46:52Z","timestamp":1574376412906},"reference-count":24,"publisher":"IEEE","isbn-type":[{"value":"9781424422302","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2008,5]]},"DOI":"10.1109\/ectc.2008.4550146","type":"proceedings-article","created":{"date-parts":[[2008,6,25]],"date-time":"2008-06-25T18:08:12Z","timestamp":1214417292000},"source":"Crossref","is-referenced-by-count":1,"title":["Real-time
        protein detection using ZnO nanowire\/thin film bio-sensor integrated with
        microfluidic system"],"prefix":"10.1109","author":[{"family":"Jin Liu","sequence":"first","affiliation":[]},{"given":"Janagama","family":"Goud","sequence":"additional","affiliation":[]},{"given":"P.
        Markondeya","family":"Raj","sequence":"additional","affiliation":[]},{"given":"Mahadevan","family":"Iyer","sequence":"additional","affiliation":[]},{"family":"Zhong
        Lin Wang","sequence":"additional","affiliation":[]},{"given":"Rao R.","family":"Tummala","sequence":"additional","affiliation":[]}],"member":"263","event":{"name":"2008
        58th Electronic Components and Technology Conference (ECTC 2008)","location":"Lake
        Buena Vista, FL, USA","start":{"date-parts":[[2008,5,27]]},"end":{"date-parts":[[2008,5,30]]}},"container-title":["2008
        58th Electronic Components and Technology Conference"],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx5\/4542565\/4549927\/04550146.pdf?arnumber=4550146","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,3,16]],"date-time":"2017-03-16T16:07:18Z","timestamp":1489680438000},"score":1.0,"issued":{"date-parts":[[2008,5]]},"ISBN":["9781424422302"],"references-count":24,"URL":"http:\/\/dx.doi.org\/10.1109\/ectc.2008.4550146"},{"indexed":{"date-parts":[[2019,12,2]],"date-time":"2019-12-02T15:32:01Z","timestamp":1575300721038},"reference-count":60,"publisher":"Royal
        Society of Chemistry (RSC)","issue":"3","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Mater. Chem. B"],"DOI":"10.1039\/c3tb21102a","type":"journal-article","created":{"date-parts":[[2013,10,29]],"date-time":"2013-10-29T09:54:00Z","timestamp":1383040440000},"page":"283-294","source":"Crossref","is-referenced-by-count":25,"title":["Chemically
        regulated bioactive ion delivery platform on a titanium surface for sustained
        controlled release"],"prefix":"10.1039","volume":"2","author":[{"given":"Jinhua","family":"Li","sequence":"first","affiliation":[]},{"given":"Wenjie","family":"Zhang","sequence":"additional","affiliation":[]},{"given":"Yuqin","family":"Qiao","sequence":"additional","affiliation":[]},{"given":"Hongqin","family":"Zhu","sequence":"additional","affiliation":[]},{"given":"Xinquan","family":"Jiang","sequence":"additional","affiliation":[]},{"given":"Xuanyong","family":"Liu","sequence":"additional","affiliation":[]},{"given":"Chuanxian","family":"Ding","sequence":"additional","affiliation":[]}],"member":"292","published-online":{"date-parts":[[2014]]},"reference":[{"key":"C3TB21102A-(cit1)\/*[position()=1]","author":"Chung","volume":"485","first-page":"486","year":"2012","journal-title":"Nature","DOI":"10.1038\/nature11067","doi-asserted-by":"crossref"},{"key":"C3TB21102A-(cit2)\/*[position()=1]","author":"Chen","volume":"331","first-page":"746","year":"2011","journal-title":"Science","DOI":"10.1126\/science.1200448","doi-asserted-by":"crossref"},{"key":"C3TB21102A-(cit3)\/*[position()=1]","author":"Murdoch","volume":"3","first-page":"489","year":"2011","journal-title":"Nat.
        Chem.","DOI":"10.1038\/nchem.1048","doi-asserted-by":"crossref"},{"key":"C3TB21102A-(cit4)\/*[position()=1]","author":"Song","volume":"131","first-page"[...]
