---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/2167-8359?filter=from-pub-date:2014-03-03
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"parameter-not-allowed","value":"filter","message":"This
        route does not support filter"}]}'
  recorded_at: Sat, 07 Apr 2018 23:15:22 GMT
recorded_with: VCR 4.0.0
