---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?filter=has-funder:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2293739,"items":[{"indexed":{"date-parts":[[2020,3,30]],"date-time":"2020-03-30T19:03:18Z","timestamp":1585594998287},"reference-count":40,"publisher":"Elsevier
        BV","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2018,8,1]],"date-time":"2018-08-01T00:00:00Z","timestamp":1533081600000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"DOI":"10.13039\/501100004063","name":"Knut
        och Alice Wallenbergs Stiftelse","doi-asserted-by":"publisher","award":[]},{"DOI":"10.13039\/501100004359","name":"Vetenskapsr\u00e5det","doi-asserted-by":"publisher","award":[]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Advances
        in Mathematics"],"published-print":{"date-parts":[[2018,8]]},"DOI":"10.1016\/j.aim.2018.03.038","type":"journal-article","created":{"date-parts":[[2018,7,3]],"date-time":"2018-07-03T22:44:16Z","timestamp":1530657856000},"page":"417-449","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":2,"title":["Non-representable
        hyperbolic matroids"],"prefix":"10.1016","volume":"334","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-2305-9764","authenticated-orcid":false,"given":"Nima","family":"Amini","sequence":"first","affiliation":[]},{"given":"Petter","family":"Br\u00e4nd\u00e9n","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.aim.2018.03.038_br0010","author":"Amini"},{"key":"10.1016\/j.aim.2018.03.038_br0020","author":"Birkhoff","volume":"vol.
        25","year":"1967","article-title":"Lattice Theory"},{"key":"10.1016\/j.aim.2018.03.038_br0030","author":"Blekherman"},{"key":"10.1016\/j.aim.2018.03.038_br0040","doi-asserted-by":"crossref","first-page":"521","DOI":"10.1007\/s00222-009-0189-3","article-title":"The
        Lee\u2013Yang and P\u00f3lya\u2013Schur programs I. Linear operators preserving
        stability","volume":"177","author":"Borcea","year":"2009","journal-title":"Invent.
        Math."},{"key":"10.1016\/j.aim.2018.03.038_br0050","doi-asserted-by":"crossref","first-page":"73","DOI":"10.1112\/plms\/pdp049","article-title":"Multivariate
        P\u00f3lya\u2013Schur classification problems in the Weyl algebra","volume":"101","author":"Borcea","year":"2010","journal-title":"Proc.
        Lond. Math. Soc."},{"key":"10.1016\/j.aim.2018.03.038_br0060","doi-asserted-by":"crossref","first-page":"302","DOI":"10.1016\/j.aim.2007.05.011","article-title":"Polynomials
        with the half-plane property and matroid theory","volume":"216","author":"Br\u00e4nd\u00e9n","year":"2007","journal-title":"Adv.
        Math."},{"key":"10.1016\/j.aim.2018.03.038_br0070","doi-asserted-by":"crossref","first-page":"1202","DOI":"10.1016\/j.aim.2010.08.003","article-title":"Obstructions
        to determinantal representability","volume":"226","author":"Br\u00e4nd\u00e9n","year":"2011","journal-title":"Adv.
        Math."},{"key":"10.1016\/j.aim.2018.03.038_br0080","doi-asserted-by":"crossref","first-page":"1773","DOI":"10.1007\/s11590-013-0694-6","article-title":"Hyperbolicity
        cones of elementary symmetric polynomials are spectrahedral","volume":"8","author":"Br\u00e4nd\u00e9n","year":"2014","journal-title":"Optim.
        Lett."},{"issue":"5","key":"10.1016\/j.aim.2018.03.038_br0090","doi-asserted-by":"crossref","first-page":"485","DOI":"10.1016\/j.jctb.2010.04.001","article-title":"On
        the half-plane property and the Tutte group of a matroid","volume":"100","author":"Br\u00e4nd\u00e9n","year":"2010","journal-title":"J.
        Combin. Theory Ser. B"},{"key":"10.1016\/j.aim.2018.03.038_br0100","author":"Burton"},{"issue":"1\u20132","key":"10.1016\/j.aim.2018.03.038_br0110","doi-asserted-by":"crossref","first-page":"88","DO[...]
