---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?sample=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":127472782,"items":[{"indexed":{"date-parts":[[2021,5,9]],"date-time":"2021-05-09T09:25:06Z","timestamp":1620552306056},"reference-count":0,"publisher":"Informa
        UK Limited","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["American
        Journal of Clinical Hypnosis"],"published-print":{"date-parts":[[2009,10]]},"DOI":"10.1080\/00029157.2009.10401707","type":"journal-article","created":{"date-parts":[[2011,9,22]],"date-time":"2011-09-22T10:11:13Z","timestamp":1316686273000},"page":"151-152","source":"Crossref","is-referenced-by-count":0,"title":["Gosling,
        S. (2008).Snoop: What Your Stuff Says about You. New York: Basic Books. Reviewed
        by William Danton, Ph.D., ABPP, University of Nevada School of Medicine, Reno
        NV"],"prefix":"10.1080","volume":"52","member":"301","container-title":["American
        Journal of Clinical Hypnosis"],"language":"en","link":[{"URL":"http:\/\/www.tandfonline.com\/doi\/pdf\/10.1080\/00029157.2009.10401707","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,12,9]],"date-time":"2016-12-09T22:30:15Z","timestamp":1481322615000},"score":0.99999994,"issued":{"date-parts":[[2009,10]]},"references-count":0,"journal-issue":{"issue":"2","published-print":{"date-parts":[[2009,10]]}},"alternative-id":["10.1080\/00029157.2009.10401707"],"URL":"http:\/\/dx.doi.org\/10.1080\/00029157.2009.10401707","ISSN":["0002-9157","2160-0562"],"issn-type":[{"value":"0002-9157","type":"print"},{"value":"2160-0562","type":"electronic"}],"subject":["Complementary
        and alternative medicine","General Medicine"],"published":{"date-parts":[[2009,10]]}},{"indexed":{"date-parts":[[2021,5,12]],"date-time":"2021-05-12T08:20:35Z","timestamp":1620807635666},"reference-count":26,"publisher":"Informa
        UK Limited","issue":"2","funder":[{"name":"Australia-China Research Program
        on Market Mechanisms for Climate Change Policy"},{"DOI":"10.13039\/501100001809","name":"National
        Natural Science Foundation of China","doi-asserted-by":"publisher","award":["71503087"]}],"content-domain":{"domain":["www.tandfonline.com"],"crossmark-restriction":true},"short-container-title":["Climate
        Policy"],"published-print":{"date-parts":[[2018,2,7]]},"DOI":"10.1080\/14693062.2016.1277684","type":"journal-article","created":{"date-parts":[[2017,2,13]],"date-time":"2017-02-13T19:19:35Z","timestamp":1487013575000},"page":"258-273","update-policy":"http:\/\/dx.doi.org\/10.1080\/tandf_crossmark_01","source":"Crossref","is-referenced-by-count":3,"title":["Ex-post
        cap adjustment for China\u2019s ETS: an applicable indexation rule, simulating
        the Hubei ETS, and implications for a national scheme"],"prefix":"10.1080","volume":"18","author":[{"given":"Banban","family":"Wang","sequence":"first","affiliation":[{"name":"School
        of Economics, Huazhong University of Science and Technology, Wuhan, People\u2019s
        Republic of China"},{"name":"Center of Hubei Cooperative Innovation for Emissions
        Trading System, Wuhan, Hubei University of Economics, People\u2019s Republic
        of China"}]},{"ORCID":"http:\/\/orcid.org\/0000-0002-2856-847X","authenticated-orcid":false,"given":"Frank","family":"Jotzo","sequence":"additional","affiliation":[{"name":"Centre
        for Climate Economics &amp; Policy, Australian National University, Canberra,
        Australia"}]},{"given":"Shaozhou","family":"Qi","sequence":"additional","affiliation":[{"name":"Center
        of Hubei Cooperative Innovation for Emissions Trading System, Wuhan, Hubei
        University of Economics, People\u2019s Republic of China"},{"name":"Climate
        Change and Energy Economics Study Center, Wuhan University, Wuhan, People\u2019s
        Republic of China"}]}],"member":"301","published-online":{"date-parts":[[2017,2,13]]},"reference":[{"key":"CIT1001","doi-asserted-by":"publisher","DOI":"10.1016\/j.enpol.2003.10.012"},{"key":"CIT0001","doi-asserted-by":"publisher","DOI":"10.1007\/s10640-014-9789-5"},{"key":"CIT0002","doi-asserted-by":"publisher","DOI":"10.1596\/1813-9450-2019"},{"key":"CIT0003","doi-asserted-by":"publisher","DOI":"10.1016\/j.jeem.2011.04.005"},{"key":"CIT0004","doi-asserted-by":"publisher","DOI":"10.1016\/j.jclepro.2016.04.029"},{"key":"CIT0005","doi-asserted-by":"publisher","DOI":"10.1016\/j.apenergy.2014.12.056"},{"key":"CIT0006","doi-asserted-by":"publisher","DOI":"10.1016\/j.enpol.2014.02.030"},{"key":"CIT0007","first-page":"116","author":"Jiang
        K.","year":"2002","journal-title":"Proceeding of Climate Change Policy Assessment"},{"key":"CIT0009","doi-asserted-by":"publisher","DOI":"10.1016\/j.enpol.2014.09.019"},{"key":"CIT0010","doi-asserted-by":"publisher","DOI":"10.1007\/s10640-006-9078-z"},{"key":"CIT0011","doi-asserted-by":"publisher","DOI":"10.1093\/reep\/ren016"},{"key":"CIT0012","doi-asserted-by":"publisher","DOI":"10.1016\/j.jeem.2008.07.001"},{"key":"CIT1002","doi-asserted-by":"crossref","unstructured":"Pang,
        T. & Duan, M. (2016). Cap setting and allowance allocation in China\u2019s
        emissions trading pilot programmes: Special issues and innovative solutions.
        Climate Policy, 16, 1\u201321. doi.org\/10.1080\/14693062.2015.1052956","DOI":"10.1080\/14693062.2015.1052956"},{"key":"CIT0013","doi-asserted-by":"publisher","DOI":"10.1016\/j.jeem.2012.02.006"},{"key":"CIT0014","doi-asserted-by":"publisher","DOI":"10.1016\/S0047-2727(01)00118-9"},{"key":"CIT0015","doi-asserted-by":"publisher","DOI":"10.1016\/j.enpol.2014.07.010"},{"key":"CIT0016","doi-asserted-by":"publisher","DOI":"10.1016\/j.reseneeco.2005.05.002"},{"key":"CIT0017","doi-asserted-by":"publisher","DOI":"10.1016\/0047-2727(76)90014-1"},{"key":"CIT0018","volume-title":"Proposal
        for a U.S. Cap-and-trade system to address global climate change: A sensible
        and practical approach to reduce greenhouse gas emissions","author":"Stavins
        R. N.","year":"2007"},{"key":"CIT0019","doi-asserted-by":"publisher","DOI":"10.1016\/j.jeem.2010.01.002"},{"key":"CIT0020","doi-asserted-by":"publisher","DOI":"10.1016\/j.chieco.2011.06.002"},{"key":"CIT0021","doi-asserted-by":"publisher","DOI":"10.1016\/j.enpol.2014.01.022"},{"key":"CIT0022","doi-asserted-by":[...]
