---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?filter=has-funder:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1706386,"items":[{"indexed":{"date-parts":[[2019,11,18]],"date-time":"2019-11-18T17:17:45Z","timestamp":1574097465577},"reference-count":58,"publisher":"Elsevier
        BV","issue":"1-4","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2000,2,1]],"date-time":"2000-02-01T00:00:00Z","timestamp":949363200000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"name":"B.
        Cornelisen","award":["sample A764"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Chemical
        Geology"],"published-print":{"date-parts":[[2000,2]]},"DOI":"10.1016\/s0009-2541(99)00099-6","type":"journal-article","created":{"date-parts":[[2002,7,25]],"date-time":"2002-07-25T14:51:59Z","timestamp":1027608719000},"page":"269-285","source":"Crossref","is-referenced-by-count":47,"title":["Improved
        U\u2013Th\u2013total Pb dating of zircons by electron microprobe using a simple
        new background modeling procedure and Ca as a chemical criterion of fluid-induced
        U-Th-Pb discordance in zircon"],"prefix":"10.1016","volume":"163","author":[{"given":"Thorsten","family":"Geisler","sequence":"first","affiliation":[]},{"given":"Helmut","family":"Schleicher","sequence":"additional","affiliation":[]}],"member":"78","container-title":["Chemical
        Geology"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0009254199000996?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:S0009254199000996?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,4,27]],"date-time":"2019-04-27T21:52:41Z","timestamp":1556401961000},"score":1.0,"issued":{"date-parts":[[2000,2]]},"references-count":58,"journal-issue":{"published-print":{"date-parts":[[2000,2]]},"issue":"1-4"},"alternative-id":["S0009254199000996"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0009-2541(99)00099-6","ISSN":["0009-2541"],"issn-type":[{"value":"0009-2541","type":"print"}]},{"indexed":{"date-parts":[[2019,11,18]],"date-time":"2019-11-18T16:31:32Z","timestamp":1574094692544},"reference-count":58,"publisher":"Elsevier
        BV","issue":"1-4","license":[{"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2000,2,1]],"date-time":"2000-02-01T00:00:00Z","timestamp":949363200000},"delay-in-days":0,"content-version":"tdm"}],"funder":[{"name":"NSF
        grants to Jean-Guy Schilling","award":[]}],"content-doma[...]
