---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/journal/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":43870,"items":[{"DOI":"10.1515\/iprg","title":["Intercultural
        Pragmatics"]},{"DOI":"10.1515\/crll","title":["Journal f\u00fcr die reine
        und angewandte Mathematik (Crelles Journal)"]},{"DOI":"10.1515\/agph","title":["Archiv
        f\u00fcr Geschichte der Philosophie"]},{"DOI":"10.1002\/(issn)1521-3730","title":["CHEMKON"]},{"DOI":"10.1553\/anzeigerr","title":["Anzeiger
        der philosophisch-historischen Klasse"]},{"DOI":"10.1002\/(issn)1557-6272","title":["Evidence-Based
        Child Health: A Cochrane Review Journal"]},{"DOI":"10.1515\/nzst","title":["Neue
        Zeitschrift f\u00fcr Systematische Theologie und Religionsphilosophie"]},{"DOI":"10.1515\/znth","title":["Journal
        for the History of Modern Theology \/ Zeitschrift f\u00fcr Neuere Theologiegeschichte"]},{"DOI":"10.33474\/jipemas","title":["JIPEMAS:
        Jurnal Inovasi Hasil Pengabdian Masyarakat"]},{"DOI":"10.4172\/2161-0533","title":["Orthopedic
        & Muscular System"]},{"DOI":"10.31860\/0136-7447","title":["Russkij Folklor"]},{"DOI":"10.15580\/imjgj","title":["International
        and Multidisciplinary Journal of Global Justice"]},{"DOI":"10.15448\/1984-4301","title":["Letr\u00f4nica"]},{"DOI":"10.33369\/jsh","title":["Supremasi
        Hukum: Jurnal Penelitian Hukum"]},{"DOI":"10.5604\/0082044x","title":["\u015awiatowit"]},{"DOI":"10.31295\/ijcms","title":["International
        Journal of Chemical & Material Sciences"]},{"DOI":"10.31295\/ijhms","title":["International
        journal of health & medical sciences"]},{"DOI":"10.15602\/1983-9480\/cmrs","title":["Ci\u00eancia
        em Movimento"]},{"DOI":"10.7176\/hrl","title":["Historical Research Letter"]},{"DOI":"10.26650\/ekoist","title":["Ekoist:
        Journal of Econometrics and Statistics"]}],"items-per-page":20,"query":{"start-index":0,"search-terms":null}}}'
  recorded_at: Sat, 18 Sep 2021 16:11:56 GMT
recorded_with: VCR 6.0.0
