---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1002%2F1096-9861(20010212)430:3%3C283::aid-cne1031%3E3.0.co;2-v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,9,7]],"date-time":"2024-09-07T09:18:30Z","timestamp":1725700710804},"reference-count":42,"publisher":"Wiley","issue":"3","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":5356,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Comp. Neurol."],"published-print":{"date-parts":[[2001,2,12]]},"DOI":"10.1002\/1096-9861(20010212)430:3<283::aid-cne1031>3.0.co;2-v","type":"journal-article","created":{"date-parts":[[2004,10,28]],"date-time":"2004-10-28T05:58:14Z","timestamp":1098943094000},"page":"283-305","source":"Crossref","is-referenced-by-count":75,"title":["Substance
        P receptor expression by inhibitory interneurons of the rat hippocampus: Enhanced
        detection using improved immunocytochemical methods for the preservation and
        colocalization of GABA and other neuronal markers"],"prefix":"10.1002","volume":"430","author":[{"given":"Robert
        S.","family":"Sloviter","sequence":"first","affiliation":[]},{"given":"Leila","family":"Ali-Akbarian","sequence":"additional","affiliation":[]},{"given":"Kathryn
        D.","family":"Horvath","sequence":"additional","affiliation":[]},{"given":"Kent
        A.","family":"Menkens","sequence":"additional","affiliation":[]}],"member":"311","published-online":{"date-parts":[[2001]]},"reference":[{"key":"BIB1","doi-asserted-by":"crossref","first-page":"320","DOI":"10.1002\/(SICI)1096-9861(19970217)378:3<320::AID-CNE2>3.0.CO;2-5","volume":"378","author":"Acs\u00e1dy","year":"1997","journal-title":"J
        Comp Neurol"},{"key":"BIB2","doi-asserted-by":"crossref","first-page":"851","DOI":"10.1002\/cne.901820508","volume":"182","author":"Amaral","year":"1978","journal-title":"J
        Comp Neurol"},{"key":"BIB3","doi-asserted-by":"crossref","first-page":"1452","DOI":"10.1523\/JNEUROSCI.06-05-01452.1986","volume":"6","author":"Bakst","year":"1986","journal-title":"J
        Neurosci"},{"key":"BIB4","doi-asserted-by":"crossref","first-page":"844","DOI":"10.1177\/29.7.6167611","volume":"29"[...]
