---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1631921712264,"primary-name":"Hindawi
        Limited","counts":{"current-dois":65021,"backfile-dois":224303,"total-dois":289324},"breakdowns":{"dois-by-issued-year":[[2014,29224],[2013,26413],[2020,25012],[2012,23395],[2015,22115],[2018,21412],[2021,20976],[2019,19033],[2016,18881],[2017,17023],[2011,12701],[2010,6802],[2009,4175],[2008,3286],[2002,2632],[2001,2409],[2007,2336],[2006,2324],[2004,2069],[2005,1947],[2003,1884],[2000,1826],[1998,1440],[1999,1439],[1996,1252],[1995,1220],[1997,1214],[1994,1203],[1993,1067],[1992,965],[1991,900],[1990,749],[1989,602],[1988,589],[1987,477],[1986,445],[1983,433],[1985,396],[1984,392],[1981,317],[1980,313],[1982,28[...]
- request:
    method: get
    uri: https://api.crossref.org/members/340
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1631921757506,"primary-name":"Public
        Library of Science (PLoS)","counts":{"current-dois":55185,"backfile-dois":249905,"total-dois":305090},"breakdowns":{"dois-by-issued-year":[[2013,36487],[2014,35452],[2015,33537],[2012,27083],[2016,26725],[2017,24569],[2018,22183],[2020,20426],[2019,19633],[2011,16660],[2021,15126],[2010,9348],[2009,6703],[2008,4589],[2007,2671],[2005,1643],[2006,1612],[2004,540],[2003,103]]},"prefixes":["10.1371","10.24196","10.1371"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"funders-backfile":0.1700526199955983,"licenses-backfile":0.9857585882635401,"funders-current":0.6029718220530941,"affiliations-backfile":8.363178007642904E-4,"resource-links-backfile":0.0,"orcids-backfile":0.1752385906644525,"update-policies-current":1.0,"open-references-backfile":1.0,"orcids-current":0.9453837093413066,"similarity-checking-backfile":0.8983413697204938,"references-backfile":0.9072567575678758,"award-numbers-backfile":0.1459674676377023,"update-policies-backfile":0.9936896020487785,"licenses-current":0.9999818791338226,"award-numbers-current":0.5296910392316753,"abstracts-backfile":4.001520577819571E-5,"resource-links-current":0.0,"abstracts-current":0.3267373380447585,"open-references-current":1.0,"references-current":0.999818791338226},"prefix":[{"reference-visibility":"open","name":"Public
        Library of Science","value":"10.1371","public-references":true},{"reference-visibility":"limited","name":"Public
        Library of Science (PLoS)","value":"10.24196","public-references":false},{"reference-visibility":"open","name":"Public
        Library of Science","value":"10.1371","public-references":true}],"id":340,"tokens":["public","library","of","science","plos"],"counts-type":{"all":{"journal-article":305090,"journal":1,"component":3083722,"dataset":7},"backfile":{"journal-article":249905},"current":{"journal-article":55185}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1631921757506,"affiliations":6.850437575797306E-4,"abstracts":0.05913337048084172,"orcids":0.3145432495329247,"licenses":0.9883313120718477,"references":0.9239994755645875,"funders":0.2483595004752696,"similarity-checking":0.9167294896587892,"award-numbers":0.2153757907502704,"update-policies":0.9948310334655348,"resource-links":0.0,"open-references":1.0},"journal":{"last-status-check-time":1631921757506,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":1.0},"component":{"last-status-check-time":1631921757506,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"ope[...]
[...]
