---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":405943,"items":[{"indexed":{"date-parts":[[2020,7,28]],"date-time":"2020-07-28T08:00:16Z","timestamp":1595923216690},"reference-count":0,"publisher":"Oxford
        University Press","isbn-type":[{"value":"9780199830060","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Abiotic
        natural disturbance agents include wildfire, wind, landslides, snow avalanches,
        volcanoes, flooding, and other weather-related phenomena. Fire is of particular
        interest because of its antiquity, its natural role in many terrestrial ecosystems,
        its long-term use by humans to modify vegetation, and its potentially serious
        threat to life and property. Fire ecology is the art and science of understanding
        natural and human fire history and f[...]
