---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/2167-8359
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1523071184394,"counts":{"total-dois":4566,"current-dois":2689,"backfile-dois":1877},"breakdowns":{"dois-by-issued-year":[[2017,1367],[2016,1296],[2015,801],[2014,471],[2018,392],[2013,232]]},"publisher":"PeerJ","coverage":{"affiliations-current":0.9564893841743469,"funders-backfile":0.2562599778175354,"licenses-backfile":0.3436334431171417,"funders-current":0.816660463809967,"affiliations-backfile":0.9861481189727783,"resource-links-backfile":1.0,"orcids-backfile":0.011720831505954266,"update-policies-current":0.0,"orcids-current":0.083302341401577,"references-backfile":1.0,"award-numbers-backfile":0.18167288601398468,"update-policies-backfile":0.0,"licenses-current":0.9947935938835144,"award-numbers-current":0.6325771808624268,"abstracts-backfile":0.3436334431171417,"resource-links-current":0.9947935938835144,"abstracts-current":0.9947935938835144,"references-current":0.9940498471260071},"title":"PeerJ","subjects":[{"name":"General
        Agricultural and Biological Sciences","ASJC":1100},{"name":"General Biochemistry,
        Genetics and Molecular Biology","ASJC":1300},{"name":"General Medicine","ASJC":2700},{"name":"General
        Neuroscience","ASJC":2800}],"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":false,"deposits-licenses-current":true},"ISSN":["2167-8359"],"issn-type":[{"value":"2167-8359","type":"electronic"}]}}'
  recorded_at: Sat, 07 Apr 2018 23:15:21 GMT
recorded_with: VCR 4.0.0
