---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":547878,"items":[{"indexed":{"date-parts":[[2024,5,9]],"date-time":"2024-05-09T22:23:56Z","timestamp":1715293436118},"reference-count":0,"publisher":"Oxford
        University Press","isbn-type":[{"value":"9780199830060","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Communication
        is perhaps the most important, but least formally discussed, aspect of current
        ecological research and teaching. The last twenty years has demonstrated that
        this is no longer a viable approach and the rise of climate change research,
        and its concomitant denial, has brought disagreement and outright refusal
        to accept facts to the research community and the wider world. This has, in
        turn, produced a vigorous research community aimed[...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&sort=deposited
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":547878,"items":[{"indexed":{"date-parts":[[2025,6,8]],"date-time":"2025-06-08T20:10:01Z","timestamp":1749413401592,"version":"3.41.0"},"reference-count":66,"publisher":"Oxford
        University Press (OUP)","issue":"1","license":[{"start":{"date-parts":[[2025,5,22]],"date-time":"2025-05-22T00:00:00Z","timestamp":1747872000000},"content-version":"vor","delay-in-days":141,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"funder":[{"name":"Simons
        Foundation Postdoctoral Fellowship in Marine Microbial Ecology","award":["#986836"]},{"name":"NASA
        Ocean Biology and Biogeochemistry","award":["80NSSC21K0015","80NSSC18K1431","80NSSC17K0716"]}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2025,1,2]]},"abstract":"<jats:title>Abstract<\/jats:title>\n               <jats:p>Carbon
        flux to the deep sea can be dictated by surface ocean phytoplankton community
        composition, but translating surface ocean observations into quantitative
        predictions of carbon export requires additional consideration of the underlying
        ecosystem drivers. Here, we used genetic tracers of phytoplankton detected
        in surface seawater and within sinking particles collected in the mesopelagic
        ocean to identify mechanistic links between surface communi[...]
