---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":290683,"items":[{"DOI":"10.1155\/jamsa\/2006\/42542","title":["A
        scalarization technique for computing the power and exponential\nmoments of
        Gaussian random matrices"]},{"DOI":"10.1155\/ijmms\/2006\/89545","title":["Invariantf-structures
        on the flag manifoldsSO(n)\/SO(2)\u00d7SO(n\u22123)"]},{"DOI":"10.1002\/cfg.80","title":["IBC
        \u2013 Proteomics, 1\u20132 March 2000, Basel Hilton, Switzerland"]},{"DOI":"10.1002\/cfg.118","title":["Current
        Awareness on Comparative and Functional Genomics"]},{"DOI":"10.1002\/cfg.166","title":["In
        This Issue"]},{"DOI":"10.1002\/cfg.59","title":["Current Awareness on Comparative
        and Functional Genomics"]},{"DOI":"10.1002\/cfg.108","title":["Meeting Review:
        The Intelligent Systems in Bioinformatics Conference 2001 (ISMB2001)"]},{"DOI":"10.1002\/1097-0061(20000930)17:3<169::aid-yea33>3.0.co;2-u","title":["Editorial"]},{"DOI":"10.1155\/2019\/9653526","title":["Intended
        Pregnancy as a Predictor of Good Knowledge on Birth Preparedness and Complication
        Readiness: the Case of Northern Ethiopia Pregnant Mothers"]},{"DOI":"10.1155\/2015\/657431","title":["Efficient
        Multidimensional Top-kQuery Processing in Wireless Multihop Networks"]},{"DOI":"10.1155\/2019\/1451623","title":["Diet
        Composition Differentially Affects Insulin Pathway Compromised and Control
        Flies"]},{"DOI":"10.1155\/2019\/8376781","title":["Optimisation Design and
        Damping Effect Analysis of Large Mass Ratio Tuned Mass Dampers"]},{"DOI":"10.1155\/2015\/965274",[...]
