---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1648250379829,"primary-name":"Hindawi
        Limited","counts":{"current-dois":77015,"backfile-dois":261672,"total-dois":338687},"breakdowns":{"dois-by-issued-year":[[2021,36644],[2020,31333],[2014,30174],[2013,27281],[2012,24230],[2015,22983],[2018,22563],[2019,21362],[2016,19718],[2017,17962],[2011,13572],[2022,9038],[2010,7724],[2009,5772],[2008,4033],[2007,3455],[2006,3148],[2002,2857],[2004,2832],[2005,2765],[2001,2638],[2003,2226],[2000,2041],[1999,1616],[1998,1573],[1996,1377],[1997,1341],[1995,1320],[1994,1207],[1993,1071],[1992,992],[1991,912],[1990,753],[1989,606],[1988,595],[1987,481],[1986,449],[1983,441],[1984,404],[1985,400],[1981,321],[1980,3[...]
- request:
    method: get
    uri: https://api.crossref.org/members/340
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"member","message-version":"1.0.0","message":{"last-status-check-time":1648250453787,"primary-name":"Public
        Library of Science (PLoS)","counts":{"current-dois":45774,"backfile-dois":269538,"total-dois":315312},"breakdowns":{"dois-by-issued-year":[[2013,36487],[2014,35452],[2015,33537],[2012,27083],[2016,26725],[2017,24569],[2018,22183],[2021,20842],[2020,20426],[2019,19633],[2011,16660],[2010,9348],[2009,6703],[2008,4589],[2022,4506],[2007,2671],[2005,1643],[2006,1612],[2004,540],[2003,103]]},"prefixes":["10.24196","10.1371"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.1990331604449094,"licenses-backfile":0.9867959248788668,"funders-current":0.6408004544064316,"affiliations-backfile":7.754008711202131E-4,"resource-links-backfile":0.0,"orcids-backfile":0.229889663053076,"update-policies-current":1.0,"open-references-backfile":1.0,"ror-ids-backfile":0.0,"orcids-current":0.957792633372657,"similarity-checking-backfile":0.9057535486647523,"references-backfile":0.9140047043459549,"descriptions-backfile":0.0,"award-numbers-backfile":0.1726027498905535,"update-policies-backfile":0.9941492479724566,"licenses-current":0.9999563070738847,"award-numbers-current":0.5514702669637787,"abstracts-backfile":7.791109231351423E-5,"resource-links-current":0.0,"abstracts-current":0.6089483112684057,"open-references-current":1.0,"references-current":0.9997596889063661},"prefix":[{"reference-visibility":"limited","name":"Public
        Library of Science (PLoS)","value":"10.24196","public-references":false},{"reference-visibility":"open","name":"Public
        Library of Science","value":"10.1371","public-references":true}],"id":340,"tokens":["public","library","of","science","plos"],"counts-type":{"all":{"journal-article":315312,"journal":1,"component":3221629,"dataset":7},"backfile":{"journal-article":269538},"current":{"journal-article":45774}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1648250453787,"affiliations":6.628355406708276E-4,"abstracts":0.08846793017709444,"orcids":0.3355596995991272,"licenses":0.9887064241132592,"references":0.9264537981427919,"funders":0.2631647384178211,"similarity-checking":0.9194353529202821,"award-numbers":0.2276031359415436,"ror-ids":0.0,"update-policies":0.9949986045567565,"resource-links":0.0,"descriptions":0.0,"open-references":1.0},"journal":{"last-status-check-time":1648250453787,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,"update-policies":0.0,"resource-links":0.0,"descriptions":0.0,"open-references":1.0},"component":{"last-status-check-time":1648250453787,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"ror-ids":0.0,[...]
[...]
