---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/journal/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.3 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":25696,"items":[{"DOI":"10.22550\/rep","title":["Revista
        Espa\u00f1ola de Pedagog\u00eda"]},{"DOI":"10.18590\/issn.2379-9536","title":["Marshall
        Journal of Medicine"]},{"DOI":"10.21134\/rpcna","title":["Revista de Psicolog\u00eda
        Cl\u00ednica con Ni\u00f1os y Adolescentes"]},{"DOI":"10.15862\/nv","title":["On-line
        Journal \"Naukovedenie\""]},{"DOI":"10.26634\/jmgt","title":["i-manager\u2019s
        Journal on Management"]},{"DOI":"10.13187\/issn.2500-3712","title":["Propaganda
        in the World and Local C[...]
