---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039%2F100000001/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.15.0 Serrano/v0.5.1 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":151572,"items":[{"DOI":"10.1118\/1.1427308","title":["Accelerator-based
        neutron brachytherapy"]},{"DOI":"10.1002\/cfg.172","title":["Upstream \u2013
        News in Genomics"]},{"DOI":"10.1103\/physrevb.91.020101","title":["Prediction
        of a stable post-post-perovskite structure from first principles"]},{"DOI":"10.1016\/j.jcp.2015.03.033","title":["Semi-implicit
        integration factor methods on sparse grids for high-dimensional systems"]},{"DOI":"10.1016\/j.nimb.2017.05.052","title":["PIGE
        as a screening tool for Per- a[...]
