---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1803-2427
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1581955633104,"counts":{"total-dois":196,"current-dois":47,"backfile-dois":149},"breakdowns":{"dois-by-issued-year":[[2017,35],[2018,23],[2019,20],[2015,20],[2016,15],[2013,15],[2011,15],[2014,11],[2010,10],[2008,10],[2012,9],[2009,9],[2020,4]]},"publisher":"De
        Gruyter Open Sp. z o.o. ","coverage":{"affiliations-current":0.4893617033958435,"similarity-checking-current":0.06382978707551956,"funders-backfile":0.0,"licenses-backfile":0.5838926434516907,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.791946291923523,"orcids-backfile":0.0,"update-policies-current":0.0,"open-references-backfile":1.0,"orcids-current":0.0,"similarity-checking-backfile":0.9731543660163879,"references-backfile":0.7583892345428467,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":1.0,"award-numbers-current":0.0,"abstracts-backfile":0.7852349281311035,"resource-links-current":1.0,"abstracts-current":0.957446813583374,"open-references-current":1.0,"references-current":0.06382978707551956},"title":"Journal
        of Landscape Ecology","subjects":[],"coverage-type":{"all":{"last-status-check-time":1581955623982,"affiliations":0.11734694242477417,"abstracts":0.8265306353569031,"orcids":0.0,"licenses":0.6836734414100647,"references":0.5918367505073547,"funders":0.0,"similarity-checking":0.7551020383834839,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.8418367505073547,"open-references":1.0},"backfile":{"last-status-check-time":1581955621496,"affiliations":0.0,"abstracts":0.7852349281311035,"orcids":0.0,"licenses":0.5838926434516907,"references":0.7583892345428467,"funders":0.0,"similarity-checking":0.9731543660163879,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.791946291923523,"open-references":1.0},"current":{"last-status-check-time":1581955619111,"affiliations":0.4893617033958435,"abstracts":0.957446813583374,"orcids":0.0,"licenses":1.0,"references":0.06382978707551956,"funders":0.0,"similarity-checking":0.06382978707551956,"award-numbers":0.0,"update-policies":0.0,"resource-links":1.0,"open-references":1.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":false,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":false,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":false,"deposits-references-backfile":true,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":false,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":false,"deposits-funders-backfile":false,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1805-4196","1803-2427"],"issn-type":[{"value":"1805-4196","type":"electronic"},{"value":"1803-2427","type":"print"}]}}'
  recorded_at: Tue, 18 Feb 2020 18:38:09 GMT
[...]
