---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members/98/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":340033,"items":[{"indexed":{"date-parts":[[2021,12,11]],"date-time":"2021-12-11T21:52:43Z","timestamp":1639259563326},"reference-count":19,"publisher":"Hindawi
        Limited","license":[{"start":{"date-parts":[[2020,3,2]],"date-time":"2020-03-02T00:00:00Z","timestamp":1583107200000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Gastroenterology
        Research and Practice"],"published-print":{"date-parts":[[2020,3,2]]},"abstract":"<jats:p><jats:italic>Background
        and Aims<\/jats:italic>. Endoscopic submucosal dissection (ESD) is widely
        performed for early gastric cancer (EGC). We have sometimes encountered gastric
        cancer lesions for which ESD was performed and at which pathologically advanced
        cancer was found. In this study, we performed clinicopathological examination
        of lesions whose endoscopic diagnosis and pathology differed substantially.
        <jats:italic>Methods<\/jats:italic>. ESD was performed for 2,194 gastric cancer
        lesions (1,753 cases) in our institute from April 2005 through March 2015.
        The vertical margin was positive or status unknown in 51 lesions (2.3%); among
        these, muscularis propria (MP) or deeper infiltration was identified in 6
        lesions from specimens obtained during subsequent surgery. In 1 lesion with
        MP invasion, the vertical margin was negative. We evaluated the clinicopathological
        features of these 7 lesions and retrospectively reviewed endoscopic indicators
        of submucosal invasion for EGC on white light imaging (WLI), narrow-band imaging
        magnifying endoscopy (NBI-ME), and endoscopic ultrasonography (EUS) performed
        previously. <jats:italic>Results<\/jats:italic>. Average age was <mml:math
        xmlns:mml=\"http:\/\/www.w3.org\/1998\/Math\/MathML\" id=\"M1\"><mml:mn>73.2<\/mml:mn><mml:mo>\u00b1<\/mml:mo><mml:mn>7.2<\/mml:mn><\/mml:math>
        years, and all cases were men. The 7 lesions diagnosed as advanced cancer
        were 0.32% of 2,194 lesions and were all located in the U region (fundus).
        On retrospective review of endoscopic findings, 2 of 7 lesions on WBI, 3 of
        6 lesions on NBI-ME, and 2 of 5 lesions on EUS met the criteria for indicating
        submucosal invasion of EGC. No lesions had findings on all 3 modalities. <jats:italic>Conclusion<\/jats:italic>.
        In rare cases, advanced gastric cancer could not be accurately diagnosed by
        endoscopy using various modalities. Each case had special characteristics
        making identification of deep infiltration difficult.<\/jats:p>","DOI":"10.1155\/2020\/6525098","type":"journal-article","created":{"date-parts":[[2020,3,2]],"date-time":"2020-03-02T23:30:45Z","timestamp":1583191845000},"page":"1-8","source":"Crossref","is-referenced-by-count":0,"title":["Clinicopathological
        Features of Advanced Gastric Cancers which Were Misjudged and Subjected to
        Endoscopic Submucosal Dissection"],"prefix":"10.1155","volume":"2020","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-7359-9611","authenticated-orcid":true,"given":"Yorinari","family":"Ochiai","sequence":"first","affiliation":[{"name":"Department
        of Gastroenterology, Toranomon Hospital, 105-8470 Tokyo, Japan"},{"name":"Department
        of Pathology, Tokyo Medical and Dental University, 113-8519 Tokyo, Japan"}]},{"ORCID":"http:\/\/orcid.org\/0000-0002-0529-7910","authenticated-orcid":true,"given":"Daisuke","family":"Kikuchi","sequence":"additional","affiliation":[{"name":"Department
        of Gastroenterology, Toranomon Hospital, 105-8470 Tokyo, Japan"}]},{"ORCID":"http:\/\/orcid.org\/0000-0002-5459-3388","authentic[...]
