---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/members?filter=has-funder:true,has-full-text:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.14.0 Serrano/v0.3.6.2
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"filter-not-available","value":"has-full-text","message":"Filter
        has-full-text specified but there is no such filter for this route. Valid
        filters for this route are: prefix, has-public-references, reference-visibility,
        backfile-doi-count, current-doi-count"},{"type":"filter-not-available","value":"has-funder","message":"Filter
        has-funder specified but there is no such filter for this route. Valid filters
        for this route are: prefix, has-public-references, reference-visibility, backfile-doi-count,
        current-doi-count"}]}'
  recorded_at: Sat, 07 Apr 2018 23:17:18 GMT
recorded_with: VCR 4.0.0
