---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039%2F100000001/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":231609,"items":[{"DOI":"10.1016\/s0009-2541(99)00129-1","title":["Meta-gabbro
        weathering in the Georgia Piedmont, USA: implications for global silicate
        weathering rates"]},{"DOI":"10.1016\/0272-6963(95)00033-x","title":["The operating
        impact of parts commonality"]},{"DOI":"10.1002\/cplx.10117","title":["A conductivity-dependent
        phase transition from closed-loop to open-loop dendritic networks"]},{"DOI":"10.1002\/asi.10350","title":["Metadata-based
        modeling of information resources on the Web"]},{"DOI":"10.1002\/lsm.102[...]
