---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works?filter=has-funder:true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.12.0.1 Serrano/v0.3.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"items-per-page":20,"query":{"start-index":0,"search-terms":null},"total-results":801088,"items":[{"indexed":{"date-parts":[[2016,11,2]],"date-time":"2016-11-02T02:31:01Z","timestamp":1478053861079},"reference-count":71,"publisher":"Elsevier
        BV","license":[{"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/","start":{"date-parts":[[2016,11,1]],"date-time":"2016-11-01T00:00:00Z","timestamp":1477958400000},"delay-in-days":0,"content-version":"tdm"},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/","start":{"date-parts":[[2016,2,24]],"date-time":"2016-02-24T00:00:00Z","timestamp":1456272000000},"delay-in-days":0,"content-version":"vor"}],"funder":[{"DOI":"10.13039\/501100004963","name":"Seventh
        Framework Programme","doi-asserted-by":"publisher","award":["FP7\/2007-2013"]},{"name":"Deutsche
        Forschungsgesellschaft","award":["EI855\/1-2"]},{"name":"European Union Horizon
        2020 Program","award":["633983-2"]}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":false},"short-container-title":["TrAC
        Trends in Analytical Chemistry"],"cited-count":0,"published-print":{"date-parts":[[2016,11]]},"DOI":"10.1016\/j.trac.2016.01.027","type":"journal-article","created":{"date-parts":[[2016,2,23]],"date-time":"2016-02-23T08:49:04Z","timestamp":1456217344000},"page":"106-116","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"CrossRef","title":["Impact
        of LC-MS\/MS on the laboratory diagnosis of catecholamine-producing tumors"],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","volume":"84","author":[{"given":"Graeme","family":"Eisenhofer","affiliation":[]},{"given":"Mirko","family":"Peitzsch","affiliation":[]},{"given":"Brett
        C.","family":"McWhinney","affiliation":[]}],"member":"http:\/\/id.crossref.org\/member\/78","container-title":["TrAC
        Trends in Analytical Chemistry"],"original-title":[],"link":[{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0165993615301382?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0165993615301382?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2016,11,2]],"date-time":"2016-11-02T01:22:48Z","timestamp":1478049768000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2016,11]]},"alternative-id":["S0165993615301382"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.trac.2016.01.027","ISSN":["0165-9936"],"citing-count":71,"subject":["Analytical
        Chemistry","Spectroscopy","Environmental Chemistry"],"assertion":[{"value":"Elsevier","name":"publisher","label":"This
        article is maintained by"},{"value":"Impact of LC-MS\/MS on the laboratory
        diagnosis of catecholamine-producing tumors","name":"articletitle","label":"Article
        Title"},{"value":"TrAC Trends in Analytical Chemistry","name":"journaltitle","label":"Journal
        Title"},{"value":"http:\/\/dx.doi.org\/10.1016\/j.trac.2016.01.027","name":"articlelink","label":"CrossRef
        DOI link to publisher maintained version"},{"value":"article","name":"content_type","label":"C[...]
