---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039%2F100000001/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":306353,"items":[{"DOI":"10.3389\/fevo.2016.00097","title":["Host
        Defense Skin Peptides Vary with Color Pattern in the Highly Polymorphic Red-Eyed
        Treefrog"]},{"DOI":"10.1088\/2053-1583\/aadb5f","title":["Theory-assisted
        determination of nano-rippling and impurities in atomic resolution images
        of angle-mismatched bilayer graphene"]},{"DOI":"10.1080\/00949655.2018.1440294","title":["The
        generalized Poisson-binomial distribution and the computation of its distribution
        function"]},{"DOI":"10.3982\/te1362","ti[...]
