---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/types/journal/works?select=DOI,title
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.17.3 Serrano/v0.5.5 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":34805,"items":[{"DOI":"10.1007\/s00268-003-7063-2","title":["World
        Journal of Surgery"]},{"DOI":"10.1007\/s10126-002-0076-9","title":["Marine
        Biotechnology"]},{"DOI":"10.1007\/s10126-002-0069-8","title":["Marine Biotechnology"]},{"DOI":"10.1007\/s10126-002-0071-1","title":["Marine
        Biotechnology"]},{"DOI":"10.1007\/s10126-002-0086-z","title":["Marine Biotechnology"]},{"DOI":"10.1007\/s00464-002-4265-7","title":["Surgical
        Endoscopy"]},{"DOI":"10.17513\/sn","title":["\u0421\u0442\u0430\u0440\u0442
        \u0432 \u043d\u0430[...]
