---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007%2F12080.1874-1746
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.15.0 Serrano/v0.5.1 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2017,10,26]],"date-time":"2017-10-26T08:17:16Z","timestamp":1509005836362},"reference-count":0,"publisher":"Springer
        Nature","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1007\/12080.1874-1746","type":"journal","created":{"date-parts":[[2013,5,25]],"date-time":"2013-05-25T04:17:50Z","timestamp":1369455470000},"source":"Crossref","is-referenced-by-count":0,"title":["Theoretical
        Ecology"],"prefix":"10.1007","member":"297","container-title":[],"original-title":[],"deposited":{"date-parts":[[2013,5,25]],"date-time":"2013-05-25T04:17:50Z","timestamp":1369455470000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/12080.1874-1746","relation":{},"ISSN":["1874-1738","1874-1746"],"issn-type":[{"value":"1874-1738","type":"print"},{"value":"1874-1746","type":"electronic"}],"subject":["Ecological
        Modelling","Ecology"]}}'
  recorded_at: Wed, 09 May 2018 19:28:28 GMT
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1002%2F1096-9861(20010212)430:3%3C283::aid-cne1031%3E3.0.co;2-v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.15.0 Serrano/v0.5.1 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2018,2,5]],"date-time":"2018-02-05T01:52:30Z","timestamp":1517795550944},"reference-count":42,"publisher":"Wiley-Blackwell","issue":"3","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":5356,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Comp. Neurol."],"published-print":{"date-parts":[[2001,2,12]]},"DOI":"10.1002\/1096-9861(20010212)430:3<283::aid-cne1031>3.0.co;2-v","type":"journal-article","created":{"date-parts":[[2004,10,28]],"date-time":"2004-10-28T05:58:14Z","timestamp":1098943094000},"page":"283-305","source":"Crossref","is-referenced-by-count":60,"title":["Substance
        P receptor expression by inhibitory interneurons of the rat hippocampus: Enhanced
        detection using improved immunocytochemical methods for the preservation and
        colocalization of GABA and other neuronal markers"],"prefix":"10.1002","volume":"430","author":[{"given":"Robert
        S.","family":"Sloviter","affiliation":[]},{"given":"Leila","family":"Ali-Akbarian","affiliation":[]},{"given":"Kathryn
        D.","family":"Horvath","affiliation":[]},{"given":"Kent A.","family":"Menkens","affiliation":[]}],"member":"311","published-online":{"date-parts":[[2001]]},"reference":[{"key":"BIB1","author":"Acs\u00e1dy","volume":"378","first-page":"320","year":"1997","journal-title":"J
        Comp Neurol"},{"key":"BIB2","author":"Amaral","volume":"182","first-page":"851","year":"1978","journal-title":"J
        Comp Neurol"},{"key":"BIB3","author":"Bakst","volume":"6","first-page":"1452","year":"1986","journal-title":"J
        Neurosci"},{"key":"BIB4","author":"Berod","volume":"29","first-page":"844","year":"1981","journal-title":"J
        Histochem Cytochem","DOI":"10.1177\/29.7.6167611","doi-asserted-by":"crossref"},{"key":"BIB5","author":"Borhegyi","volume":"384","first-page":"41","year":"1997","journal-title":"J
        Comp Neurol"},{"key":"BIB6","author":"Borhegyi","volume":"25","first-page":"1393","year":"1999","journal-title":"Soc
        Neurosci Abstr"},{"key":"BIB7","author":"Deller","volume":"300","first-page":"433","year":"1990","journal-title":"J
        Comp Neurol"},{"key":"BIB8","author":"Dichter","volume":"32","first-page":"663","year":"1969","journal-title":"J
        Neurophysi[...]
