---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/prefixes/10.1016/works
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.13.1 Serrano/v1.4 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":21995634,"items":[{"indexed":{"date-parts":[[2022,4,27]],"date-time":"2022-04-27T20:11:20Z","timestamp":1651090280032},"reference-count":45,"publisher":"Elsevier
        BV","issue":"2","license":[{"start":{"date-parts":[[2015,8,1]],"date-time":"2015-08-01T00:00:00Z","timestamp":1438387200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/100000041","name":"American
        Diabetes Association","doi-asserted-by":"publisher","award":["1-10-IN-30"],"id":[{"id":"10.13039\/100000041","id-type":"DOI","asserted-by":"publisher"}]},{"name":"Iowa
        City VA Health Care System (5101BX00285-07)"},{"DOI":"10.13039\/100000002","name":"National
        Institutes of Health","doi-asserted-by":"publisher","award":["AR059115-04","F30AG043304,
        UL1RR024979"],"id":[{"id":"10.13039\/100000002","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":["clinicalkey.jp","clinicalkey.com","clinicalkey.es","translationalres.com","clinicalkey.com.au","clinicalkey.fr","elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Translational
        Research"],"published-print":{"date-parts":[[2015,8]]},"DOI":"10.1016\/j.trsl.2015.01.007","type":"journal-article","created":{"date-parts":[[2015,1,28]],"date-time":"2015-01-28T04:41:29Z","timestamp":1422420089000},"page":"176-187","update-policy":"http:\/\/dx.doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":4,"title":["Evidence
        for metabolic aberrations in asymptomatic persons with type 2 diabetes after
        initiation of simvastatin therapy"],"prefix":"10.1016","volume":"166","author":[{"given":"Manish","family":"Suneja","sequence":"first","affiliation":[]},{"given":"Daniel
        K.","family":"Fox","sequence":"additional","affiliation":[]},{"given":"Brian
        D.","family":"Fink","sequence":"additional","affiliation":[]},{"given":"Judy
        A.","family":"Herlein","sequence":"additional","affiliation":[]},{"given":"Christopher
        M.","family":"Adams","sequence":"additional","affiliation":[]},{"given":"William
        I.","family":"Sivitz","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.trsl.2015.01.007_bib1","series-title":"Standards
        of care. Diabetes care","year":"2008"},{"key":"10.1016\/j.trsl.2015.01.007_bib2","doi-asserted-by":"crossref","first-page":"C1208","DOI":"10.1152\/ajpcell.00226.2006","article-title":"Statin-induced
        apoptosis and skeletal myopathy","volume":"291","author":"Dirks","year":"2006","journal-title":"Am
        J Physiol Cell Physiol"},{"key":"10.1016\/j.trsl.2015.01.007_bib3","doi-asserted-by":"crossref","first-page":"389","DOI":"10.1007\/s11883-007-0050-3","article-title":"Statin
        myopathy: incidence, risk factors, and pathophysiology","volume":"9","author":"Sewright","year":"2007","journal-title":"Curr
        Atheroscler Rep"},{"issue":"suppl","key":"10.1016\/j.trsl.2015.01.007_bib4","doi-asserted-by":"crossref","first-page":"S62","DOI":"10.1016\/j.mito.2007.03.007","article-title":"Endogenous
        synthesis of coenzyme Q in eukaryotes","volume":"7","author":"Tran","year":"2007","journal-title":"Mitochondrion"},{"key":"10.1016\/j.trsl.2015.01.007_bib5","doi-asserted-by":"cros[...]
