---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/licenses?query=creative
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.2.0 Serrano/v1.0.0 (mailto:<email>)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"license-list","message-version":"1.0.0","message":{"total-results":232,"items":[{"URL":"http:\/\/academic.oup.com\/journals\/pages\/about_us\/legal\/notices","work-count":1},{"URL":"http:\/\/aspb.org\/publications\/aspb-journals\/open-articles","work-count":2},{"URL":"http:\/\/creativecommons.org\/licenses\/BY-NC\/4.0","work-count":2},{"URL":"http:\/\/creativecommons.org\/licenses\/BY-SA\/4.0","work-count":3},{"URL":"http:\/\/creativecommons.org\/licenses\/BY\/4.0","work-count":5},{"URL":"http:\/\/creativecommons.org\/licenses\/CC\/by-nc-nd\/4.0\/","work-count":1},{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0","work-count":100},{"URL":"http:\/\/cr[...]
