---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.5.1 Serrano/v1.0.0 (mailto:myrmecocystus@gmail.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":409609,"items":[{"indexed":{"date-parts":[[2021,7,27]],"date-time":"2021-07-27T12:40:39Z","timestamp":1627389639873},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"abstract":"<p>Ecosystem
        ecology is a branch of study and thinking within the ecological sciences that
        focuses on the ecosystem\u2014a dynamic network of interactions of organisms
        and their environment\u2014and the importance of these interactions to the
        organisms and earth system processes. The discipline represents one of two
        different epistemological approaches within ecology that emerged in the 20th
        century: a species-centric community-based approach, and a process-centric
        ecosystem-based approach. Both approaches study the ways in which species
        interact among themselves and their environment, share a common language,
        and share a common set of principles. The community-based approach focuses
        on how species\u2019 distributions and abundances are shaped by their resource
        needs and tolerances to environmental conditions, and by their interactions
        with ot[...]
